In [4]:
import pandas as pd  # 데이터 분석을 위한 pandas 라이브러리

# CSV 파일 경로 (파일 경로를 본인 환경에 맞게 수정)
csv_file_path = "dataset0217_complete_ver.csv"  # 업로드한 파일 경로
df_dataset = pd.read_csv(csv_file_path, low_memory=False)

# 행 수 출력
print(f"총 행 수: {df_dataset.shape[0]}")
df_dataset.head()

총 행 수: 548385

,Unnamed: 0,인덱스,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,...,건물용도,신고구분,신고한 개업공인중개사 시군구명,건물면적정수,이전 실거래가(만원),자치구최근6개월거래량,자치구최근6개월평균금액,동최근6개월거래량,동최근6개월평균금액,자치구법정동코드
0,0,0,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,...,오피스텔,직거래,NaN,26,6991.0,1827.0,67301.1970,243.0,68213.0288,1123010400
1,1,1,2025,11440,마포구,10400,도화동,1.0,대지,550.0,...,아파트,직거래,NaN,72,129500.0,1881.0,86733.8729,139.0,85297.1223,1144010400
2,2,2,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,...,연립다세대,직거래,NaN,34,10463.0,1827.0,67301.1970,243.0,68213.0288,1123010400
3,3,3,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,...,연립다세대,직거래,NaN,34,10463.0,1827.0,67301.1970,243.0,68213.0288,1123010400
4,4,4,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,...,연립다세대,직거래,NaN,34,10463.0,1827.0,67301.1970,243.0,68213.0288,1123010400

- 금리

In [6]:
import pandas as pd

# CSV 파일 경로 (본인 환경에 맞게 변경)
csv_file_path = "한국은행 기준금리 및 여수신금리(201912_202502).csv"

# CSV 파일을 데이터프레임으로 읽기
rate_df = pd.read_csv(csv_file_path, encoding="utf-8", low_memory=False)

# 데이터프레임 전치 (Transpose) → 행과 열을 바꿈
df_transposed = rate_df.T  # 행과 열을 바꾸기
df_transposed

                                   0
통계표         1.3.1. 한국은행 기준금리 및 여수신금리
계정항목                       한국은행 기준금리
단위                                연%
변환                               원자료
2019/12/31                      1.25
...                              ...
2025/02/10                       3.0
2025/02/11                       3.0
2025/02/12                       3.0
2025/02/13                       3.0
2025/02/14                       3.0

[1269 rows x 1 columns]

In [9]:
#한번만 실행
df_transposed = df_transposed.reset_index()  # 인덱스를 컬럼으로 변환
df_transposed.columns = df_transposed.iloc[1]
df_transposed

1           계정항목                 한국은행 기준금리
0            통계표  1.3.1. 한국은행 기준금리 및 여수신금리
1           계정항목                 한국은행 기준금리
2             단위                        연%
3             변환                       원자료
4     2019/12/31                      1.25
...          ...                       ...
1264  2025/02/10                       3.0
1265  2025/02/11                       3.0
1266  2025/02/12                       3.0
1267  2025/02/13                       3.0
1268  2025/02/14                       3.0

[1269 rows x 2 columns]

In [11]:
df_transposed = df_transposed[4:].reset_index(drop=True)
df_transposed.head()

1        계정항목 한국은행 기준금리
0  2019/12/31      1.25
1  2020/01/02      1.25
2  2020/01/03      1.25
3  2020/01/06      1.25
4  2020/01/07      1.25

In [13]:
# CSV 파일로 저장 (선택 사항, 필요 시 실행)
df_transposed.to_csv("기준금리_데이터.csv", index=False)

In [15]:
import pandas as pd

interest_rate_path = "기준금리_데이터.csv"
df_interest_rate = pd.read_csv(interest_rate_path, encoding="utf-8", low_memory=False)

print(df_dataset['계약일'].dtype)

int64

In [17]:
# YYYYMMDD 형식으로 되어 있다면, 이를 문자열로 변환한 후 to_datetime()을 적용합니다.
# 날짜 변환 (df_dataset)
df_dataset['계약일(날짜)'] = df_dataset['계약일'].astype(str).str.replace(r'[^\d]', '', regex=True)
df_dataset['계약일(날짜)'] = pd.to_datetime(df_dataset['계약일(날짜)'], format='%Y%m%d', errors='coerce')
print(df_dataset[['계약일(날짜)']])

# 날짜 변환 (df_interest_rate)
df_interest_rate['계정항목(날짜)'] = pd.to_datetime(df_interest_rate['계정항목'], errors='coerce')
df_interest_rate

          계약일(날짜)
0      2025-02-13
1      2025-02-13
2      2025-02-13
3      2025-02-13
4      2025-02-13
...           ...
548380 2020-01-01
548381 2020-06-06
548382 2020-02-19
548383 2020-01-11
548384 2020-01-02

[548385 rows x 1 columns]

            계정항목  한국은행 기준금리   계정항목(날짜)
0     2019/12/31       1.25 2019-12-31
1     2020/01/02       1.25 2020-01-02
2     2020/01/03       1.25 2020-01-03
3     2020/01/06       1.25 2020-01-06
4     2020/01/07       1.25 2020-01-07
...          ...        ...        ...
1260  2025/02/10       3.00 2025-02-10
1261  2025/02/11       3.00 2025-02-11
1262  2025/02/12       3.00 2025-02-12
1263  2025/02/13       3.00 2025-02-13
1264  2025/02/14       3.00 2025-02-14

[1265 rows x 3 columns]

In [19]:
# 데이터 정렬 (merge_asof 사용을 위해 필수)
df_dataset = df_dataset.sort_values(by="계약일(날짜)")
df_interest_rate = df_interest_rate.sort_values(by="계정항목(날짜)")

print(df_dataset.head())
df_interest_rate.head()

        Unnamed: 0     인덱스  접수연도  자치구코드  자치구명  법정동코드  법정동명  지번구분 지번구분명  \
548298      548310  548332  2020  11290   성북구  13600  하월곡동   1.0    대지
548320      548332  548354  2020  11260   중랑구  10400    묵동   1.0    대지
548322      548334  548356  2020  11305   강북구  10100   미아동   1.0    대지
548323      548335  548357  2020  11410  서대문구  11100   홍제동   NaN   NaN
548324      548336  548358  2020  11305   강북구  10100   미아동   1.0    대지

            본번  ...  신고구분 신고한 개업공인중개사 시군구명  건물면적정수  이전 실거래가(만원)  자치구최근6개월거래량  \
548298   222.0  ...   NaN              NaN      84      65300.0       4192.0
548320   235.0  ...   NaN              NaN      45          NaN       3475.0
548322  1353.0  ...   NaN              NaN      84      55000.0       4164.0
548323     NaN  ...   NaN              NaN     167          NaN       5147.0
548324  1353.0  ...   NaN              NaN      84      54000.0       6373.0

        자치구최근6개월평균금액  동최근6개월거래량  동최근6개월평균금액    자치구법정동코드    계약일(날짜)
548298    44427.6880      893.0  40519.3953  1129013600 2020-01-01
548320    53100.3945      574.0  45633.7909  1126010400 2020-01-01
548322    74849.2022      453.0  37005.5188  1130510100 2020-01-01
548323    51659.6619      907.0  40689.0992  1141011100 2020-01-01
548324    42854.9018     1408.0  49316.8281  1130510100 2020-01-01

[5 rows x 31 columns]

         계정항목  한국은행 기준금리   계정항목(날짜)
0  2019/12/31       1.25 2019-12-31
1  2020/01/02       1.25 2020-01-02
2  2020/01/03       1.25 2020-01-03
3  2020/01/06       1.25 2020-01-06
4  2020/01/07       1.25 2020-01-07

In [21]:
# 가장 가까운 과거 날짜 기준으로 병합
df_merged = pd.merge_asof(df_dataset, df_interest_rate, left_on="계약일(날짜)", right_on="계정항목(날짜)", direction="backward")

# 불필요한 "계정항목" 컬럼 제거
df_merged = df_merged.drop(columns=["계정항목"])

df_merged.to_csv("금리추가_데이터(2020-2025).csv", index=False)
df_merged.head()

,Unnamed: 0,인덱스,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,...,건물면적정수,이전 실거래가(만원),자치구최근6개월거래량,자치구최근6개월평균금액,동최근6개월거래량,동최근6개월평균금액,자치구법정동코드,계약일(날짜),한국은행 기준금리,계정항목(날짜)
0,548310,548332,2020,11290,성북구,13600,하월곡동,1.0,대지,222.0,...,84,65300.0,4192.0,44427.6880,893.0,40519.3953,1129013600,2020-01-01,1.25,2019-12-31
1,548332,548354,2020,11260,중랑구,10400,묵동,1.0,대지,235.0,...,45,NaN,3475.0,53100.3945,574.0,45633.7909,1126010400,2020-01-01,1.25,2019-12-31
2,548334,548356,2020,11305,강북구,10100,미아동,1.0,대지,1353.0,...,84,55000.0,4164.0,74849.2022,453.0,37005.5188,1130510100,2020-01-01,1.25,2019-12-31
3,548335,548357,2020,11410,서대문구,11100,홍제동,NaN,NaN,NaN,...,167,NaN,5147.0,51659.6619,907.0,40689.0992,1141011100,2020-01-01,1.25,2019-12-31
4,548336,548358,2020,11305,강북구,10100,미아동,1.0,대지,1353.0,...,84,54000.0,6373.0,42854.9018,1408.0,49316.8281,1130510100,2020-01-01,1.25,2019-12-31

In [22]:
print(f"총 행 수: {df_merged.shape[0]}")

총 행 수: 548385

- 대출금리(변동,고정)

In [24]:
# 계약일을 날짜 형식으로 변환 (숫자로 저장된 경우 대비)
df_dataset["계약연월"] = pd.to_datetime(df_dataset["계약일"].astype(str), format="%Y%m%d", errors="coerce")

# 계약연월 컬럼 생성 (YYYYMM 형식)
df_dataset["계약연월"] = df_dataset["계약연월"].dt.strftime("%Y%m")

In [25]:
# 금리 데이터 가공 (전치 및 컬럼 정리)
import pandas as pd

merged_file_path = "금리추가_데이터(2020-2025).csv"
csv_file_path = "예금은행 대출금리(신규취급액 기준).csv" 

df_csv = pd.read_csv(csv_file_path, encoding="utf-8", low_memory=False)
df_merged = pd.read_csv(merged_file_path, encoding="utf-8", low_memory=False)

df_trans = df_csv.T  # 행과 열을 바꾸기
df_trans = df_trans.reset_index()  # 인덱스를 컬럼으로 변환
df_trans

df_trans.columns = df_trans.iloc[1]  # 첫 번째 행을 컬럼명으로 설정
df_trans = df_trans[4:].reset_index(drop=True)  # 첫 번째 행 제거 후 인덱스 초기화
df_trans.columns = df_trans.columns.str.replace("3)", "", regex=False)
df_trans.head()

1     계정항목         고정형 주택담보대출          변동형 주택담보대출
0  2020/01                2.42                 2.9
1  2020/02                2.47                2.74
2  2020/03                2.43                2.66
3  2020/04                2.55                2.66
4  2020/05                2.52                2.53

In [26]:
# 📌 "계정항목"을 문자열로 변환 후, 날짜 변환하여 "계정연월" 생성
df_trans["계정연월"] = pd.to_datetime(df_trans["계정항목"].astype(str), errors="coerce").dt.strftime("%Y%m")

# 📌 "계약일"을 변환하여 "계약연월" 생성 (YYYYMM 형식)
df_merged["계약연월"] = pd.to_datetime(df_merged["계약일"].astype(str), format="%Y%m%d", errors="coerce")
df_merged["계약연월"] = df_merged["계약연월"].dt.strftime("%Y%m")

# 📌 astype(int)를 사용해 문자열을 숫자로 변환하여 merge_asof가 동작하도록 함.
df_merged["계약연월"] = df_merged["계약연월"].astype(int)
df_trans["계정연월"] = df_trans["계정연월"].astype(int)

print(df_trans.head())
df_merged.head()

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_21416\765918381.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_trans["계정연월"] = pd.to_datetime(df_trans["계정항목"].astype(str), errors="coerce").dt.strftime("%Y%m")

1     계정항목         고정형 주택담보대출          변동형 주택담보대출     계정연월
0  2020/01                2.42                 2.9  202001
1  2020/02                2.47                2.74  202002
2  2020/03                2.43                2.66  202003
3  2020/04                2.55                2.66  202004
4  2020/05                2.52                2.53  202005

,Unnamed: 0,인덱스,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,...,이전 실거래가(만원),자치구최근6개월거래량,자치구최근6개월평균금액,동최근6개월거래량,동최근6개월평균금액,자치구법정동코드,계약일(날짜),한국은행 기준금리,계정항목(날짜),계약연월
0,548310,548332,2020,11290,성북구,13600,하월곡동,1.0,대지,222.0,...,65300.0,4192.0,44427.6880,893.0,40519.3953,1129013600,2020-01-01,1.25,2019-12-31,202001
1,548332,548354,2020,11260,중랑구,10400,묵동,1.0,대지,235.0,...,NaN,3475.0,53100.3945,574.0,45633.7909,1126010400,2020-01-01,1.25,2019-12-31,202001
2,548334,548356,2020,11305,강북구,10100,미아동,1.0,대지,1353.0,...,55000.0,4164.0,74849.2022,453.0,37005.5188,1130510100,2020-01-01,1.25,2019-12-31,202001
3,548335,548357,2020,11410,서대문구,11100,홍제동,NaN,NaN,NaN,...,NaN,5147.0,51659.6619,907.0,40689.0992,1141011100,2020-01-01,1.25,2019-12-31,202001
4,548336,548358,2020,11305,강북구,10100,미아동,1.0,대지,1353.0,...,54000.0,6373.0,42854.9018,1408.0,49316.8281,1130510100,2020-01-01,1.25,2019-12-31,202001

In [27]:
# 📌 "계약연월"을 기준으로 "계정연월"과 매칭하여 "고정형 주택담보대출", "변동형 주택담보대출" 컬럼 추가
# df_merged = df_merged.merge(df_trans[["계정연월", "고정형 주택담보대출", "변동형 주택담보대출"]], 
#                             left_on="계약연월", 
#                             right_on="계정연월", 
#                             how="left")

df_merged = df_merged.sort_values(by="계약일(날짜)")
df_trans = df_trans.sort_values(by="계정연월")

df_merged = pd.merge_asof(df_merged, df_trans, left_on="계약연월", right_on="계정연월", direction="backward")
df_merged

,Unnamed: 0,인덱스,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,...,동최근6개월평균금액,자치구법정동코드,계약일(날짜),한국은행 기준금리,계정항목(날짜),계약연월,계정항목,고정형 주택담보대출,변동형 주택담보대출,계정연월
0,548310,548332,2020,11290,성북구,13600,하월곡동,1.0,대지,222.0,...,40519.3953,1129013600,2020-01-01,1.25,2019-12-31,202001,2020/01,2.42,2.9,202001
1,548392,548414,2020,11380,은평구,10400,갈현동,1.0,대지,432.0,...,40554.1232,1138010400,2020-01-01,1.25,2019-12-31,202001,2020/01,2.42,2.9,202001
2,548391,548413,2020,11620,관악구,10100,봉천동,1.0,대지,635.0,...,41254.2535,1162010100,2020-01-01,1.25,2019-12-31,202001,2020/01,2.42,2.9,202001
3,548390,548412,2020,11350,노원구,10300,공릉동,1.0,대지,747.0,...,26283.1252,1135010300,2020-01-01,1.25,2019-12-31,202001,2020/01,2.42,2.9,202001
4,548389,548411,2020,11470,양천구,10200,목동,1.0,대지,941.0,...,41265.8399,1147010200,2020-01-01,1.25,2019-12-31,202001,2020/01,2.42,2.9,202001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548380,3,3,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,...,68213.0288,1123010400,2025-02-13,3.00,2025-02-13,202502,2024/12,4.23,4.32,202412
548381,16,16,2025,11680,강남구,10500,삼성동,1.0,대지,143.0,...,162327.2207,1168010500,2025-02-13,3.00,2025-02-13,202502,2024/12,4.23,4.32,202412
548382,1,1,2025,11440,마포구,10400,도화동,1.0,대지,550.0,...,85297.1223,1144010400,2025-02-13,3.00,2025-02-13,202502,2024/12,4.23,4.32,202412
548383,17,17,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,...,68213.0288,1123010400,2025-02-13,3.00,2025-02-13,202502,2024/12,4.23,4.32,202412
548384,0,0,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,...,68213.0288,1123010400,2025-02-13,3.00,2025-02-13,202502,2024/12,4.23,4.32,202412

In [28]:
# 행 수 출력
print(f"총 행 수: {df_merged.shape[0]}")

총 행 수: 548385

In [29]:
# 불필요한 "계정항목" , 계정연월 컬럼 제거
df_merged = df_merged.drop(columns=["계정항목"])
df_merged = df_merged.drop(columns=["계정연월"])

In [32]:
print(f"총 행 수: {df_merged.shape[0]}")
df_merged.tail()

총 행 수: 548385

,Unnamed: 0,인덱스,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,...,자치구최근6개월평균금액,동최근6개월거래량,동최근6개월평균금액,자치구법정동코드,계약일(날짜),한국은행 기준금리,계정항목(날짜),계약연월,고정형 주택담보대출,변동형 주택담보대출
548380,3,3,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,...,67301.1970,243.0,68213.0288,1123010400,2025-02-13,3.0,2025-02-13,202502,4.23,4.32
548381,16,16,2025,11680,강남구,10500,삼성동,1.0,대지,143.0,...,205116.1836,145.0,162327.2207,1168010500,2025-02-13,3.0,2025-02-13,202502,4.23,4.32
548382,1,1,2025,11440,마포구,10400,도화동,1.0,대지,550.0,...,86733.8729,139.0,85297.1223,1144010400,2025-02-13,3.0,2025-02-13,202502,4.23,4.32
548383,17,17,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,...,67301.1970,243.0,68213.0288,1123010400,2025-02-13,3.0,2025-02-13,202502,4.23,4.32
548384,0,0,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,...,67301.1970,243.0,68213.0288,1123010400,2025-02-13,3.0,2025-02-13,202502,4.23,4.32

In [33]:
df_merged.to_csv("기준금리_대출금리_추가_데이터(2020-2025).csv", index=False)

In [34]:
df_merged.head()

,Unnamed: 0,인덱스,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,...,자치구최근6개월평균금액,동최근6개월거래량,동최근6개월평균금액,자치구법정동코드,계약일(날짜),한국은행 기준금리,계정항목(날짜),계약연월,고정형 주택담보대출,변동형 주택담보대출
0,548310,548332,2020,11290,성북구,13600,하월곡동,1.0,대지,222.0,...,44427.6880,893.0,40519.3953,1129013600,2020-01-01,1.25,2019-12-31,202001,2.42,2.9
1,548392,548414,2020,11380,은평구,10400,갈현동,1.0,대지,432.0,...,44464.0510,1307.0,40554.1232,1138010400,2020-01-01,1.25,2019-12-31,202001,2.42,2.9
2,548391,548413,2020,11620,관악구,10100,봉천동,1.0,대지,635.0,...,47165.7564,1373.0,41254.2535,1162010100,2020-01-01,1.25,2019-12-31,202001,2.42,2.9
3,548390,548412,2020,11350,노원구,10300,공릉동,1.0,대지,747.0,...,35200.7107,743.0,26283.1252,1135010300,2020-01-01,1.25,2019-12-31,202001,2.42,2.9
4,548389,548411,2020,11470,양천구,10200,목동,1.0,대지,941.0,...,35860.0610,1324.0,41265.8399,1147010200,2020-01-01,1.25,2019-12-31,202001,2.42,2.9

In [35]:
df_merged.loc[(df_merged['본번'] == 0) & (df_merged['부번'] == 4)]

Empty DataFrame
Columns: [Unnamed: 0, 인덱스, 접수연도, 자치구코드, 자치구명, 법정동코드, 법정동명, 지번구분, 지번구분명, 본번, 부번, 건물명, 계약일, 물건금액(만원), 건물면적(㎡), 토지면적(㎡), 층, 권리구분, 취소일, 건축년도, 건물용도, 신고구분, 신고한 개업공인중개사 시군구명, 건물면적정수, 이전 실거래가(만원), 자치구최근6개월거래량, 자치구최근6개월평균금액, 동최근6개월거래량, 동최근6개월평균금액, 자치구법정동코드, 계약일(날짜), 한국은행 기준금리, 계정항목(날짜), 계약연월,         고정형 주택담보대출 ,         변동형 주택담보대출 ]
Index: []

[0 rows x 36 columns]