In [3]:
import pandas as pd

In [214]:
# df2016 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2016.csv", encoding = 'euc-kr', low_memory=False)
df2017 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2017.csv", encoding = 'euc-kr', low_memory=False)
df2018 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2018.csv", encoding = 'euc-kr', low_memory=False)
df2019 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2019.csv", encoding = 'euc-kr', low_memory=False)
df2020 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2020.csv", encoding = 'euc-kr', low_memory=False)
df2021 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2021.csv", encoding = 'euc-kr', low_memory=False)
df2022 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2022.csv", encoding = 'euc-kr', low_memory=False)
df2023 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2023.csv", encoding = 'euc-kr', low_memory=False)
df2024 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2024.csv", encoding = 'euc-kr', low_memory=False)
df2025 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2025.csv", encoding = 'euc-kr', low_memory=False)

In [218]:
df2016 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2016.csv", encoding = 'euc-kr', low_memory=False)

In [220]:
print(df2016.shape)
print(df2017.shape)
print(df2018.shape)
print(df2019.shape)
print(df2020.shape)
print(df2021.shape)
print(df2022.shape)
print(df2023.shape)
print(df2024.shape)
print(df2020.shape)

(209621, 21)
(187264, 21)
(166717, 21)
(130673, 21)
(183900, 21)
(138697, 21)
(66341, 21)
(69791, 21)
(96552, 21)
(183900, 21)

In [397]:
# 여러 개의 DataFrame을 리스트로 묶어 한 번에 병합
df_list = [df2025, df2024, df2023, df2022, df2021, df2020, df2019, df2018, df2017, df2016]
df = pd.concat(df_list, ignore_index=True)

In [399]:
df.head()

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,92.0,이도인빌딩,...,6991,26.350,34.17,5.0,NaN,NaN,2018.0,오피스텔,직거래,NaN
1,2025,11440,마포구,10400,도화동,1.0,대지,550.0,0.0,삼성,...,120000,72.185,0.00,7.0,NaN,NaN,1997.0,아파트,직거래,NaN
2,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,92.0,이도인빌딩,...,10463,34.140,17.00,8.0,NaN,NaN,2018.0,연립다세대,직거래,NaN
3,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,92.0,이도인빌딩,...,10463,34.140,17.00,7.0,NaN,NaN,2018.0,연립다세대,직거래,NaN
4,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,92.0,이도인빌딩,...,10463,34.140,17.00,6.0,NaN,NaN,2018.0,연립다세대,직거래,NaN

In [401]:
df.shape

(1257872, 21)

### 바로 이전 실거래가 추가

In [403]:
def add_previous_transaction_price(df, group_cols, price_col):
    """
    특정 그룹(법정동, 건물명 등) 내에서 현재 인덱스 뒤에 등장하는 가장 빠른 실거래가를 추가하는 함수

    :param df: 원본 데이터프레임
    :param group_cols: 그룹화할 컬럼 리스트 (예: ['법정동명', '본번', '부번', '건물명'])
    :param price_col: 실거래가 컬럼명 (예: '물건금액(만원)')
    :return: 다음 실거래가 컬럼이 추가된 데이터프레임 (순서 유지됨)
    """
    # 원래 데이터의 순서를 유지하기 위해 인덱스 추가
    df['원래_인덱스'] = df.index

    # 데이터 정렬 (법정동, 건물명 기준)
    sorted_df = df.sort_values(by=group_cols + ['원래_인덱스'])

    # 그룹별로 다음 등장하는 실거래가를 가져오기 (뒤에서 첫 번째 값)
    sorted_df['이전 실거래가(만원)'] = sorted_df.groupby(group_cols)[price_col].shift(-1)

    # 원래 순서로 복원
    final_df = sorted_df.sort_values(by=['원래_인덱스']).drop(columns=['원래_인덱스'])

    return final_df

In [407]:
df['건물면적정수'] = df['건물면적(㎡)'].astype(int)

In [409]:
df = add_previous_transaction_price(df, ['자치구코드', '법정동코드', '본번', '부번', '건물면적정수'], '물건금액(만원)')

In [410]:
df[['법정동명', '건물명', '물건금액(만원)', '이전 실거래가(만원)']].head(10)

  법정동명     건물명  물건금액(만원)  이전 실거래가(만원)
0  전농동   이도인빌딩      6991       6991.0
1  도화동      삼성    120000     129500.0
2  전농동   이도인빌딩     10463      10463.0
3  전농동   이도인빌딩     10463      10463.0
4  전농동   이도인빌딩     10463      10463.0
5  전농동   이도인빌딩      6991       6991.0
6  대치동  샹제리제센터     20000      15400.0
7  신월동   예성클레식     23200          NaN
8  전농동   이도인빌딩      6991       6991.0
9  전농동   이도인빌딩     10155      10155.0

### 2020~2025 데이터만 필터링

In [411]:
df.shape

(1257872, 23)

In [412]:
df = df[df['계약일'].apply(lambda x: str(x)[:4]).isin(['2020', '2021', '2022', '2023', '2024', '2025'])]

In [416]:
df.shape

(548407, 23)

### 결측치 확인

In [419]:
df.isna().sum().sort_values(ascending=True)

접수연도                     0
건물용도                     0
건물면적(㎡)                  0
건물면적정수                   0
계약일                      0
물건금액(만원)                 0
자치구코드                    0
법정동명                     0
법정동코드                    0
자치구명                     1
건축년도                  3123
층                    33221
본번                   33260
부번                   33260
지번구분명                33272
지번구분                 33272
건물명                  33275
토지면적(㎡)              72403
이전 실거래가(만원)         153599
신고구분                295691
신고한 개업공인중개사 시군구명    341435
취소일                 521050
권리구분                545331
dtype: int64

### API 활용해서 이전 실거래가 계산

In [127]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

# API 요청
url = 'http://openapi.seoul.go.kr:8088/74786756716a696e3132324a5a586d44/xml/tbLnOpendataRtmsV/1/5/'
response = requests.get(url)

# XML 파싱
soup = BeautifulSoup(response.content, 'xml')

# 데이터 추출
rows = soup.find_all('row')

data = []
for row in rows:
    data.append({
        '거래년도': row.find('RCPT_YR').text,
        '자치구명': row.find('CGG_NM').text,
        '법정동명': row.find('STDG_NM').text,
        '건물명': row.find('BLDG_NM').text,
        '계약일': row.find('CTRT_DAY').text,
        '거래금액(만원)': row.find('THING_AMT').text,
        '건물용도': row.find('BLDG_USG').text,
        '건축년도': row.find('ARCH_YR').text,
        '층': row.find('FLR').text,
    })

# DataFrame 변환
api_df = pd.DataFrame(data)

In [129]:
api_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   거래년도      5 non-null      object
 1   자치구명      5 non-null      object
 2   법정동명      5 non-null      object
 3   건물명       5 non-null      object
 4   계약일       5 non-null      object
 5   거래금액(만원)  5 non-null      object
 6   건물용도      5 non-null      object
 7   건축년도      5 non-null      object
 8   층         5 non-null      object
dtypes: object(9)
memory usage: 492.0+ bytes

In [175]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

def add_previous_transaction_price(api_key, df, group_cols, price_col, date_col):
    """
    특정 건물(법정동, 본번, 부번, 건물명) 내에서 이전 계약일의 실거래가를 API를 호출하여 가져와 컬럼을 추가하는 함수.

    :param api_key: API 인증키
    :param df: 원본 데이터프레임 (현재 거래 데이터)
    :param group_cols: 그룹화할 컬럼 리스트 (예: ['법정동코드', '본번', '부번', '건물명'])
    :param price_col: 실거래가 컬럼명 (예: '거래금액(만원)')
    :param date_col: 계약일 컬럼명 (예: '계약일')
    :return: 이전 실거래가 컬럼이 추가된 데이터프레임
    """
    
    # 계약일을 datetime 형식으로 변환 (비교를 위해)
    df[date_col] = pd.to_datetime(df[date_col], format='%Y%m%d')

    # 🔹 API를 호출하여 과거 데이터를 가져오는 함수
    def fetch_past_transaction(law_dong_code, main_no, sub_no, building_name, input_date):
        """
        특정 건물의 계약일 이전 데이터를 API에서 가져오는 함수.
        """
        try:
            # 🔹 API 요청 URL (필터링 조건 추가)
            url = f"http://openapi.seoul.go.kr:8088/{api_key}/xml/tbLnOpendataRtmsV/1/100/"
            params = {
                "STDG_CD": law_dong_code,
                "MNO": main_no,
                "SNO": sub_no,
                "BLDG_NM": building_name,
            }

            # API 호출
            response = requests.get(url, params=params)

            # 🔹 응답 오류 처리
            if response.status_code != 200:
                print(f"⚠ API 요청 실패 (HTTP {response.status_code})")
                return None

            # XML 파싱
            soup = BeautifulSoup(response.content, 'xml')
            rows = soup.find_all('row')

            past_data = []
            for row in rows:
                ctrt_day = row.find('CTRT_DAY')
                thing_amt = row.find('THING_AMT')

                # '계약일'과 '거래금액' 값이 존재하는 경우에만 추가
                if ctrt_day and thing_amt:
                    past_data.append({
                        '계약일': ctrt_day.text.strip(),
                        '거래금액(만원)': thing_amt.text.strip()
                    })

            # DataFrame 변환
            past_df = pd.DataFrame(past_data)

            # **빈 데이터프레임 체크**
            if past_df.empty:
                return None  # 과거 데이터가 없으면 None 반환

            # 계약일 변환
            past_df['계약일'] = pd.to_datetime(past_df['계약일'], format='%Y%m%d')

            # 입력한 계약일 이전 데이터만 남기고, 가장 최근 거래금액 찾기
            past_df = past_df[past_df['계약일'] < input_date].sort_values(by='계약일', ascending=False)

            return past_df['거래금액(만원)'].iloc[0] if not past_df.empty else None  # 가장 최근 거래금액 반환

        except Exception as e:
            print(f"⚠ 오류 발생: {e}")
            return None

    # 🔹 이전 실거래가 추가 (각 행별 API 호출)
    df['이전 실거래가(만원)'] = df.apply(
        lambda row: fetch_past_transaction(
            row['법정동코드'], row['본번'], row['부번'], row['건물명'], row['계약일']
        ), axis=1
    )

    return df

In [207]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

def add_previous_transaction_price(api_key, df, group_cols, price_col, date_col):
    """
    특정 건물(법정동, 본번, 부번, 건물명) 내에서 '이전 실거래가'가 결측치인 행에 대해서만 API 호출하여 값을 추가하는 함수.

    :param api_key: API 인증키
    :param df: 원본 데이터프레임 (현재 거래 데이터)
    :param group_cols: 그룹화할 컬럼 리스트 (예: ['법정동코드', '본번', '부번', '건물명'])
    :param price_col: 실거래가 컬럼명 (예: '거래금액(만원)')
    :param date_col: 계약일 컬럼명 (예: '계약일')
    :return: 이전 실거래가 컬럼이 결측치인 데이터만 업데이트된 DataFrame
    """
    
    # 계약일을 datetime 형식으로 변환 (비교를 위해)
    df[date_col] = pd.to_datetime(df[date_col], format='%Y%m%d')

    # 🔹 API를 호출하여 과거 데이터를 가져오는 함수
    def fetch_past_transaction(law_dong_code, main_no, sub_no, building_name, input_date):
        """
        특정 건물의 계약일 이전 데이터를 API에서 가져오는 함수.
        """
        try:
            # 🔹 API 요청 URL (필터링 조건 추가)
            url = f"http://openapi.seoul.go.kr:8088/{api_key}/xml/tbLnOpendataRtmsV/1/100/"
            params = {
                "STDG_CD": law_dong_code,
                "MNO": main_no,
                "SNO": sub_no,
                "BLDG_NM": building_name,
            }

            # API 호출
            response = requests.get(url, params=params)

            # 🔹 응답 오류 처리
            if response.status_code != 200:
                print(f"⚠ API 요청 실패 (HTTP {response.status_code})")
                return None

            # XML 파싱
            soup = BeautifulSoup(response.content, 'xml')
            rows = soup.find_all('row')

            past_data = []
            for row in rows:
                ctrt_day = row.find('CTRT_DAY')
                thing_amt = row.find('THING_AMT')

                # '계약일'과 '거래금액' 값이 존재하는 경우에만 추가
                if ctrt_day and thing_amt:
                    past_data.append({
                        '계약일': ctrt_day.text.strip(),
                        '거래금액(만원)': thing_amt.text.strip()
                    })

            # DataFrame 변환
            past_df = pd.DataFrame(past_data)

            # **빈 데이터프레임 체크**
            if past_df.empty:
                return None  # 과거 데이터가 없으면 None 반환

            # 계약일 변환
            past_df['계약일'] = pd.to_datetime(past_df['계약일'], format='%Y%m%d')

            # 입력한 계약일 이전 데이터만 남기고, 가장 최근 거래금액 찾기
            past_df = past_df[past_df['계약일'] < input_date].sort_values(by='계약일', ascending=False)

            return past_df['거래금액(만원)'].iloc[0] if not past_df.empty else None  # 가장 최근 거래금액 반환

        except Exception as e:
            print(f"⚠ 오류 발생: {e}")
            return None

    # 🔹 '이전 실거래가' 컬럼이 결측치인 행에 대해서만 API 호출
    mask = df['이전 실거래가(만원)'].isna()

    df.loc[mask, '이전 실거래가(만원)'] = df[mask].apply(
        lambda row: fetch_past_transaction(
            row['법정동코드'], row['본번'], row['부번'], row['건물명'], row['계약일']
        ), axis=1
    )

    return df

In [534]:
df['건물면적정수'] = df['건물면적(㎡)'].astype(int)

In [536]:
df = add_previous_transaction_price(df, ['자치구코드', '법정동코드', '본번', '부번', '건물면적정수'], '물건금액(만원)')

In [538]:
df = df[df['계약일'].apply(lambda x: str(x)[:4]).isin(['2019', '2020', '2021', '2022', '2023', '2024', '2025'])]

In [539]:
df.shape

(689611, 23)

In [540]:
df.isna().sum().sort_values(ascending=True)

접수연도                     0
건물용도                     0
건물면적(㎡)                  0
건물면적정수                   0
계약일                      0
물건금액(만원)                 0
법정동명                     0
법정동코드                    0
자치구코드                    0
자치구명                     1
건축년도                  3330
층                    43415
본번                   43462
부번                   43462
건물명                  43469
지번구분명                43474
지번구분                 43474
토지면적(㎡)             139572
이전 실거래가(만원)         161070
신고구분                436895
신고한 개업공인중개사 시군구명    482639
취소일                 662254
권리구분                684422
dtype: int64

In [260]:
df2014 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2014.csv", encoding = 'euc-kr', low_memory=False)
df2015 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2015.csv", encoding = 'euc-kr', low_memory=False)

In [272]:
df2013 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2013.csv", encoding = 'euc-kr', low_memory=False)
df2012 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2012.csv", encoding = 'euc-kr', low_memory=False)
df2011 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2011.csv", encoding = 'euc-kr', low_memory=False)
df2010 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2010.csv", encoding = 'euc-kr', low_memory=False)

In [421]:
df2009 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2009.csv", encoding = 'euc-kr', low_memory=False)
df2008 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2008.csv", encoding = 'euc-kr', low_memory=False)
df2007 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2007.csv", encoding = 'euc-kr', low_memory=False)
df2006 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2006.csv", encoding = 'euc-kr', low_memory=False)

In [455]:
df_list = [df2025, df2024, df2023, df2022, df2021, df2020, df2019, df2018, df2017, df2016, df2015, df2014, df2013, df2012, df2011, df2010, df2009, df2008, df2007, df2006]
df = pd.concat(df_list, ignore_index=True)

In [467]:
df[['법정동명', '건물명', '물건금액(만원)', '이전 실거래가(만원)']].head(10)

  법정동명     건물명  물건금액(만원)  이전 실거래가(만원)
0  전농동   이도인빌딩      6991       6991.0
1  도화동      삼성    120000     129500.0
2  전농동   이도인빌딩     10463      10463.0
3  전농동   이도인빌딩     10463      10463.0
4  전농동   이도인빌딩     10463      10463.0
5  전농동   이도인빌딩      6991       6991.0
6  대치동  샹제리제센터     20000      15400.0
7  신월동   예성클레식     23200          NaN
8  전농동   이도인빌딩      6991       6991.0
9  전농동   이도인빌딩     10155      10155.0

In [532]:
df_list = [df2025, df2024, df2023, df2022, df2021, df2020, df2019, df2018, df2017, df2016, df2015, df2014, df2013, df2012, df2011, df2010, df2009, df2008, df2007, df2006]
df = pd.concat(df_list, ignore_index=True)

In [529]:
df = df[df['계약일'].apply(lambda x: str(x)[:4]).isin(['2019', '2020', '2021', '2022', '2023', '2024', '2025'])]

In [524]:
import pandas as pd

# 계약일을 datetime 형식으로 변환 (날짜 계산을 위해)
df['계약일'] = pd.to_datetime(df['계약일'], format='%Y%m%d')

# 🔹 각 행의 계약일 기준으로 최근 6개월(180일) 동안의 평균 실거래가 및 거래량 계산
def calculate_past_6months_avg(row, df):
    """
    해당 행의 계약일 기준 최근 6개월 동안의 같은 자치구 + 법정동의 평균 실거래가 및 거래량 계산
    """
    # 현재 행의 자치구코드, 법정동코드 및 계약일 가져오기
    district_code = row['자치구코드']
    law_dong_code = row['법정동코드']
    contract_date = row['계약일']

    # 🔹 자치구코드 + 법정동코드가 같은 데이터 중 최근 6개월 이내 거래 필터링
    past_6months_df = df[
        (df['자치구코드'] == district_code) & 
        (df['법정동코드'] == law_dong_code) & 
        (df['계약일'] >= contract_date - pd.Timedelta(days=180)) & 
        (df['계약일'] < contract_date)  # 현재 계약일 제외
    ]

    # 🔹 평균 실거래가 및 거래량(거래 건수) 계산
    avg_price = past_6months_df['물건금액(만원)'].mean()
    transaction_count = past_6months_df.shape[0]  # 거래 건수

    return pd.Series([avg_price, transaction_count])

In [526]:
# 🔹 계약연도가 2020~2025인 경우에만 계산
mask = df['계약일'].apply(lambda x: 2020 <= x.year <= 2025)

df.loc[mask, ['최근6개월_평균실거래가(만원)', '최근6개월_거래량']] = df[mask].apply(
    lambda row: calculate_past_6months_avg(row, df), axis=1
)

KeyboardInterrupt

In [522]:
df.shape

(689611, 23)

In [544]:
df.to_csv("C:/ZIPcoding/2019~2025 data.csv", index = False)

In [546]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 689611 entries, 0 to 694274
Data columns (total 23 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              689611 non-null  int64
 1   자치구코드             689611 non-null  int64
 2   자치구명              689610 non-null  object
 3   법정동코드             689611 non-null  int64
 4   법정동명              689611 non-null  object
 5   지번구분              646137 non-null  float64
 6   지번구분명             646137 non-null  object
 7   본번                646149 non-null  object
 8   부번                646149 non-null  object
 9   건물명               646142 non-null  object
 10  계약일               689611 non-null  int64
 11  물건금액(만원)          689611 non-null  int64
 12  건물면적(㎡)           689611 non-null  float64
 13  토지면적(㎡)           550039 non-null  float64
 14  층                 646196 non-null  float64
 15  권리구분              5189 non-null    object
 16  취소일               27357 non-null   float64
 17  건축년도              686281 non-null  float64
 18  건물용도              689611 non-null  object
 19  신고구분              252716 non-null  object
 20  신고한 개업공인중개사 시군구명  206972 non-null  object
 21  건물면적정수            689611 non-null  int32
 22  이전 실거래가(만원)       528541 non-null  float64
dtypes: float64(7), int32(1), int64(5), object(10)
memory usage: 123.6+ MB

In [7]:
df2019 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2019.csv", encoding = 'euc-kr', low_memory=False)
df2020 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2020.csv", encoding = 'euc-kr', low_memory=False)
df2021 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2021.csv", encoding = 'euc-kr', low_memory=False)
df2022 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2022.csv", encoding = 'euc-kr', low_memory=False)
df2023 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2023.csv", encoding = 'euc-kr', low_memory=False)
df2024 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2024.csv", encoding = 'euc-kr', low_memory=False)
df2025 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2025.csv", encoding = 'euc-kr', low_memory=False)

In [8]:
# 여러 개의 DataFrame을 리스트로 묶어 한 번에 병합
df_list = [df2025, df2024, df2023, df2022, df2021, df2020, df2019]
df = pd.concat(df_list, ignore_index=True)

In [27]:

df.to_excel("C:/ZIPcoding/original_data.xlsx", index = False)

KeyboardInterrupt:

In [29]:
import pandas as pd

# CSV 파일 읽기
file_path = "C:/ZIPcoding/original_data.csv"
df1 = pd.read_csv(file_path)

# 컬럼 개수 확인
print(f"CSV 컬럼 개수: {len(df1.columns)}")
print(f"CSV 컬럼 목록: {df1.columns.tolist()}")

CSV 컬럼 개수: 21
CSV 컬럼 목록: ['접수연도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분', '지번구분명', '본번', '부번', '건물명', '계약일', '물건금액(만원)', '건물면적(㎡)', '토지면적(㎡)', '층', '권리구분', '취소일', '건축년도', '건물용도', '신고구분', '신고한 개업공인중개사 시군구명']

C:\Users\user\AppData\Local\Temp\ipykernel_2600\2095032781.py:5: DtypeWarning: Columns (7,8,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(file_path)

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 694270 entries, 0 to 694269
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              694270 non-null  int64
 1   자치구코드             694270 non-null  int64
 2   자치구명              694269 non-null  object
 3   법정동코드             694270 non-null  int64
 4   법정동명              694270 non-null  object
 5   지번구분              650014 non-null  float64
 6   지번구분명             650014 non-null  object
 7   본번                650026 non-null  object
 8   부번                650026 non-null  object
 9   건물명               650019 non-null  object
 10  계약일               694270 non-null  int64
 11  물건금액(만원)          694270 non-null  int64
 12  건물면적(㎡)           694270 non-null  float64
 13  토지면적(㎡)           553310 non-null  float64
 14  층                 650073 non-null  float64
 15  권리구분              5288 non-null    object
 16  취소일               27357 non-null   float64
 17  건축년도              690933 non-null  float64
 18  건물용도              694270 non-null  object
 19  신고구분              252716 non-null  object
 20  신고한 개업공인중개사 시군구명  206972 non-null  object
dtypes: float64(6), int64(5), object(10)
memory usage: 111.2+ MB

In [35]:
pip install pandas mysql-connector-python sqlalchemy pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: pymysql in c:\users\user\appdata\roaming\python\python312\site-packages (1.1.1)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---- ----------------------------------- 1.8/16.1 MB 10.0 MB/s eta 0:00:02
   --------- ------------------------------ 3.9/16.1 MB 10.7 MB/s eta 0:00:02
   ----------------- ---------------------- 7.1/16.1 MB 11.8 MB/s eta 0:00:01
   -------------------------- ------------- 10.5/16.1 MB 13.1 MB/s eta 0:00:01
   ---------------------------------- ----- 13.9/16.1 MB 13.6 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 13.5 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0
Note: you may need to restart the kernel to use updated packages.

In [53]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

# MySQL 연결 정보
HOST = "localhost"  # 또는 "127.0.0.1"
USER = "root"
PASSWORD = "toor"
DATABASE = "zipcoding"

# SQLAlchemy 엔진 생성 (Pandas to_sql을 사용하기 위함)
engine = create_engine(f"mysql+pymysql://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

# mysql.connector를 사용한 연결 (커서 사용 가능)
conn = mysql.connector.connect(
    host=HOST,
    user=USER,
    password=PASSWORD,
    database=DATABASE
)
cursor = conn.cursor()

In [55]:
df.to_sql(name="original_data", con=engine, if_exists="append", index=True)

694270

In [41]:
df.columns

Index(['접수연도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분', '지번구분명', '본번', '부번',
       '건물명', '계약일', '물건금액(만원)', '건물면적(㎡)', '토지면적(㎡)', '층', '권리구분', '취소일',
       '건축년도', '건물용도', '신고구분', '신고한 개업공인중개사 시군구명'],
      dtype='object')

In [43]:
df.columns =  ['접수연도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분', '지번구분명', '본번', '부번',
       '건물명', '계약일', '물건금액', '건물면적', '토지면적', '층', '권리구분', '취소일',
       '건축년도', '건물용도', '신고구분', '신고한개업공인중개사시군구명']

In [49]:
conn.commit()

In [51]:
cursor.close()
conn.close()
engine.dispose()

In [57]:
df

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,물건금액,건물면적,토지면적,층,권리구분,취소일,건축년도,건물용도,신고구분,신고한개업공인중개사시군구명
0,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,92.0,이도인빌딩,...,6991,26.350,34.17,5.0,NaN,NaN,2018.0,오피스텔,직거래,NaN
1,2025,11440,마포구,10400,도화동,1.0,대지,550.0,0.0,삼성,...,120000,72.185,0.00,7.0,NaN,NaN,1997.0,아파트,직거래,NaN
2,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,92.0,이도인빌딩,...,10463,34.140,17.00,8.0,NaN,NaN,2018.0,연립다세대,직거래,NaN
3,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,92.0,이도인빌딩,...,10463,34.140,17.00,7.0,NaN,NaN,2018.0,연립다세대,직거래,NaN
4,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,92.0,이도인빌딩,...,10463,34.140,17.00,6.0,NaN,NaN,2018.0,연립다세대,직거래,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694265,2019,11545,금천구,10200,독산동,1.0,대지,0441,14.0,롯데캐슬 골드파크 ３차,...,40550,59.970,0.00,16.0,분양권,NaN,0.0,아파트,NaN,NaN
694266,2019,11545,금천구,10200,독산동,1.0,대지,0441,14.0,롯데캐슬 골드파크 ３차,...,40880,59.970,0.00,34.0,분양권,NaN,0.0,아파트,NaN,NaN
694267,2019,11545,금천구,10200,독산동,1.0,대지,0441,14.0,롯데캐슬 골드파크 ３차,...,40850,59.970,0.00,28.0,분양권,NaN,0.0,아파트,NaN,NaN
694268,2019,11350,노원구,10500,상계동,1.0,대지,0456,65.0,청구빌라,...,6300,42.460,24.50,-1.0,NaN,NaN,1994.0,연립다세대,NaN,NaN
694269,2019,11740,강동구,10900,천호동,1.0,대지,0528,0.0,삼성,...,63000,114.650,NaN,4.0,NaN,NaN,1997.0,아파트,NaN,NaN

In [59]:
# ✅ 기존 인덱스를 새로운 컬럼("인덱스")으로 변환
df.reset_index(inplace=True)  
df.rename(columns={"index": "인덱스"}, inplace=True)  # ✅ 컬럼명을 "인덱스"로 변경

In [61]:
df.columns

Index(['인덱스', '접수연도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분', '지번구분명', '본번',
       '부번', '건물명', '계약일', '물건금액', '건물면적', '토지면적', '층', '권리구분', '취소일', '건축년도',
       '건물용도', '신고구분', '신고한개업공인중개사시군구명'],
      dtype='object')

In [79]:

# ✅ `계약일`을 `DATE` 타입으로 변환
df["계약일"] = pd.to_datetime(df["계약일"], format="%Y-%m-%d").dt.date  # `DATE` 형식 변환

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 694270 entries, 0 to 694269
Data columns (total 22 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   인덱스             694270 non-null  int64
 1   접수연도            694270 non-null  int64
 2   자치구코드           694270 non-null  int64
 3   자치구명            694269 non-null  object
 4   법정동코드           694270 non-null  int64
 5   법정동명            694270 non-null  object
 6   지번구분            650014 non-null  float64
 7   지번구분명           650014 non-null  object
 8   본번              650026 non-null  object
 9   부번              650026 non-null  object
 10  건물명             650019 non-null  object
 11  계약일             694270 non-null  object
 12  물건금액            694270 non-null  int64
 13  건물면적            694270 non-null  float64
 14  토지면적            553310 non-null  float64
 15  층               650073 non-null  float64
 16  권리구분            5288 non-null    object
 17  취소일             27357 non-null   float64
 18  건축년도            690933 non-null  float64
 19  건물용도            694270 non-null  object
 20  신고구분            252716 non-null  object
 21  신고한개업공인중개사시군구명  206972 non-null  object
dtypes: float64(6), int64(5), object(11)
memory usage: 116.5+ MB

In [83]:
df["계약일"]

0         2025-02-13
1         2025-02-13
2         2025-02-13
3         2025-02-13
4         2025-02-13
             ...
694265    2015-11-16
694266    2015-10-27
694267    2015-09-18
694268    2014-11-28
694269    2011-10-05
Name: 계약일, Length: 694270, dtype: object

In [85]:

# ✅ MySQL 테이블에 `DATE` 형식으로 저장
df.to_sql(name="original_data", con=engine, if_exists="replace", index=False, dtype={"계약일": "DATE"})

ValueError: The type of 계약일 is not a SQLAlchemy type

In [63]:
# ✅ MySQL에 데이터 업로드
df.to_sql(name="original_data", con=engine, if_exists="append", index=False)

694270

In [95]:
conn.commit()

In [97]:
cursor.close()
conn.close()
engine.dispose()

In [109]:
import pandas as pd
import mysql.connector

# ✅ MySQL 연결 설정
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="toor",
    database="zipcoding"
)

query = """
WITH 거래량_평균 AS (
    SELECT
        인덱스,
        접수연도,
        자치구코드,
        자치구명,
        법정동코드,
        법정동명,
        계약일,
        물건금액,

        -- 최근 6개월 거래량
        COUNT(*) OVER (
            PARTITION BY 자치구코드, 법정동코드
            ORDER BY 계약일 
            RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
        ) AS 최근6개월거래량,

        -- 최근 6개월 평균 물건금액
        AVG(물건금액) OVER (
            PARTITION BY 자치구코드, 법정동코드
            ORDER BY 계약일 
            RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
        ) AS 최근6개월평균물건금액

    FROM original_data
    WHERE YEAR(계약일) = 2025
)
SELECT * FROM 거래량_평균
ORDER BY 계약일 DESC;
"""

# ✅ MySQL 데이터 조회 후 DataFrame으로 변환
df = pd.read_sql(query, conn)

# ✅ CSV로 저장
df.to_csv("C:/ZIPcoding/output_2025.csv", index=False, encoding="utf-8-sig")

# ✅ Excel 파일로 저장
# df.to_excel("output_2020.xlsx", index=False, encoding="utf-8-sig")

# ✅ MySQL 연결 종료
conn.close()

C:\Users\user\AppData\Local\Temp\ipykernel_2600\4101861787.py:46: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [93]:
import pandas as pd
from sqlalchemy import create_engine, Date
import pymysql

# ✅ MySQL 연결 설정
engine = create_engine("mysql+pymysql://root:toor@localhost/zipcoding")

# ✅ `계약일`을 `datetime.date` 형식으로 변환
df["계약일"] = pd.to_datetime(df["계약일"]).dt.date

# ✅ MySQL에 `DATE` 형식으로 저장
df.to_sql(name="original_data", con=engine, if_exists="replace", index=False, dtype={"계약일": Date()})

694270

In [441]:
original_data = pd.read_csv("C:/ZIPcoding/2019~2025 data.csv", low_memory=False)

In [422]:
gu_output2020 = pd.read_csv("C:/ZIPcoding/gu_output_2020.csv", low_memory=False)
gu_output2021 = pd.read_csv("C:/ZIPcoding/gu_output_2021.csv", low_memory=False)
gu_output2022 = pd.read_csv("C:/ZIPcoding/gu_output_2022.csv", low_memory=False)
gu_output2023 = pd.read_csv("C:/ZIPcoding/gu_output_2023.csv", low_memory=False)
gu_output2024 = pd.read_csv("C:/ZIPcoding/gu_output_2024.csv", low_memory=False)
gu_output2025 = pd.read_csv("C:/ZIPcoding/gu_output_2025.csv", low_memory=False)

In [423]:
dong_output2020 = pd.read_csv("C:/ZIPcoding/dong_output_2020.csv", low_memory=False)
dong_output2021 = pd.read_csv("C:/ZIPcoding/dong_output_2021.csv", low_memory=False)
dong_output2022 = pd.read_csv("C:/ZIPcoding/dong_output_2022.csv", low_memory=False)
dong_output2023 = pd.read_csv("C:/ZIPcoding/dong_output_2023.csv", low_memory=False)
dong_output2024 = pd.read_csv("C:/ZIPcoding/dong_output_2024.csv", low_memory=False)
dong_output2025 = pd.read_csv("C:/ZIPcoding/dong_output_2025.csv", low_memory=False)

In [413]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689611 entries, 0 to 689610
Data columns (total 23 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              689611 non-null  int64
 1   자치구코드             689611 non-null  int64
 2   자치구명              689610 non-null  object
 3   법정동코드             689611 non-null  int64
 4   법정동명              689611 non-null  object
 5   지번구분              646137 non-null  float64
 6   지번구분명             646137 non-null  object
 7   본번                646149 non-null  object
 8   부번                646149 non-null  object
 9   건물명               646142 non-null  object
 10  계약일               689611 non-null  int64
 11  물건금액(만원)          689611 non-null  int64
 12  건물면적(㎡)           689611 non-null  float64
 13  토지면적(㎡)           550039 non-null  float64
 14  층                 646196 non-null  float64
 15  권리구분              5189 non-null    object
 16  취소일               27357 non-null   float64
 17  건축년도              686281 non-null  float64
 18  건물용도              689611 non-null  object
 19  신고구분              252716 non-null  object
 20  신고한 개업공인중개사 시군구명  206972 non-null  object
 21  건물면적정수            689611 non-null  int64
 22  이전 실거래가(만원)       528541 non-null  float64
dtypes: float64(7), int64(6), object(10)
memory usage: 121.0+ MB

In [289]:
output2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175320 entries, 0 to 175319
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   인덱스          175320 non-null  int64
 1   접수연도         175320 non-null  int64
 2   자치구코드        175320 non-null  int64
 3   자치구명         175320 non-null  object
 4   법정동코드        175320 non-null  int64
 5   법정동명         175320 non-null  object
 6   계약일          175320 non-null  object
 7   물건금액         175320 non-null  int64
 8   최근6개월거래량     175320 non-null  int64
 9   최근6개월평균물건금액  175320 non-null  float64
dtypes: float64(1), int64(6), object(3)
memory usage: 13.4+ MB

In [427]:
gu_output2020 = gu_output2020[['인덱스', '자치구최근6개월거래량', '자치구최근6개월평균금액']]
gu_output2021 = gu_output2021[['인덱스', '자치구최근6개월거래량', '자치구최근6개월평균금액']]
gu_output2022 = gu_output2022[['인덱스', '자치구최근6개월거래량', '자치구최근6개월평균금액']]
gu_output2023 = gu_output2023[['인덱스', '자치구최근6개월거래량', '자치구최근6개월평균금액']]
gu_output2024 = gu_output2024[['인덱스', '자치구최근6개월거래량', '자치구최근6개월평균금액']]
gu_output2025 = gu_output2025[['인덱스', '자치구최근6개월거래량', '자치구최근6개월평균금액']]

In [429]:

# ✅ 모든 연도 데이터를 병합 (초기 병합)
original_data = original_data.merge(gu_output2020, left_index=True, right_on="인덱스", how="left")

# ✅ 연도별 데이터 반복 병합 (같은 컬럼 유지)
for output_df in [gu_output2020,gu_output2021, gu_output2022, gu_output2023, gu_output2024, gu_output2025]:
    output_df = output_df.drop(columns=["인덱스"], errors="ignore")  # ✅ '인덱스' 컬럼 삭제하여 충돌 방지

    original_data = original_data.merge(output_df, left_index=True, right_index=True, how="left")

    # ✅ `fillna()` 사용하여 기존 컬럼에 값 채우기
    original_data["자치구최근6개월거래량"] = original_data["자치구최근6개월거래량_x"].fillna(original_data["자치구최근6개월거래량_y"])
    original_data["자치구최근6개월평균금액"] = original_data["자치구최근6개월평균금액_x"].fillna(original_data["자치구최근6개월평균금액_y"])

    # ✅ 불필요한 컬럼 삭제
    original_data.drop(columns=["자치구최근6개월거래량_x", "자치구최근6개월거래량_y", "자치구최근6개월평균금액_x", "자치구최근6개월평균금액_y"], inplace=True)

# ✅ '인덱스' 컬럼 최종 삭제 (필요 없는 경우)
original_data.drop(columns=["인덱스"], inplace=True, errors="ignore")

# ✅ 최종 결과 확인
print(original_data)

     접수연도  자치구코드  자치구명  법정동코드 법정동명  지번구분 지번구분명      본번    부번            건물명  \
NaN  2025  11230  동대문구  10400  전농동   1.0    대지     3.0  92.0          이도인빌딩
NaN  2025  11440   마포구  10400  도화동   1.0    대지   550.0   0.0             삼성
NaN  2025  11230  동대문구  10400  전농동   1.0    대지     3.0  92.0          이도인빌딩
NaN  2025  11230  동대문구  10400  전농동   1.0    대지     3.0  92.0          이도인빌딩
NaN  2025  11230  동대문구  10400  전농동   1.0    대지     3.0  92.0          이도인빌딩
..    ...    ...   ...    ...  ...   ...   ...     ...   ...            ...
NaN  2018  11500   강서구  10300  화곡동   1.0    대지  1159.0   0.0  우장산아이파크,이편한세상
NaN  2018  11410  서대문구  11200  대현동   1.0    대지   144.0   0.0           럭키대현
NaN  2018  11590   동작구  10700  사당동   1.0    대지   169.0  32.0             현대
NaN  2018  11350   노원구  10500  상계동   1.0    대지  1380.0   4.0           초산빌라
NaN  2018  11380   은평구  11000  증산동   1.0    대지   189.0  63.0   궁전맨션(189-63)

     ...  권리구분  취소일    건축년도   건물용도  신고구분 신고한 개업공인중개사 시군구명  건물면적정수  \
NaN  ...   NaN  NaN  2018.0   오피스텔   직거래              NaN      26
NaN  ...   NaN  NaN  1997.0    아파트   직거래              NaN      72
NaN  ...   NaN  NaN  2018.0  연립다세대   직거래              NaN      34
NaN  ...   NaN  NaN  2018.0  연립다세대   직거래              NaN      34
NaN  ...   NaN  NaN  2018.0  연립다세대   직거래              NaN      34
..   ...   ...  ...     ...    ...   ...              ...     ...
NaN  ...   NaN  NaN  2008.0    아파트   NaN              NaN     101
NaN  ...   NaN  NaN  1999.0    아파트   NaN              NaN      83
NaN  ...   NaN  NaN  1991.0    아파트   NaN              NaN      51
NaN  ...   NaN  NaN  1996.0  연립다세대   NaN              NaN      41
NaN  ...   NaN  NaN  1992.0  연립다세대   NaN              NaN      54

     이전 실거래가(만원) 자치구최근6개월거래량 자치구최근6개월평균금액
NaN       6991.0         NaN          NaN
NaN     129500.0         NaN          NaN
NaN      10463.0         NaN          NaN
NaN      10463.0         NaN          NaN
NaN      10463.0         NaN          NaN
..           ...         ...          ...
NaN      90000.0         NaN          NaN
NaN      76000.0         NaN          NaN
NaN      41800.0         NaN          NaN
NaN          NaN         NaN          NaN
NaN      19500.0         NaN          NaN

[689611 rows x 25 columns]

In [431]:
dong_output2020 = dong_output2020[['인덱스', '법정동최근6개월거래량', '법정동최근6개월평균금액']]
dong_output2021 = dong_output2021[['인덱스', '법정동최근6개월거래량', '법정동최근6개월평균금액']]
dong_output2022 = dong_output2022[['인덱스', '법정동최근6개월거래량', '법정동최근6개월평균금액']]
dong_output2023 = dong_output2023[['인덱스', '법정동최근6개월거래량', '법정동최근6개월평균금액']]
dong_output2024 = dong_output2024[['인덱스', '법정동최근6개월거래량', '법정동최근6개월평균금액']]
dong_output2025 = dong_output2025[['인덱스', '법정동최근6개월거래량', '법정동최근6개월평균금액']]

In [433]:

# ✅ 모든 연도 데이터를 병합 (초기 병합)
original_data = original_data.merge(dong_output2020, left_index=True, right_on="인덱스", how="left")

# ✅ 연도별 데이터 반복 병합 (같은 컬럼 유지)
for output_df in [dong_output2020,dong_output2021, dong_output2022, dong_output2023, dong_output2024, dong_output2025]:
    output_df = output_df.drop(columns=["인덱스"], errors="ignore")  # ✅ '인덱스' 컬럼 삭제하여 충돌 방지

    original_data = original_data.merge(output_df, left_index=True, right_index=True, how="left")

    # ✅ `fillna()` 사용하여 기존 컬럼에 값 채우기
    original_data["법정동최근6개월거래량"] = original_data["법정동최근6개월거래량_x"].fillna(original_data["법정동최근6개월거래량_y"])
    original_data["법정동최근6개월평균금액"] = original_data["법정동최근6개월평균금액_x"].fillna(original_data["법정동최근6개월평균금액_y"])

    # ✅ 불필요한 컬럼 삭제
    original_data.drop(columns=["법정동최근6개월거래량_x", "법정동최근6개월거래량_y", "법정동최근6개월평균금액_x", "법정동최근6개월평균금액_y"], inplace=True)

# ✅ '인덱스' 컬럼 최종 삭제 (필요 없는 경우)
original_data.drop(columns=["인덱스"], inplace=True, errors="ignore")

# ✅ 최종 결과 확인
print(original_data)

     접수연도  자치구코드  자치구명  법정동코드 법정동명  지번구분 지번구분명      본번    부번            건물명  \
NaN  2025  11230  동대문구  10400  전농동   1.0    대지     3.0  92.0          이도인빌딩
NaN  2025  11440   마포구  10400  도화동   1.0    대지   550.0   0.0             삼성
NaN  2025  11230  동대문구  10400  전농동   1.0    대지     3.0  92.0          이도인빌딩
NaN  2025  11230  동대문구  10400  전농동   1.0    대지     3.0  92.0          이도인빌딩
NaN  2025  11230  동대문구  10400  전농동   1.0    대지     3.0  92.0          이도인빌딩
..    ...    ...   ...    ...  ...   ...   ...     ...   ...            ...
NaN  2018  11500   강서구  10300  화곡동   1.0    대지  1159.0   0.0  우장산아이파크,이편한세상
NaN  2018  11410  서대문구  11200  대현동   1.0    대지   144.0   0.0           럭키대현
NaN  2018  11590   동작구  10700  사당동   1.0    대지   169.0  32.0             현대
NaN  2018  11350   노원구  10500  상계동   1.0    대지  1380.0   4.0           초산빌라
NaN  2018  11380   은평구  11000  증산동   1.0    대지   189.0  63.0   궁전맨션(189-63)

     ...    건축년도   건물용도  신고구분  신고한 개업공인중개사 시군구명  건물면적정수 이전 실거래가(만원)  \
NaN  ...  2018.0   오피스텔   직거래               NaN      26      6991.0
NaN  ...  1997.0    아파트   직거래               NaN      72    129500.0
NaN  ...  2018.0  연립다세대   직거래               NaN      34     10463.0
NaN  ...  2018.0  연립다세대   직거래               NaN      34     10463.0
NaN  ...  2018.0  연립다세대   직거래               NaN      34     10463.0
..   ...     ...    ...   ...               ...     ...         ...
NaN  ...  2008.0    아파트   NaN               NaN     101     90000.0
NaN  ...  1999.0    아파트   NaN               NaN      83     76000.0
NaN  ...  1991.0    아파트   NaN               NaN      51     41800.0
NaN  ...  1996.0  연립다세대   NaN               NaN      41         NaN
NaN  ...  1992.0  연립다세대   NaN               NaN      54     19500.0

     자치구최근6개월거래량  자치구최근6개월평균금액 법정동최근6개월거래량 법정동최근6개월평균금액
NaN          NaN           NaN         NaN          NaN
NaN          NaN           NaN         NaN          NaN
NaN          NaN           NaN         NaN          NaN
NaN          NaN           NaN         NaN          NaN
NaN          NaN           NaN         NaN          NaN
..           ...           ...         ...          ...
NaN          NaN           NaN         NaN          NaN
NaN          NaN           NaN         NaN          NaN
NaN          NaN           NaN         NaN          NaN
NaN          NaN           NaN         NaN          NaN
NaN          NaN           NaN         NaN          NaN

[689611 rows x 27 columns]

In [435]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 689611 entries, nan to nan
Data columns (total 27 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              689611 non-null  int64
 1   자치구코드             689611 non-null  int64
 2   자치구명              689610 non-null  object
 3   법정동코드             689611 non-null  int64
 4   법정동명              689611 non-null  object
 5   지번구분              646137 non-null  float64
 6   지번구분명             646137 non-null  object
 7   본번                646149 non-null  object
 8   부번                646149 non-null  object
 9   건물명               646142 non-null  object
 10  계약일               689611 non-null  int64
 11  물건금액(만원)          689611 non-null  int64
 12  건물면적(㎡)           689611 non-null  float64
 13  토지면적(㎡)           550039 non-null  float64
 14  층                 646196 non-null  float64
 15  권리구분              5189 non-null    object
 16  취소일               27357 non-null   float64
 17  건축년도              686281 non-null  float64
 18  건물용도              689611 non-null  object
 19  신고구분              252716 non-null  object
 20  신고한 개업공인중개사 시군구명  206972 non-null  object
 21  건물면적정수            689611 non-null  int64
 22  이전 실거래가(만원)       528541 non-null  float64
 23  자치구최근6개월거래량       175320 non-null  float64
 24  자치구최근6개월평균금액      175320 non-null  float64
 25  법정동최근6개월거래량       1 non-null       float64
 26  법정동최근6개월평균금액      1 non-null       float64
dtypes: float64(11), int64(6), object(10)
memory usage: 147.3+ MB

In [151]:
original_data.head(10)

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명,건물면적정수,이전 실거래가(만원),최근6개월거래량,최근6개월평균물건금액
NaN,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,92.0,이도인빌딩,...,NaN,NaN,2018.0,오피스텔,직거래,NaN,26,6991.0,NaN,NaN
NaN,2025,11440,마포구,10400,도화동,1.0,대지,550.0,0.0,삼성,...,NaN,NaN,1997.0,아파트,직거래,NaN,72,129500.0,NaN,NaN
NaN,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,92.0,이도인빌딩,...,NaN,NaN,2018.0,연립다세대,직거래,NaN,34,10463.0,NaN,NaN
NaN,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,92.0,이도인빌딩,...,NaN,NaN,2018.0,연립다세대,직거래,NaN,34,10463.0,NaN,NaN
NaN,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,92.0,이도인빌딩,...,NaN,NaN,2018.0,연립다세대,직거래,NaN,34,10463.0,NaN,NaN
NaN,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,92.0,이도인빌딩,...,NaN,NaN,2018.0,오피스텔,직거래,NaN,26,6991.0,NaN,NaN
NaN,2025,11680,강남구,10600,대치동,1.0,대지,889.0,5.0,샹제리제센터,...,NaN,NaN,1990.0,오피스텔,직거래,NaN,26,15400.0,NaN,NaN
NaN,2025,11470,양천구,10300,신월동,1.0,대지,205.0,4.0,예성클레식,...,NaN,NaN,2015.0,연립다세대,중개거래,서울 양천구,46,NaN,NaN,NaN
NaN,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,92.0,이도인빌딩,...,NaN,NaN,2018.0,오피스텔,직거래,NaN,26,6991.0,NaN,NaN
NaN,2025,11230,동대문구,10400,전농동,1.0,대지,3.0,92.0,이도인빌딩,...,NaN,NaN,2018.0,연립다세대,직거래,NaN,32,10155.0,NaN,NaN

In [249]:
df = pd.read_csv("C:/ZIPcoding/2019~2025 data.csv", low_memory=False)

In [418]:
import pandas as pd
import mysql.connector

for i in range(2020, 2026):
    # ✅ MySQL 연결 설정
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="toor",
        database="zipcoding"
    )
    
    query = f"""
    WITH 거래량_평균 AS (
        SELECT
            인덱스,
            계약일,
            물건금액,
    
            -- 최근 6개월 거래량 (NULL 값이 있을 경우 0으로 변환)
            IFNULL(  -- ✅ NULL이면 0으로 변환
                COUNT(물건금액) OVER (
                    PARTITION BY 자치구코드
                    ORDER BY 계약일 
                    RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
                ), 0) 자치구최근6개월거래량,
    
            -- 최근 6개월 평균 물건금액 (NULL 값이 있을 경우 0으로 변환)
            IFNULL(  -- ✅ NULL이면 0으로 변환
                AVG(물건금액) OVER (
                    PARTITION BY 자치구코드
                    ORDER BY 계약일 
                    RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
                ), 0) AS 자치구최근6개월평균금액
    
        FROM original_data
        WHERE YEAR(계약일) = {i}
    )
    SELECT * FROM 거래량_평균
    ORDER BY 계약일 DESC;
    
    """
    
    try:
        # ✅ MySQL 데이터 조회 후 DataFrame으로 변환
        df = pd.read_sql(query, conn)
    
        # ✅ Python에서도 NULL 값 확인 후 0으로 변환 (추가적인 NULL 방지)
        df.fillna({"자치구최근6개월거래량": 0, "자치구최근6개월평균금액": 0}, inplace=True)
    
        # ✅ CSV로 저장
        df.to_csv(f"C:/ZIPcoding/gu_output_{i}.csv", index=False, encoding="utf-8-sig")
    
        # ✅ Excel 파일로 저장 (선택)
        # df.to_excel("C:/ZIPcoding/output_2020.xlsx", index=False, encoding="utf-8-sig")
    
        print("✅ 데이터 저장 완료!")
    
    except Exception as e:
        print(f"🚨 오류 발생: {e}")
    
    finally:
        # ✅ MySQL 연결 종료
        conn.close()
        print("✅ MySQL 연결 종료됨")

C:\Users\user\AppData\Local\Temp\ipykernel_2600\391014725.py:46: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

✅ 데이터 저장 완료!
✅ MySQL 연결 종료됨
✅ 데이터 저장 완료!
✅ MySQL 연결 종료됨
✅ 데이터 저장 완료!
✅ MySQL 연결 종료됨
✅ 데이터 저장 완료!
✅ MySQL 연결 종료됨
✅ 데이터 저장 완료!
✅ MySQL 연결 종료됨
✅ 데이터 저장 완료!
✅ MySQL 연결 종료됨

In [439]:
import pandas as pd

# ✅ 연도별 데이터 로드
years = range(2020, 2026)
file_paths = {year: f"C:/ZIPcoding/region_output_{year}.csv" for year in years}

# ✅ 연도별 데이터 로드 (자치구 + 법정동 기준)
region_outputs = {year: pd.read_csv(file_paths[year], low_memory=False) for year in years}

# ✅ 필요한 컬럼만 선택 (자치구 + 법정동)
for year, df in region_outputs.items():
    region_outputs[year] = df[['인덱스', '자치구최근6개월거래량', '자치구최근6개월평균금액', '동최근6개월거래량', '동최근6개월평균금액']]

In [ ]:
# ✅ 초기 데이터 병합 (2020년 기준으로 병합 시작)
original_data = original_data.merge(region_outputs[2020], left_index=True, right_on="인덱스", how="left")

# ✅ 연도별 데이터 반복 병합 (같은 컬럼 유지)
for year in range(2021, 2026):  # 2021~2025년 데이터 병합
    output_df = region_outputs[year].drop(columns=["인덱스"], errors="ignore")  # ✅ '인덱스' 컬럼 삭제하여 충돌 방지

    # ✅ 기존 데이터와 병합 (left_index=True로 인덱스 기준 병합)
    original_data = original_data.merge(output_df, left_index=True, right_index=True, how="left")

    # ✅ `fillna()` 사용하여 기존 컬럼에 값 채우기 (자치구별)
    original_data["자치구최근6개월거래량"] = original_data["자치구최근6개월거래량_x"].fillna(original_data["자치구최근6개월거래량_y"])
    original_data["자치구최근6개월평균금액"] = original_data["자치구최근6개월평균금액_x"].fillna(original_data["자치구최근6개월평균금액_y"])

    # ✅ `fillna()` 사용하여 기존 컬럼에 값 채우기 (법정동별)
    original_data["동최근6개월거래량"] = original_data["동최근6개월거래량_x"].fillna(original_data["동최근6개월거래량_y"])
    original_data["동최근6개월평균금액"] = original_data["동최근6개월평균금액_x"].fillna(original_data["동최근6개월평균금액_y"])

    # ✅ 불필요한 중복 컬럼 제거
    original_data.drop(columns=["자치구최근6개월거래량_x", "자치구최근6개월거래량_y", 
                                "자치구최근6개월평균금액_x", "자치구최근6개월평균금액_y",
                                "동최근6개월거래량_x", "동최근6개월거래량_y",
                                "동최근6개월평균금액_x", "동최근6개월평균금액_y"], inplace=True)

# ✅ '인덱스' 컬럼 최종 삭제 (필요 없는 경우)
original_data.drop(columns=["인덱스"], inplace=True, errors="ignore")

# ✅ 최종 결과 확인
print(original_data)

In [417]:
import pandas as pd
import mysql.connector

for i in range(2020, 2026):
    # ✅ MySQL 연결 설정
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="toor",
        database="zipcoding"
    )
    
    query = f"""
    WITH 거래량_평균 AS (
        SELECT
            인덱스,
            계약일,
            물건금액,
    
            -- 최근 6개월 거래량 (NULL 값이 있을 경우 0으로 변환)
            IFNULL(  -- ✅ NULL이면 0으로 변환
                COUNT(물건금액) OVER (
                    PARTITION BY 자치구코드, 법정동코드
                    ORDER BY 계약일 
                    RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
                ), 0) 법정동최근6개월거래량,
    
            -- 최근 6개월 평균 물건금액 (NULL 값이 있을 경우 0으로 변환)
            IFNULL(  -- ✅ NULL이면 0으로 변환
                AVG(물건금액) OVER (
                    PARTITION BY 자치구코드, 법정동코드
                    ORDER BY 계약일 
                    RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
                ), 0) AS 법정동최근6개월평균금액
    
        FROM original_data
        WHERE YEAR(계약일) = {i}
    )
    SELECT * FROM 거래량_평균
    ORDER BY 계약일 DESC;
    
    """
    
    try:
        # ✅ MySQL 데이터 조회 후 DataFrame으로 변환
        df = pd.read_sql(query, conn)
    
        # ✅ Python에서도 NULL 값 확인 후 0으로 변환 (추가적인 NULL 방지)
        df.fillna({"법정동최근6개월거래량": 0, "법정동최근6개월평균금액": 0}, inplace=True)
    
        # ✅ CSV로 저장
        df.to_csv(f"C:/ZIPcoding/dong_output_{i}.csv", index=False, encoding="utf-8-sig")
    
        # ✅ Excel 파일로 저장 (선택)
        # df.to_excel("C:/ZIPcoding/output_2020.xlsx", index=False, encoding="utf-8-sig")
    
        print("✅ 데이터 저장 완료!")
    
    except Exception as e:
        print(f"🚨 오류 발생: {e}")
    
    finally:
        # ✅ MySQL 연결 종료
        conn.close()
        print("✅ MySQL 연결 종료됨")

C:\Users\user\AppData\Local\Temp\ipykernel_2600\2216313836.py:46: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

✅ 데이터 저장 완료!
✅ MySQL 연결 종료됨
✅ 데이터 저장 완료!
✅ MySQL 연결 종료됨
✅ 데이터 저장 완료!
✅ MySQL 연결 종료됨
✅ 데이터 저장 완료!
✅ MySQL 연결 종료됨
✅ 데이터 저장 완료!
✅ MySQL 연결 종료됨
✅ 데이터 저장 완료!
✅ MySQL 연결 종료됨

In [493]:
import pandas as pd
import mysql.connector

for i in range(2020, 2026):  # 2020~2025 연도별 실행
    # ✅ MySQL 연결 설정
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="toor",
        database="zipcoding"
    )

    query = f"""
                    WITH 거래량_평균 AS (
            SELECT
                인덱스,
                계약일,
                물건금액,
                자치구코드,
                법정동코드,
        
                -- ✅ 자치구 기준 최근 6개월 거래량
                COUNT(물건금액) OVER (
                    PARTITION BY 자치구코드
                    ORDER BY 계약일 
                    RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
                ) AS 자치구최근6개월거래량,
        
                -- ✅ 자치구 기준 최근 6개월 평균 물건금액
                AVG(물건금액) OVER (
                    PARTITION BY 자치구코드
                    ORDER BY 계약일 
                    RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
                ) AS 자치구최근6개월평균금액,
        
                -- ✅ 자치구 + 법정동 기준 최근 6개월 거래량 (NULL 값 유지)
                COUNT(물건금액) OVER (
                    PARTITION BY 자치구코드, 법정동코드
                    ORDER BY 계약일 
                    RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
                ) AS 동최근6개월거래량,
        
                -- ✅ 자치구 + 법정동 기준 최근 6개월 평균 물건금액 (NULL 값 유지)
                AVG(물건금액) OVER (
                    PARTITION BY 자치구코드, 법정동코드
                    ORDER BY 계약일 
                    RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
                ) AS 동최근6개월평균금액
        
            FROM original_data
        )
        SELECT * FROM 거래량_평균
        WHERE YEAR(계약일) = {i} 
        ORDER BY 계약일 DESC;


    """

    try:
        # ✅ MySQL 데이터 조회 후 DataFrame으로 변환
        df = pd.read_sql(query, conn)

        # ✅ Python에서도 NULL 값 확인 후 0으로 변환 (추가적인 NULL 방지)
        df.fillna({"자치구최근6개월거래량": 0, "자치구최근6개월평균금액": 0, "동최근6개월거래량": 0, "동최근6개월평균금액": 0}, inplace=True)

        # ✅ CSV로 저장 (자치구별 & 법정동별 정보 포함)
        df.to_csv(f"C:/ZIPcoding/region_output_{i}.csv", index=False, encoding="utf-8-sig")

        print(f"✅ {i}년 데이터 저장 완료!")

    except Exception as e:
        print(f"🚨 {i}년 데이터 처리 중 오류 발생: {e}")

    finally:
        # ✅ MySQL 연결 종료
        conn.close()
        print(f"✅ {i}년 MySQL 연결 종료됨")

C:\Users\user\AppData\Local\Temp\ipykernel_2600\2717264071.py:61: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

✅ 2020년 데이터 저장 완료!
✅ 2020년 MySQL 연결 종료됨
✅ 2021년 데이터 저장 완료!
✅ 2021년 MySQL 연결 종료됨
✅ 2022년 데이터 저장 완료!
✅ 2022년 MySQL 연결 종료됨
✅ 2023년 데이터 저장 완료!
✅ 2023년 MySQL 연결 종료됨
✅ 2024년 데이터 저장 완료!
✅ 2024년 MySQL 연결 종료됨
✅ 2025년 데이터 저장 완료!
✅ 2025년 MySQL 연결 종료됨

In [471]:
for year, df in region_outputs.items():
    print(f"✅ {year}년 데이터 컬럼 목록: {df.columns}")

✅ 2020년 데이터 컬럼 목록: Index(['인덱스', '자치구최근6개월거래량', '자치구최근6개월평균금액', '동최근6개월거래량', '동최근6개월평균금액'], dtype='object')
✅ 2021년 데이터 컬럼 목록: Index(['인덱스', '자치구최근6개월거래량', '자치구최근6개월평균금액', '동최근6개월거래량', '동최근6개월평균금액'], dtype='object')
✅ 2022년 데이터 컬럼 목록: Index(['인덱스', '자치구최근6개월거래량', '자치구최근6개월평균금액', '동최근6개월거래량', '동최근6개월평균금액'], dtype='object')
✅ 2023년 데이터 컬럼 목록: Index(['인덱스', '자치구최근6개월거래량', '자치구최근6개월평균금액', '동최근6개월거래량', '동최근6개월평균금액'], dtype='object')
✅ 2024년 데이터 컬럼 목록: Index(['인덱스', '자치구최근6개월거래량', '자치구최근6개월평균금액', '동최근6개월거래량', '동최근6개월평균금액'], dtype='object')
✅ 2025년 데이터 컬럼 목록: Index(['인덱스', '자치구최근6개월거래량', '자치구최근6개월평균금액', '동최근6개월거래량', '동최근6개월평균금액'], dtype='object')

In [485]:
original_data = pd.read_csv("C:/ZIPcoding/2019~2025 data.csv", low_memory=False)

In [495]:
df = pd.read_csv("C:/ZIPcoding/region_output_2020.csv", low_memory=False)

In [497]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175320 entries, 0 to 175319
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   인덱스           175320 non-null  int64
 1   계약일           175320 non-null  object
 2   물건금액          175320 non-null  int64
 3   자치구코드         175320 non-null  int64
 4   법정동코드         175320 non-null  int64
 5   자치구최근6개월거래량   175320 non-null  int64
 6   자치구최근6개월평균금액  175320 non-null  float64
 7   동최근6개월거래량     175320 non-null  int64
 8   동최근6개월평균금액    175320 non-null  float64
dtypes: float64(2), int64(6), object(1)
memory usage: 12.0+ MB

In [487]:
import pandas as pd
import numpy as np

# ✅ 연도별 데이터 로드
years = range(2020, 2026)
file_paths = {year: f"C:/ZIPcoding/region_output_{year}.csv" for year in years}

# ✅ 연도별 데이터 로드 (자치구 + 법정동 기준)
region_outputs = {}
for year in years:
    try:
        df = pd.read_csv(file_paths[year], low_memory=False)
        region_outputs[year] = df.set_index("인덱스")  # '인덱스' 컬럼을 인덱스로 설정
        print(f"✅ {year}년 데이터 로드 완료, 컬럼 목록: {df.columns}")
    except FileNotFoundError:
        print(f"🚨 {year}년 CSV 파일이 존재하지 않음! 경로 확인 필요")

# ✅ original_data에 컬럼을 미리 생성 (초기값 NaN)
for col in ["자치구최근6개월거래량", "자치구최근6개월평균금액", "동최근6개월거래량", "동최근6개월평균금액"]:
    original_data[col] = np.nan

# ✅ 연도별 데이터 매핑
for year in years:
    if year in region_outputs:
        df = region_outputs[year]  # '인덱스'를 기준으로 세팅된 데이터프레임
        
        # ✅ 매핑 수행 (original_data의 인덱스를 기준으로 df의 해당 컬럼 값 가져오기)
        for col in ["자치구최근6개월거래량", "자치구최근6개월평균금액", "동최근6개월거래량", "동최근6개월평균금액"]:
            original_data[col] = original_data.index.map(df[col].to_dict()).fillna(original_data[col])

# ✅ CSV 파일로 저장
original_data.to_csv("C:/ZIPcoding/final_output.csv", index=False, encoding="utf-8-sig")

print("\n✅ 최종 데이터 저장 완료!")

✅ 2020년 데이터 로드 완료, 컬럼 목록: Index(['인덱스', '계약일', '물건금액', '자치구코드', '법정동코드', '자치구최근6개월거래량', '자치구최근6개월평균금액',
       '동최근6개월거래량', '동최근6개월평균금액'],
      dtype='object')
✅ 2021년 데이터 로드 완료, 컬럼 목록: Index(['인덱스', '계약일', '물건금액', '자치구코드', '법정동코드', '자치구최근6개월거래량', '자치구최근6개월평균금액',
       '동최근6개월거래량', '동최근6개월평균금액'],
      dtype='object')
✅ 2022년 데이터 로드 완료, 컬럼 목록: Index(['인덱스', '계약일', '물건금액', '자치구코드', '법정동코드', '자치구최근6개월거래량', '자치구최근6개월평균금액',
       '동최근6개월거래량', '동최근6개월평균금액'],
      dtype='object')
✅ 2023년 데이터 로드 완료, 컬럼 목록: Index(['인덱스', '계약일', '물건금액', '자치구코드', '법정동코드', '자치구최근6개월거래량', '자치구최근6개월평균금액',
       '동최근6개월거래량', '동최근6개월평균금액'],
      dtype='object')
✅ 2024년 데이터 로드 완료, 컬럼 목록: Index(['인덱스', '계약일', '물건금액', '자치구코드', '법정동코드', '자치구최근6개월거래량', '자치구최근6개월평균금액',
       '동최근6개월거래량', '동최근6개월평균금액'],
      dtype='object')
✅ 2025년 데이터 로드 완료, 컬럼 목록: Index(['인덱스', '계약일', '물건금액', '자치구코드', '법정동코드', '자치구최근6개월거래량', '자치구최근6개월평균금액',
       '동최근6개월거래량', '동최근6개월평균금액'],
      dtype='object')

TypeError: 'value' must be a scalar, passed: Series

In [481]:
region_outputs

{2020:            인덱스  자치구최근6개월거래량  자치구최근6개월평균금액  동최근6개월거래량  동최근6개월평균금액
 0       373367         4305    66288.2381       1223  47385.3998
 1       373445         4305    66288.2381       1223  47385.3998
 2       373530         4305    66288.2381       1223  47385.3998
 3       373553         4305    66288.2381        118  75381.2712
 4       373557         4305    66288.2381        118  75381.2712
 ...        ...          ...           ...        ...         ...
 175315  548435         4643    40497.3007        529  31769.2268
 175316  548445         4643    40497.3007        529  31769.2268
 175317  548404         4643    40497.3007        408  30197.1593
 175318  548382         4643    40497.3007        444  32272.3851
 175319  548394         4643    40497.3007        421  43373.4679

 [175320 rows x 5 columns],
 2021:            인덱스  자치구최근6개월거래량  자치구최근6개월평균금액  동최근6개월거래량  동최근6개월평균금액
 0       238405         2543    63767.6217        802  45250.2781
 1       238406         2543    63767.6217        802  45250.2781
 2       238484         2543    63767.6217        802  45250.2781
 3       241016         2543    63767.6217         76  50697.8553
 4       238355         2543    63767.6217        361  68090.3684
 ...        ...          ...           ...        ...         ...
 134776  373032         2391    66861.3266        563  55219.2895
 134777  373043         2910    61317.5722        270  59951.4963
 134778  373037         3202    45307.8907       1076  45014.5335
 134779  373065         1046    76921.1625        583  74924.3431
 134780  373028         2154   107418.9410         73  46239.8630

 [134781 rows x 5 columns],
 2022:           인덱스  자치구최근6개월거래량  자치구최근6개월평균금액  동최근6개월거래량  동최근6개월평균금액
 0      173530         1003    48515.3370        330  36431.8939
 1      173523         1273    69514.5350        118  49808.2458
 2      173524         1273    69514.5350        118  49808.2458
 3      173525         1273    69514.5350        118  49808.2458
 4      173507         1003    48515.3370        102  81420.0980
 ...       ...          ...           ...        ...         ...
 64815  238285         2133    38498.7431        658  53165.4316
 64816  238309         2133    38498.7431        658  53165.4316
 64817  238280         2133    38498.7431       1059  29646.4882
 64818  238281         2133    38498.7431       1059  29646.4882
 64819  238297         2133    38498.7431       1059  29646.4882

 [64820 rows x 5 columns],
 2023:           인덱스  자치구최근6개월거래량  자치구최근6개월평균금액  동최근6개월거래량   동최근6개월평균금액
 0      103044         1784   185502.4254        278  181095.0504
 1      103042         1473   163506.7889        149  252369.7987
 2      103046         1784   185502.4254        348   89949.6322
 3      103048         1784   185502.4254        348   89949.6322
 4      103041         1486    74084.6931        491   62097.4481
 ...       ...          ...           ...        ...          ...
 70418  173484          475   125988.1747         31   64109.6774
 70419  173481         1174   120845.0162         20  146250.0000
 70420  173482         1174   120845.0162         20  146250.0000
 70421  173486          757    97841.5509         68  290627.4118
 70422  173480         1249    70277.0641        180   37583.8278

 [70423 rows x 5 columns],
 2024:           인덱스  자치구최근6개월거래량  자치구최근6개월평균금액  동최근6개월거래량   동최근6개월평균금액
 0        6234         2751    83082.8241        509   51100.5010
 1        6238         2751    83082.8241        509   51100.5010
 2        6121         2751    83082.8241        108   68883.9167
 3        6150         2751    83082.8241        311  128856.2830
 4        6300         2751    83082.8241        311  128856.2830
 ...       ...          ...           ...        ...          ...
 96938  103030         1533    46814.8611        347   45983.9510
 96939  103037         1358    50148.7813        667   55331.2924
 96940  103031         1249    35806.0368        474   49919.1582
 96941  103035         1805    49987.2377        244   53080.4221
 96942  103033         1093    39116.2800        266   30358.4774

 [96943 rows x 5 columns],
 2025:        인덱스  자치구최근6개월거래량  자치구최근6개월평균금액  동최근6개월거래량   동최근6개월평균금액
 0        1         1881    86733.8729        139   85297.1223
 1       24         1881    86733.8729        114   67664.2982
 2        7         1831    82002.1278        491   41757.7413
 3       35         1831    82002.1278        491   41757.7413
 4       29         2559    47361.0152        285   52148.7544
 ...    ...          ...           ...        ...          ...
 6115  6118         2336    99489.8288         90   82274.2222
 6116  6098         2336    99489.8288         51   89870.5882
 6117  6112         2114    95035.8832        157  105898.1529
 6118  6102         2206   194465.3395        107  128128.0374
 6119  6107         2708   213764.9830        179  187314.2291

 [6120 rows x 5 columns]}

In [453]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 689611 entries, nan to nan
Data columns (total 27 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              689611 non-null  int64
 1   자치구코드             689611 non-null  int64
 2   자치구명              689610 non-null  object
 3   법정동코드             689611 non-null  int64
 4   법정동명              689611 non-null  object
 5   지번구분              646137 non-null  float64
 6   지번구분명             646137 non-null  object
 7   본번                646149 non-null  object
 8   부번                646149 non-null  object
 9   건물명               646142 non-null  object
 10  계약일               689611 non-null  int64
 11  물건금액(만원)          689611 non-null  int64
 12  건물면적(㎡)           689611 non-null  float64
 13  토지면적(㎡)           550039 non-null  float64
 14  층                 646196 non-null  float64
 15  권리구분              5189 non-null    object
 16  취소일               27357 non-null   float64
 17  건축년도              686281 non-null  float64
 18  건물용도              689611 non-null  object
 19  신고구분              252716 non-null  object
 20  신고한 개업공인중개사 시군구명  206972 non-null  object
 21  건물면적정수            689611 non-null  int64
 22  이전 실거래가(만원)       528541 non-null  float64
 23  자치구최근6개월거래량       175320 non-null  float64
 24  자치구최근6개월평균금액      175320 non-null  float64
 25  동최근6개월거래량         175320 non-null  float64
 26  동최근6개월평균금액        175320 non-null  float64
dtypes: float64(11), int64(6), object(10)
memory usage: 147.3+ MB

In [247]:

# ✅ 거래 건수 계산
transaction_counts = original_data.groupby(["접수연도", "자치구코드", "법정동코드"])["계약일"].count().reset_index()
transaction_counts.rename(columns={"계약일": "거래건수"}, inplace=True)

# ✅ 거래건수가 0인 조합 찾기
no_transaction = transaction_counts[transaction_counts["거래건수"] == 0]

# ✅ 결과 출력
print(no_transaction)

Empty DataFrame
Columns: [접수연도, 자치구코드, 법정동코드, 거래건수]
Index: []

In [275]:
original_data['계약일'] = pd.to_datetime(original_data['계약일'], format='%Y%m%d')