In [3]:
import pandas as pd

In [214]:
# df2016 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2016.csv", encoding = 'euc-kr', low_memory=False)
df2017 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2017.csv", encoding = 'euc-kr', low_memory=False)
df2018 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2018.csv", encoding = 'euc-kr', low_memory=False)
df2019 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2019.csv", encoding = 'euc-kr', low_memory=False)
df2020 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2020.csv", encoding = 'euc-kr', low_memory=False)
df2021 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2021.csv", encoding = 'euc-kr', low_memory=False)
df2022 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2022.csv", encoding = 'euc-kr', low_memory=False)
df2023 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2023.csv", encoding = 'euc-kr', low_memory=False)
df2024 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2024.csv", encoding = 'euc-kr', low_memory=False)
df2025 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2025.csv", encoding = 'euc-kr', low_memory=False)

In [218]:
df2016 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2016.csv", encoding = 'euc-kr', low_memory=False)

In [220]:
print(df2016.shape)
print(df2017.shape)
print(df2018.shape)
print(df2019.shape)
print(df2020.shape)
print(df2021.shape)
print(df2022.shape)
print(df2023.shape)
print(df2024.shape)
print(df2020.shape)

(209621, 21)
(187264, 21)
(166717, 21)
(130673, 21)
(183900, 21)
(138697, 21)
(66341, 21)
(69791, 21)
(96552, 21)
(183900, 21)

In [397]:
# ì—¬ëŸ¬ ê°œì˜ DataFrameì„ ë¦¬ìŠ¤íŠ¸ë¡œ ë¬¶ì–´ í•œ ë²ˆì— ë³‘í•©
df_list = [df2025, df2024, df2023, df2022, df2021, df2020, df2019, df2018, df2017, df2016]
df = pd.concat(df_list, ignore_index=True)

In [399]:
df.head()

,ì ‘ìˆ˜ì—°ë„,ìì¹˜êµ¬ì½”ë“œ,ìì¹˜êµ¬ëª…,ë²•ì •ë™ì½”ë“œ,ë²•ì •ë™ëª…,ì§€ë²ˆêµ¬ë¶„,ì§€ë²ˆêµ¬ë¶„ëª…,ë³¸ë²ˆ,ë¶€ë²ˆ,ê±´ë¬¼ëª…,...,ë¬¼ê±´ê¸ˆì•¡(ë§Œì›),ê±´ë¬¼ë©´ì (ã¡),í† ì§€ë©´ì (ã¡),ì¸µ,ê¶Œë¦¬êµ¬ë¶„,ì·¨ì†Œì¼,ê±´ì¶•ë…„ë„,ê±´ë¬¼ìš©ë„,ì‹ ê³ êµ¬ë¶„,ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…
0,2025,11230,ë™ëŒ€ë¬¸êµ¬,10400,ì „ë†ë™,1.0,ëŒ€ì§€,3.0,92.0,ì´ë„ì¸ë¹Œë”©,...,6991,26.350,34.17,5.0,NaN,NaN,2018.0,ì˜¤í”¼ìŠ¤í…”,ì§ê±°ë˜,NaN
1,2025,11440,ë§ˆí¬êµ¬,10400,ë„í™”ë™,1.0,ëŒ€ì§€,550.0,0.0,ì‚¼ì„±,...,120000,72.185,0.00,7.0,NaN,NaN,1997.0,ì•„íŒŒíŠ¸,ì§ê±°ë˜,NaN
2,2025,11230,ë™ëŒ€ë¬¸êµ¬,10400,ì „ë†ë™,1.0,ëŒ€ì§€,3.0,92.0,ì´ë„ì¸ë¹Œë”©,...,10463,34.140,17.00,8.0,NaN,NaN,2018.0,ì—°ë¦½ë‹¤ì„¸ëŒ€,ì§ê±°ë˜,NaN
3,2025,11230,ë™ëŒ€ë¬¸êµ¬,10400,ì „ë†ë™,1.0,ëŒ€ì§€,3.0,92.0,ì´ë„ì¸ë¹Œë”©,...,10463,34.140,17.00,7.0,NaN,NaN,2018.0,ì—°ë¦½ë‹¤ì„¸ëŒ€,ì§ê±°ë˜,NaN
4,2025,11230,ë™ëŒ€ë¬¸êµ¬,10400,ì „ë†ë™,1.0,ëŒ€ì§€,3.0,92.0,ì´ë„ì¸ë¹Œë”©,...,10463,34.140,17.00,6.0,NaN,NaN,2018.0,ì—°ë¦½ë‹¤ì„¸ëŒ€,ì§ê±°ë˜,NaN

In [401]:
df.shape

(1257872, 21)

### ë°”ë¡œ ì´ì „ ì‹¤ê±°ë˜ê°€ ì¶”ê°€

In [403]:
def add_previous_transaction_price(df, group_cols, price_col):
    """
    íŠ¹ì • ê·¸ë£¹(ë²•ì •ë™, ê±´ë¬¼ëª… ë“±) ë‚´ì—ì„œ í˜„ì¬ ì¸ë±ìŠ¤ ë’¤ì— ë“±ì¥í•˜ëŠ” ê°€ì¥ ë¹ ë¥¸ ì‹¤ê±°ë˜ê°€ë¥¼ ì¶”ê°€í•˜ëŠ” í•¨ìˆ˜

    :param df: ì›ë³¸ ë°ì´í„°í”„ë ˆì„
    :param group_cols: ê·¸ë£¹í™”í•  ì»¬ëŸ¼ ë¦¬ìŠ¤íŠ¸ (ì˜ˆ: ['ë²•ì •ë™ëª…', 'ë³¸ë²ˆ', 'ë¶€ë²ˆ', 'ê±´ë¬¼ëª…'])
    :param price_col: ì‹¤ê±°ë˜ê°€ ì»¬ëŸ¼ëª… (ì˜ˆ: 'ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)')
    :return: ë‹¤ìŒ ì‹¤ê±°ë˜ê°€ ì»¬ëŸ¼ì´ ì¶”ê°€ëœ ë°ì´í„°í”„ë ˆì„ (ìˆœì„œ ìœ ì§€ë¨)
    """
    # ì›ë˜ ë°ì´í„°ì˜ ìˆœì„œë¥¼ ìœ ì§€í•˜ê¸° ìœ„í•´ ì¸ë±ìŠ¤ ì¶”ê°€
    df['ì›ë˜_ì¸ë±ìŠ¤'] = df.index

    # ë°ì´í„° ì •ë ¬ (ë²•ì •ë™, ê±´ë¬¼ëª… ê¸°ì¤€)
    sorted_df = df.sort_values(by=group_cols + ['ì›ë˜_ì¸ë±ìŠ¤'])

    # ê·¸ë£¹ë³„ë¡œ ë‹¤ìŒ ë“±ì¥í•˜ëŠ” ì‹¤ê±°ë˜ê°€ë¥¼ ê°€ì ¸ì˜¤ê¸° (ë’¤ì—ì„œ ì²« ë²ˆì§¸ ê°’)
    sorted_df['ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)'] = sorted_df.groupby(group_cols)[price_col].shift(-1)

    # ì›ë˜ ìˆœì„œë¡œ ë³µì›
    final_df = sorted_df.sort_values(by=['ì›ë˜_ì¸ë±ìŠ¤']).drop(columns=['ì›ë˜_ì¸ë±ìŠ¤'])

    return final_df

In [407]:
df['ê±´ë¬¼ë©´ì ì •ìˆ˜'] = df['ê±´ë¬¼ë©´ì (ã¡)'].astype(int)

In [409]:
df = add_previous_transaction_price(df, ['ìì¹˜êµ¬ì½”ë“œ', 'ë²•ì •ë™ì½”ë“œ', 'ë³¸ë²ˆ', 'ë¶€ë²ˆ', 'ê±´ë¬¼ë©´ì ì •ìˆ˜'], 'ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)')

In [410]:
df[['ë²•ì •ë™ëª…', 'ê±´ë¬¼ëª…', 'ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)', 'ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)']].head(10)

  ë²•ì •ë™ëª…     ê±´ë¬¼ëª…  ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)  ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)
0  ì „ë†ë™   ì´ë„ì¸ë¹Œë”©      6991       6991.0
1  ë„í™”ë™      ì‚¼ì„±    120000     129500.0
2  ì „ë†ë™   ì´ë„ì¸ë¹Œë”©     10463      10463.0
3  ì „ë†ë™   ì´ë„ì¸ë¹Œë”©     10463      10463.0
4  ì „ë†ë™   ì´ë„ì¸ë¹Œë”©     10463      10463.0
5  ì „ë†ë™   ì´ë„ì¸ë¹Œë”©      6991       6991.0
6  ëŒ€ì¹˜ë™  ìƒ¹ì œë¦¬ì œì„¼í„°     20000      15400.0
7  ì‹ ì›”ë™   ì˜ˆì„±í´ë ˆì‹     23200          NaN
8  ì „ë†ë™   ì´ë„ì¸ë¹Œë”©      6991       6991.0
9  ì „ë†ë™   ì´ë„ì¸ë¹Œë”©     10155      10155.0

### 2020~2025 ë°ì´í„°ë§Œ í•„í„°ë§

In [411]:
df.shape

(1257872, 23)

In [412]:
df = df[df['ê³„ì•½ì¼'].apply(lambda x: str(x)[:4]).isin(['2020', '2021', '2022', '2023', '2024', '2025'])]

In [416]:
df.shape

(548407, 23)

### ê²°ì¸¡ì¹˜ í™•ì¸

In [419]:
df.isna().sum().sort_values(ascending=True)

ì ‘ìˆ˜ì—°ë„                     0
ê±´ë¬¼ìš©ë„                     0
ê±´ë¬¼ë©´ì (ã¡)                  0
ê±´ë¬¼ë©´ì ì •ìˆ˜                   0
ê³„ì•½ì¼                      0
ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)                 0
ìì¹˜êµ¬ì½”ë“œ                    0
ë²•ì •ë™ëª…                     0
ë²•ì •ë™ì½”ë“œ                    0
ìì¹˜êµ¬ëª…                     1
ê±´ì¶•ë…„ë„                  3123
ì¸µ                    33221
ë³¸ë²ˆ                   33260
ë¶€ë²ˆ                   33260
ì§€ë²ˆêµ¬ë¶„ëª…                33272
ì§€ë²ˆêµ¬ë¶„                 33272
ê±´ë¬¼ëª…                  33275
í† ì§€ë©´ì (ã¡)              72403
ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)         153599
ì‹ ê³ êµ¬ë¶„                295691
ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…    341435
ì·¨ì†Œì¼                 521050
ê¶Œë¦¬êµ¬ë¶„                545331
dtype: int64

### API í™œìš©í•´ì„œ ì´ì „ ì‹¤ê±°ë˜ê°€ ê³„ì‚°

In [127]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

# API ìš”ì²­
url = 'http://openapi.seoul.go.kr:8088/74786756716a696e3132324a5a586d44/xml/tbLnOpendataRtmsV/1/5/'
response = requests.get(url)

# XML íŒŒì‹±
soup = BeautifulSoup(response.content, 'xml')

# ë°ì´í„° ì¶”ì¶œ
rows = soup.find_all('row')

data = []
for row in rows:
    data.append({
        'ê±°ë˜ë…„ë„': row.find('RCPT_YR').text,
        'ìì¹˜êµ¬ëª…': row.find('CGG_NM').text,
        'ë²•ì •ë™ëª…': row.find('STDG_NM').text,
        'ê±´ë¬¼ëª…': row.find('BLDG_NM').text,
        'ê³„ì•½ì¼': row.find('CTRT_DAY').text,
        'ê±°ë˜ê¸ˆì•¡(ë§Œì›)': row.find('THING_AMT').text,
        'ê±´ë¬¼ìš©ë„': row.find('BLDG_USG').text,
        'ê±´ì¶•ë…„ë„': row.find('ARCH_YR').text,
        'ì¸µ': row.find('FLR').text,
    })

# DataFrame ë³€í™˜
api_df = pd.DataFrame(data)

In [129]:
api_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ê±°ë˜ë…„ë„      5 non-null      object
 1   ìì¹˜êµ¬ëª…      5 non-null      object
 2   ë²•ì •ë™ëª…      5 non-null      object
 3   ê±´ë¬¼ëª…       5 non-null      object
 4   ê³„ì•½ì¼       5 non-null      object
 5   ê±°ë˜ê¸ˆì•¡(ë§Œì›)  5 non-null      object
 6   ê±´ë¬¼ìš©ë„      5 non-null      object
 7   ê±´ì¶•ë…„ë„      5 non-null      object
 8   ì¸µ         5 non-null      object
dtypes: object(9)
memory usage: 492.0+ bytes

In [175]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

def add_previous_transaction_price(api_key, df, group_cols, price_col, date_col):
    """
    íŠ¹ì • ê±´ë¬¼(ë²•ì •ë™, ë³¸ë²ˆ, ë¶€ë²ˆ, ê±´ë¬¼ëª…) ë‚´ì—ì„œ ì´ì „ ê³„ì•½ì¼ì˜ ì‹¤ê±°ë˜ê°€ë¥¼ APIë¥¼ í˜¸ì¶œí•˜ì—¬ ê°€ì ¸ì™€ ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ëŠ” í•¨ìˆ˜.

    :param api_key: API ì¸ì¦í‚¤
    :param df: ì›ë³¸ ë°ì´í„°í”„ë ˆì„ (í˜„ì¬ ê±°ë˜ ë°ì´í„°)
    :param group_cols: ê·¸ë£¹í™”í•  ì»¬ëŸ¼ ë¦¬ìŠ¤íŠ¸ (ì˜ˆ: ['ë²•ì •ë™ì½”ë“œ', 'ë³¸ë²ˆ', 'ë¶€ë²ˆ', 'ê±´ë¬¼ëª…'])
    :param price_col: ì‹¤ê±°ë˜ê°€ ì»¬ëŸ¼ëª… (ì˜ˆ: 'ê±°ë˜ê¸ˆì•¡(ë§Œì›)')
    :param date_col: ê³„ì•½ì¼ ì»¬ëŸ¼ëª… (ì˜ˆ: 'ê³„ì•½ì¼')
    :return: ì´ì „ ì‹¤ê±°ë˜ê°€ ì»¬ëŸ¼ì´ ì¶”ê°€ëœ ë°ì´í„°í”„ë ˆì„
    """
    
    # ê³„ì•½ì¼ì„ datetime í˜•ì‹ìœ¼ë¡œ ë³€í™˜ (ë¹„êµë¥¼ ìœ„í•´)
    df[date_col] = pd.to_datetime(df[date_col], format='%Y%m%d')

    # ğŸ”¹ APIë¥¼ í˜¸ì¶œí•˜ì—¬ ê³¼ê±° ë°ì´í„°ë¥¼ ê°€ì ¸ì˜¤ëŠ” í•¨ìˆ˜
    def fetch_past_transaction(law_dong_code, main_no, sub_no, building_name, input_date):
        """
        íŠ¹ì • ê±´ë¬¼ì˜ ê³„ì•½ì¼ ì´ì „ ë°ì´í„°ë¥¼ APIì—ì„œ ê°€ì ¸ì˜¤ëŠ” í•¨ìˆ˜.
        """
        try:
            # ğŸ”¹ API ìš”ì²­ URL (í•„í„°ë§ ì¡°ê±´ ì¶”ê°€)
            url = f"http://openapi.seoul.go.kr:8088/{api_key}/xml/tbLnOpendataRtmsV/1/100/"
            params = {
                "STDG_CD": law_dong_code,
                "MNO": main_no,
                "SNO": sub_no,
                "BLDG_NM": building_name,
            }

            # API í˜¸ì¶œ
            response = requests.get(url, params=params)

            # ğŸ”¹ ì‘ë‹µ ì˜¤ë¥˜ ì²˜ë¦¬
            if response.status_code != 200:
                print(f"âš  API ìš”ì²­ ì‹¤íŒ¨ (HTTP {response.status_code})")
                return None

            # XML íŒŒì‹±
            soup = BeautifulSoup(response.content, 'xml')
            rows = soup.find_all('row')

            past_data = []
            for row in rows:
                ctrt_day = row.find('CTRT_DAY')
                thing_amt = row.find('THING_AMT')

                # 'ê³„ì•½ì¼'ê³¼ 'ê±°ë˜ê¸ˆì•¡' ê°’ì´ ì¡´ì¬í•˜ëŠ” ê²½ìš°ì—ë§Œ ì¶”ê°€
                if ctrt_day and thing_amt:
                    past_data.append({
                        'ê³„ì•½ì¼': ctrt_day.text.strip(),
                        'ê±°ë˜ê¸ˆì•¡(ë§Œì›)': thing_amt.text.strip()
                    })

            # DataFrame ë³€í™˜
            past_df = pd.DataFrame(past_data)

            # **ë¹ˆ ë°ì´í„°í”„ë ˆì„ ì²´í¬**
            if past_df.empty:
                return None  # ê³¼ê±° ë°ì´í„°ê°€ ì—†ìœ¼ë©´ None ë°˜í™˜

            # ê³„ì•½ì¼ ë³€í™˜
            past_df['ê³„ì•½ì¼'] = pd.to_datetime(past_df['ê³„ì•½ì¼'], format='%Y%m%d')

            # ì…ë ¥í•œ ê³„ì•½ì¼ ì´ì „ ë°ì´í„°ë§Œ ë‚¨ê¸°ê³ , ê°€ì¥ ìµœê·¼ ê±°ë˜ê¸ˆì•¡ ì°¾ê¸°
            past_df = past_df[past_df['ê³„ì•½ì¼'] < input_date].sort_values(by='ê³„ì•½ì¼', ascending=False)

            return past_df['ê±°ë˜ê¸ˆì•¡(ë§Œì›)'].iloc[0] if not past_df.empty else None  # ê°€ì¥ ìµœê·¼ ê±°ë˜ê¸ˆì•¡ ë°˜í™˜

        except Exception as e:
            print(f"âš  ì˜¤ë¥˜ ë°œìƒ: {e}")
            return None

    # ğŸ”¹ ì´ì „ ì‹¤ê±°ë˜ê°€ ì¶”ê°€ (ê° í–‰ë³„ API í˜¸ì¶œ)
    df['ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)'] = df.apply(
        lambda row: fetch_past_transaction(
            row['ë²•ì •ë™ì½”ë“œ'], row['ë³¸ë²ˆ'], row['ë¶€ë²ˆ'], row['ê±´ë¬¼ëª…'], row['ê³„ì•½ì¼']
        ), axis=1
    )

    return df

In [207]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

def add_previous_transaction_price(api_key, df, group_cols, price_col, date_col):
    """
    íŠ¹ì • ê±´ë¬¼(ë²•ì •ë™, ë³¸ë²ˆ, ë¶€ë²ˆ, ê±´ë¬¼ëª…) ë‚´ì—ì„œ 'ì´ì „ ì‹¤ê±°ë˜ê°€'ê°€ ê²°ì¸¡ì¹˜ì¸ í–‰ì— ëŒ€í•´ì„œë§Œ API í˜¸ì¶œí•˜ì—¬ ê°’ì„ ì¶”ê°€í•˜ëŠ” í•¨ìˆ˜.

    :param api_key: API ì¸ì¦í‚¤
    :param df: ì›ë³¸ ë°ì´í„°í”„ë ˆì„ (í˜„ì¬ ê±°ë˜ ë°ì´í„°)
    :param group_cols: ê·¸ë£¹í™”í•  ì»¬ëŸ¼ ë¦¬ìŠ¤íŠ¸ (ì˜ˆ: ['ë²•ì •ë™ì½”ë“œ', 'ë³¸ë²ˆ', 'ë¶€ë²ˆ', 'ê±´ë¬¼ëª…'])
    :param price_col: ì‹¤ê±°ë˜ê°€ ì»¬ëŸ¼ëª… (ì˜ˆ: 'ê±°ë˜ê¸ˆì•¡(ë§Œì›)')
    :param date_col: ê³„ì•½ì¼ ì»¬ëŸ¼ëª… (ì˜ˆ: 'ê³„ì•½ì¼')
    :return: ì´ì „ ì‹¤ê±°ë˜ê°€ ì»¬ëŸ¼ì´ ê²°ì¸¡ì¹˜ì¸ ë°ì´í„°ë§Œ ì—…ë°ì´íŠ¸ëœ DataFrame
    """
    
    # ê³„ì•½ì¼ì„ datetime í˜•ì‹ìœ¼ë¡œ ë³€í™˜ (ë¹„êµë¥¼ ìœ„í•´)
    df[date_col] = pd.to_datetime(df[date_col], format='%Y%m%d')

    # ğŸ”¹ APIë¥¼ í˜¸ì¶œí•˜ì—¬ ê³¼ê±° ë°ì´í„°ë¥¼ ê°€ì ¸ì˜¤ëŠ” í•¨ìˆ˜
    def fetch_past_transaction(law_dong_code, main_no, sub_no, building_name, input_date):
        """
        íŠ¹ì • ê±´ë¬¼ì˜ ê³„ì•½ì¼ ì´ì „ ë°ì´í„°ë¥¼ APIì—ì„œ ê°€ì ¸ì˜¤ëŠ” í•¨ìˆ˜.
        """
        try:
            # ğŸ”¹ API ìš”ì²­ URL (í•„í„°ë§ ì¡°ê±´ ì¶”ê°€)
            url = f"http://openapi.seoul.go.kr:8088/{api_key}/xml/tbLnOpendataRtmsV/1/100/"
            params = {
                "STDG_CD": law_dong_code,
                "MNO": main_no,
                "SNO": sub_no,
                "BLDG_NM": building_name,
            }

            # API í˜¸ì¶œ
            response = requests.get(url, params=params)

            # ğŸ”¹ ì‘ë‹µ ì˜¤ë¥˜ ì²˜ë¦¬
            if response.status_code != 200:
                print(f"âš  API ìš”ì²­ ì‹¤íŒ¨ (HTTP {response.status_code})")
                return None

            # XML íŒŒì‹±
            soup = BeautifulSoup(response.content, 'xml')
            rows = soup.find_all('row')

            past_data = []
            for row in rows:
                ctrt_day = row.find('CTRT_DAY')
                thing_amt = row.find('THING_AMT')

                # 'ê³„ì•½ì¼'ê³¼ 'ê±°ë˜ê¸ˆì•¡' ê°’ì´ ì¡´ì¬í•˜ëŠ” ê²½ìš°ì—ë§Œ ì¶”ê°€
                if ctrt_day and thing_amt:
                    past_data.append({
                        'ê³„ì•½ì¼': ctrt_day.text.strip(),
                        'ê±°ë˜ê¸ˆì•¡(ë§Œì›)': thing_amt.text.strip()
                    })

            # DataFrame ë³€í™˜
            past_df = pd.DataFrame(past_data)

            # **ë¹ˆ ë°ì´í„°í”„ë ˆì„ ì²´í¬**
            if past_df.empty:
                return None  # ê³¼ê±° ë°ì´í„°ê°€ ì—†ìœ¼ë©´ None ë°˜í™˜

            # ê³„ì•½ì¼ ë³€í™˜
            past_df['ê³„ì•½ì¼'] = pd.to_datetime(past_df['ê³„ì•½ì¼'], format='%Y%m%d')

            # ì…ë ¥í•œ ê³„ì•½ì¼ ì´ì „ ë°ì´í„°ë§Œ ë‚¨ê¸°ê³ , ê°€ì¥ ìµœê·¼ ê±°ë˜ê¸ˆì•¡ ì°¾ê¸°
            past_df = past_df[past_df['ê³„ì•½ì¼'] < input_date].sort_values(by='ê³„ì•½ì¼', ascending=False)

            return past_df['ê±°ë˜ê¸ˆì•¡(ë§Œì›)'].iloc[0] if not past_df.empty else None  # ê°€ì¥ ìµœê·¼ ê±°ë˜ê¸ˆì•¡ ë°˜í™˜

        except Exception as e:
            print(f"âš  ì˜¤ë¥˜ ë°œìƒ: {e}")
            return None

    # ğŸ”¹ 'ì´ì „ ì‹¤ê±°ë˜ê°€' ì»¬ëŸ¼ì´ ê²°ì¸¡ì¹˜ì¸ í–‰ì— ëŒ€í•´ì„œë§Œ API í˜¸ì¶œ
    mask = df['ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)'].isna()

    df.loc[mask, 'ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)'] = df[mask].apply(
        lambda row: fetch_past_transaction(
            row['ë²•ì •ë™ì½”ë“œ'], row['ë³¸ë²ˆ'], row['ë¶€ë²ˆ'], row['ê±´ë¬¼ëª…'], row['ê³„ì•½ì¼']
        ), axis=1
    )

    return df

In [534]:
df['ê±´ë¬¼ë©´ì ì •ìˆ˜'] = df['ê±´ë¬¼ë©´ì (ã¡)'].astype(int)

In [536]:
df = add_previous_transaction_price(df, ['ìì¹˜êµ¬ì½”ë“œ', 'ë²•ì •ë™ì½”ë“œ', 'ë³¸ë²ˆ', 'ë¶€ë²ˆ', 'ê±´ë¬¼ë©´ì ì •ìˆ˜'], 'ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)')

In [538]:
df = df[df['ê³„ì•½ì¼'].apply(lambda x: str(x)[:4]).isin(['2019', '2020', '2021', '2022', '2023', '2024', '2025'])]

In [539]:
df.shape

(689611, 23)

In [540]:
df.isna().sum().sort_values(ascending=True)

ì ‘ìˆ˜ì—°ë„                     0
ê±´ë¬¼ìš©ë„                     0
ê±´ë¬¼ë©´ì (ã¡)                  0
ê±´ë¬¼ë©´ì ì •ìˆ˜                   0
ê³„ì•½ì¼                      0
ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)                 0
ë²•ì •ë™ëª…                     0
ë²•ì •ë™ì½”ë“œ                    0
ìì¹˜êµ¬ì½”ë“œ                    0
ìì¹˜êµ¬ëª…                     1
ê±´ì¶•ë…„ë„                  3330
ì¸µ                    43415
ë³¸ë²ˆ                   43462
ë¶€ë²ˆ                   43462
ê±´ë¬¼ëª…                  43469
ì§€ë²ˆêµ¬ë¶„ëª…                43474
ì§€ë²ˆêµ¬ë¶„                 43474
í† ì§€ë©´ì (ã¡)             139572
ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)         161070
ì‹ ê³ êµ¬ë¶„                436895
ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…    482639
ì·¨ì†Œì¼                 662254
ê¶Œë¦¬êµ¬ë¶„                684422
dtype: int64

In [260]:
df2014 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2014.csv", encoding = 'euc-kr', low_memory=False)
df2015 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2015.csv", encoding = 'euc-kr', low_memory=False)

In [272]:
df2013 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2013.csv", encoding = 'euc-kr', low_memory=False)
df2012 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2012.csv", encoding = 'euc-kr', low_memory=False)
df2011 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2011.csv", encoding = 'euc-kr', low_memory=False)
df2010 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2010.csv", encoding = 'euc-kr', low_memory=False)

In [421]:
df2009 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2009.csv", encoding = 'euc-kr', low_memory=False)
df2008 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2008.csv", encoding = 'euc-kr', low_memory=False)
df2007 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2007.csv", encoding = 'euc-kr', low_memory=False)
df2006 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2006.csv", encoding = 'euc-kr', low_memory=False)

In [455]:
df_list = [df2025, df2024, df2023, df2022, df2021, df2020, df2019, df2018, df2017, df2016, df2015, df2014, df2013, df2012, df2011, df2010, df2009, df2008, df2007, df2006]
df = pd.concat(df_list, ignore_index=True)

In [467]:
df[['ë²•ì •ë™ëª…', 'ê±´ë¬¼ëª…', 'ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)', 'ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)']].head(10)

  ë²•ì •ë™ëª…     ê±´ë¬¼ëª…  ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)  ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)
0  ì „ë†ë™   ì´ë„ì¸ë¹Œë”©      6991       6991.0
1  ë„í™”ë™      ì‚¼ì„±    120000     129500.0
2  ì „ë†ë™   ì´ë„ì¸ë¹Œë”©     10463      10463.0
3  ì „ë†ë™   ì´ë„ì¸ë¹Œë”©     10463      10463.0
4  ì „ë†ë™   ì´ë„ì¸ë¹Œë”©     10463      10463.0
5  ì „ë†ë™   ì´ë„ì¸ë¹Œë”©      6991       6991.0
6  ëŒ€ì¹˜ë™  ìƒ¹ì œë¦¬ì œì„¼í„°     20000      15400.0
7  ì‹ ì›”ë™   ì˜ˆì„±í´ë ˆì‹     23200          NaN
8  ì „ë†ë™   ì´ë„ì¸ë¹Œë”©      6991       6991.0
9  ì „ë†ë™   ì´ë„ì¸ë¹Œë”©     10155      10155.0

In [532]:
df_list = [df2025, df2024, df2023, df2022, df2021, df2020, df2019, df2018, df2017, df2016, df2015, df2014, df2013, df2012, df2011, df2010, df2009, df2008, df2007, df2006]
df = pd.concat(df_list, ignore_index=True)

In [529]:
df = df[df['ê³„ì•½ì¼'].apply(lambda x: str(x)[:4]).isin(['2019', '2020', '2021', '2022', '2023', '2024', '2025'])]

In [524]:
import pandas as pd

# ê³„ì•½ì¼ì„ datetime í˜•ì‹ìœ¼ë¡œ ë³€í™˜ (ë‚ ì§œ ê³„ì‚°ì„ ìœ„í•´)
df['ê³„ì•½ì¼'] = pd.to_datetime(df['ê³„ì•½ì¼'], format='%Y%m%d')

# ğŸ”¹ ê° í–‰ì˜ ê³„ì•½ì¼ ê¸°ì¤€ìœ¼ë¡œ ìµœê·¼ 6ê°œì›”(180ì¼) ë™ì•ˆì˜ í‰ê·  ì‹¤ê±°ë˜ê°€ ë° ê±°ë˜ëŸ‰ ê³„ì‚°
def calculate_past_6months_avg(row, df):
    """
    í•´ë‹¹ í–‰ì˜ ê³„ì•½ì¼ ê¸°ì¤€ ìµœê·¼ 6ê°œì›” ë™ì•ˆì˜ ê°™ì€ ìì¹˜êµ¬ + ë²•ì •ë™ì˜ í‰ê·  ì‹¤ê±°ë˜ê°€ ë° ê±°ë˜ëŸ‰ ê³„ì‚°
    """
    # í˜„ì¬ í–‰ì˜ ìì¹˜êµ¬ì½”ë“œ, ë²•ì •ë™ì½”ë“œ ë° ê³„ì•½ì¼ ê°€ì ¸ì˜¤ê¸°
    district_code = row['ìì¹˜êµ¬ì½”ë“œ']
    law_dong_code = row['ë²•ì •ë™ì½”ë“œ']
    contract_date = row['ê³„ì•½ì¼']

    # ğŸ”¹ ìì¹˜êµ¬ì½”ë“œ + ë²•ì •ë™ì½”ë“œê°€ ê°™ì€ ë°ì´í„° ì¤‘ ìµœê·¼ 6ê°œì›” ì´ë‚´ ê±°ë˜ í•„í„°ë§
    past_6months_df = df[
        (df['ìì¹˜êµ¬ì½”ë“œ'] == district_code) & 
        (df['ë²•ì •ë™ì½”ë“œ'] == law_dong_code) & 
        (df['ê³„ì•½ì¼'] >= contract_date - pd.Timedelta(days=180)) & 
        (df['ê³„ì•½ì¼'] < contract_date)  # í˜„ì¬ ê³„ì•½ì¼ ì œì™¸
    ]

    # ğŸ”¹ í‰ê·  ì‹¤ê±°ë˜ê°€ ë° ê±°ë˜ëŸ‰(ê±°ë˜ ê±´ìˆ˜) ê³„ì‚°
    avg_price = past_6months_df['ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)'].mean()
    transaction_count = past_6months_df.shape[0]  # ê±°ë˜ ê±´ìˆ˜

    return pd.Series([avg_price, transaction_count])

In [526]:
# ğŸ”¹ ê³„ì•½ì—°ë„ê°€ 2020~2025ì¸ ê²½ìš°ì—ë§Œ ê³„ì‚°
mask = df['ê³„ì•½ì¼'].apply(lambda x: 2020 <= x.year <= 2025)

df.loc[mask, ['ìµœê·¼6ê°œì›”_í‰ê· ì‹¤ê±°ë˜ê°€(ë§Œì›)', 'ìµœê·¼6ê°œì›”_ê±°ë˜ëŸ‰']] = df[mask].apply(
    lambda row: calculate_past_6months_avg(row, df), axis=1
)

KeyboardInterrupt

In [522]:
df.shape

(689611, 23)

In [544]:
df.to_csv("C:/ZIPcoding/2019~2025 data.csv", index = False)

In [546]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 689611 entries, 0 to 694274
Data columns (total 23 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ì ‘ìˆ˜ì—°ë„              689611 non-null  int64
 1   ìì¹˜êµ¬ì½”ë“œ             689611 non-null  int64
 2   ìì¹˜êµ¬ëª…              689610 non-null  object
 3   ë²•ì •ë™ì½”ë“œ             689611 non-null  int64
 4   ë²•ì •ë™ëª…              689611 non-null  object
 5   ì§€ë²ˆêµ¬ë¶„              646137 non-null  float64
 6   ì§€ë²ˆêµ¬ë¶„ëª…             646137 non-null  object
 7   ë³¸ë²ˆ                646149 non-null  object
 8   ë¶€ë²ˆ                646149 non-null  object
 9   ê±´ë¬¼ëª…               646142 non-null  object
 10  ê³„ì•½ì¼               689611 non-null  int64
 11  ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)          689611 non-null  int64
 12  ê±´ë¬¼ë©´ì (ã¡)           689611 non-null  float64
 13  í† ì§€ë©´ì (ã¡)           550039 non-null  float64
 14  ì¸µ                 646196 non-null  float64
 15  ê¶Œë¦¬êµ¬ë¶„              5189 non-null    object
 16  ì·¨ì†Œì¼               27357 non-null   float64
 17  ê±´ì¶•ë…„ë„              686281 non-null  float64
 18  ê±´ë¬¼ìš©ë„              689611 non-null  object
 19  ì‹ ê³ êµ¬ë¶„              252716 non-null  object
 20  ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…  206972 non-null  object
 21  ê±´ë¬¼ë©´ì ì •ìˆ˜            689611 non-null  int32
 22  ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)       528541 non-null  float64
dtypes: float64(7), int32(1), int64(5), object(10)
memory usage: 123.6+ MB

In [7]:
df2019 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2019.csv", encoding = 'euc-kr', low_memory=False)
df2020 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2020.csv", encoding = 'euc-kr', low_memory=False)
df2021 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2021.csv", encoding = 'euc-kr', low_memory=False)
df2022 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2022.csv", encoding = 'euc-kr', low_memory=False)
df2023 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2023.csv", encoding = 'euc-kr', low_memory=False)
df2024 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2024.csv", encoding = 'euc-kr', low_memory=False)
df2025 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2025.csv", encoding = 'euc-kr', low_memory=False)

In [8]:
# ì—¬ëŸ¬ ê°œì˜ DataFrameì„ ë¦¬ìŠ¤íŠ¸ë¡œ ë¬¶ì–´ í•œ ë²ˆì— ë³‘í•©
df_list = [df2025, df2024, df2023, df2022, df2021, df2020, df2019]
df = pd.concat(df_list, ignore_index=True)

In [27]:

df.to_excel("C:/ZIPcoding/original_data.xlsx", index = False)

KeyboardInterrupt:

In [29]:
import pandas as pd

# CSV íŒŒì¼ ì½ê¸°
file_path = "C:/ZIPcoding/original_data.csv"
df1 = pd.read_csv(file_path)

# ì»¬ëŸ¼ ê°œìˆ˜ í™•ì¸
print(f"CSV ì»¬ëŸ¼ ê°œìˆ˜: {len(df1.columns)}")
print(f"CSV ì»¬ëŸ¼ ëª©ë¡: {df1.columns.tolist()}")

CSV ì»¬ëŸ¼ ê°œìˆ˜: 21
CSV ì»¬ëŸ¼ ëª©ë¡: ['ì ‘ìˆ˜ì—°ë„', 'ìì¹˜êµ¬ì½”ë“œ', 'ìì¹˜êµ¬ëª…', 'ë²•ì •ë™ì½”ë“œ', 'ë²•ì •ë™ëª…', 'ì§€ë²ˆêµ¬ë¶„', 'ì§€ë²ˆêµ¬ë¶„ëª…', 'ë³¸ë²ˆ', 'ë¶€ë²ˆ', 'ê±´ë¬¼ëª…', 'ê³„ì•½ì¼', 'ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)', 'ê±´ë¬¼ë©´ì (ã¡)', 'í† ì§€ë©´ì (ã¡)', 'ì¸µ', 'ê¶Œë¦¬êµ¬ë¶„', 'ì·¨ì†Œì¼', 'ê±´ì¶•ë…„ë„', 'ê±´ë¬¼ìš©ë„', 'ì‹ ê³ êµ¬ë¶„', 'ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…']

C:\Users\user\AppData\Local\Temp\ipykernel_2600\2095032781.py:5: DtypeWarning: Columns (7,8,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(file_path)

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 694270 entries, 0 to 694269
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ì ‘ìˆ˜ì—°ë„              694270 non-null  int64
 1   ìì¹˜êµ¬ì½”ë“œ             694270 non-null  int64
 2   ìì¹˜êµ¬ëª…              694269 non-null  object
 3   ë²•ì •ë™ì½”ë“œ             694270 non-null  int64
 4   ë²•ì •ë™ëª…              694270 non-null  object
 5   ì§€ë²ˆêµ¬ë¶„              650014 non-null  float64
 6   ì§€ë²ˆêµ¬ë¶„ëª…             650014 non-null  object
 7   ë³¸ë²ˆ                650026 non-null  object
 8   ë¶€ë²ˆ                650026 non-null  object
 9   ê±´ë¬¼ëª…               650019 non-null  object
 10  ê³„ì•½ì¼               694270 non-null  int64
 11  ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)          694270 non-null  int64
 12  ê±´ë¬¼ë©´ì (ã¡)           694270 non-null  float64
 13  í† ì§€ë©´ì (ã¡)           553310 non-null  float64
 14  ì¸µ                 650073 non-null  float64
 15  ê¶Œë¦¬êµ¬ë¶„              5288 non-null    object
 16  ì·¨ì†Œì¼               27357 non-null   float64
 17  ê±´ì¶•ë…„ë„              690933 non-null  float64
 18  ê±´ë¬¼ìš©ë„              694270 non-null  object
 19  ì‹ ê³ êµ¬ë¶„              252716 non-null  object
 20  ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…  206972 non-null  object
dtypes: float64(6), int64(5), object(10)
memory usage: 111.2+ MB

In [35]:
pip install pandas mysql-connector-python sqlalchemy pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: pymysql in c:\users\user\appdata\roaming\python\python312\site-packages (1.1.1)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---- ----------------------------------- 1.8/16.1 MB 10.0 MB/s eta 0:00:02
   --------- ------------------------------ 3.9/16.1 MB 10.7 MB/s eta 0:00:02
   ----------------- ---------------------- 7.1/16.1 MB 11.8 MB/s eta 0:00:01
   -------------------------- ------------- 10.5/16.1 MB 13.1 MB/s eta 0:00:01
   ---------------------------------- ----- 13.9/16.1 MB 13.6 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 13.5 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0
Note: you may need to restart the kernel to use updated packages.

In [53]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

# MySQL ì—°ê²° ì •ë³´
HOST = "localhost"  # ë˜ëŠ” "127.0.0.1"
USER = "root"
PASSWORD = "toor"
DATABASE = "zipcoding"

# SQLAlchemy ì—”ì§„ ìƒì„± (Pandas to_sqlì„ ì‚¬ìš©í•˜ê¸° ìœ„í•¨)
engine = create_engine(f"mysql+pymysql://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

# mysql.connectorë¥¼ ì‚¬ìš©í•œ ì—°ê²° (ì»¤ì„œ ì‚¬ìš© ê°€ëŠ¥)
conn = mysql.connector.connect(
    host=HOST,
    user=USER,
    password=PASSWORD,
    database=DATABASE
)
cursor = conn.cursor()

In [55]:
df.to_sql(name="original_data", con=engine, if_exists="append", index=True)

694270

In [41]:
df.columns

Index(['ì ‘ìˆ˜ì—°ë„', 'ìì¹˜êµ¬ì½”ë“œ', 'ìì¹˜êµ¬ëª…', 'ë²•ì •ë™ì½”ë“œ', 'ë²•ì •ë™ëª…', 'ì§€ë²ˆêµ¬ë¶„', 'ì§€ë²ˆêµ¬ë¶„ëª…', 'ë³¸ë²ˆ', 'ë¶€ë²ˆ',
       'ê±´ë¬¼ëª…', 'ê³„ì•½ì¼', 'ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)', 'ê±´ë¬¼ë©´ì (ã¡)', 'í† ì§€ë©´ì (ã¡)', 'ì¸µ', 'ê¶Œë¦¬êµ¬ë¶„', 'ì·¨ì†Œì¼',
       'ê±´ì¶•ë…„ë„', 'ê±´ë¬¼ìš©ë„', 'ì‹ ê³ êµ¬ë¶„', 'ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…'],
      dtype='object')

In [43]:
df.columns =  ['ì ‘ìˆ˜ì—°ë„', 'ìì¹˜êµ¬ì½”ë“œ', 'ìì¹˜êµ¬ëª…', 'ë²•ì •ë™ì½”ë“œ', 'ë²•ì •ë™ëª…', 'ì§€ë²ˆêµ¬ë¶„', 'ì§€ë²ˆêµ¬ë¶„ëª…', 'ë³¸ë²ˆ', 'ë¶€ë²ˆ',
       'ê±´ë¬¼ëª…', 'ê³„ì•½ì¼', 'ë¬¼ê±´ê¸ˆì•¡', 'ê±´ë¬¼ë©´ì ', 'í† ì§€ë©´ì ', 'ì¸µ', 'ê¶Œë¦¬êµ¬ë¶„', 'ì·¨ì†Œì¼',
       'ê±´ì¶•ë…„ë„', 'ê±´ë¬¼ìš©ë„', 'ì‹ ê³ êµ¬ë¶„', 'ì‹ ê³ í•œê°œì—…ê³µì¸ì¤‘ê°œì‚¬ì‹œêµ°êµ¬ëª…']

In [49]:
conn.commit()

In [51]:
cursor.close()
conn.close()
engine.dispose()

In [57]:
df

,ì ‘ìˆ˜ì—°ë„,ìì¹˜êµ¬ì½”ë“œ,ìì¹˜êµ¬ëª…,ë²•ì •ë™ì½”ë“œ,ë²•ì •ë™ëª…,ì§€ë²ˆêµ¬ë¶„,ì§€ë²ˆêµ¬ë¶„ëª…,ë³¸ë²ˆ,ë¶€ë²ˆ,ê±´ë¬¼ëª…,...,ë¬¼ê±´ê¸ˆì•¡,ê±´ë¬¼ë©´ì,í† ì§€ë©´ì,ì¸µ,ê¶Œë¦¬êµ¬ë¶„,ì·¨ì†Œì¼,ê±´ì¶•ë…„ë„,ê±´ë¬¼ìš©ë„,ì‹ ê³ êµ¬ë¶„,ì‹ ê³ í•œê°œì—…ê³µì¸ì¤‘ê°œì‚¬ì‹œêµ°êµ¬ëª…
0,2025,11230,ë™ëŒ€ë¬¸êµ¬,10400,ì „ë†ë™,1.0,ëŒ€ì§€,3.0,92.0,ì´ë„ì¸ë¹Œë”©,...,6991,26.350,34.17,5.0,NaN,NaN,2018.0,ì˜¤í”¼ìŠ¤í…”,ì§ê±°ë˜,NaN
1,2025,11440,ë§ˆí¬êµ¬,10400,ë„í™”ë™,1.0,ëŒ€ì§€,550.0,0.0,ì‚¼ì„±,...,120000,72.185,0.00,7.0,NaN,NaN,1997.0,ì•„íŒŒíŠ¸,ì§ê±°ë˜,NaN
2,2025,11230,ë™ëŒ€ë¬¸êµ¬,10400,ì „ë†ë™,1.0,ëŒ€ì§€,3.0,92.0,ì´ë„ì¸ë¹Œë”©,...,10463,34.140,17.00,8.0,NaN,NaN,2018.0,ì—°ë¦½ë‹¤ì„¸ëŒ€,ì§ê±°ë˜,NaN
3,2025,11230,ë™ëŒ€ë¬¸êµ¬,10400,ì „ë†ë™,1.0,ëŒ€ì§€,3.0,92.0,ì´ë„ì¸ë¹Œë”©,...,10463,34.140,17.00,7.0,NaN,NaN,2018.0,ì—°ë¦½ë‹¤ì„¸ëŒ€,ì§ê±°ë˜,NaN
4,2025,11230,ë™ëŒ€ë¬¸êµ¬,10400,ì „ë†ë™,1.0,ëŒ€ì§€,3.0,92.0,ì´ë„ì¸ë¹Œë”©,...,10463,34.140,17.00,6.0,NaN,NaN,2018.0,ì—°ë¦½ë‹¤ì„¸ëŒ€,ì§ê±°ë˜,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694265,2019,11545,ê¸ˆì²œêµ¬,10200,ë…ì‚°ë™,1.0,ëŒ€ì§€,0441,14.0,ë¡¯ë°ìºìŠ¬ã€€ê³¨ë“œíŒŒí¬ã€€ï¼“ì°¨,...,40550,59.970,0.00,16.0,ë¶„ì–‘ê¶Œ,NaN,0.0,ì•„íŒŒíŠ¸,NaN,NaN
694266,2019,11545,ê¸ˆì²œêµ¬,10200,ë…ì‚°ë™,1.0,ëŒ€ì§€,0441,14.0,ë¡¯ë°ìºìŠ¬ã€€ê³¨ë“œíŒŒí¬ã€€ï¼“ì°¨,...,40880,59.970,0.00,34.0,ë¶„ì–‘ê¶Œ,NaN,0.0,ì•„íŒŒíŠ¸,NaN,NaN
694267,2019,11545,ê¸ˆì²œêµ¬,10200,ë…ì‚°ë™,1.0,ëŒ€ì§€,0441,14.0,ë¡¯ë°ìºìŠ¬ã€€ê³¨ë“œíŒŒí¬ã€€ï¼“ì°¨,...,40850,59.970,0.00,28.0,ë¶„ì–‘ê¶Œ,NaN,0.0,ì•„íŒŒíŠ¸,NaN,NaN
694268,2019,11350,ë…¸ì›êµ¬,10500,ìƒê³„ë™,1.0,ëŒ€ì§€,0456,65.0,ì²­êµ¬ë¹Œë¼,...,6300,42.460,24.50,-1.0,NaN,NaN,1994.0,ì—°ë¦½ë‹¤ì„¸ëŒ€,NaN,NaN
694269,2019,11740,ê°•ë™êµ¬,10900,ì²œí˜¸ë™,1.0,ëŒ€ì§€,0528,0.0,ì‚¼ì„±,...,63000,114.650,NaN,4.0,NaN,NaN,1997.0,ì•„íŒŒíŠ¸,NaN,NaN

In [59]:
# âœ… ê¸°ì¡´ ì¸ë±ìŠ¤ë¥¼ ìƒˆë¡œìš´ ì»¬ëŸ¼("ì¸ë±ìŠ¤")ìœ¼ë¡œ ë³€í™˜
df.reset_index(inplace=True)  
df.rename(columns={"index": "ì¸ë±ìŠ¤"}, inplace=True)  # âœ… ì»¬ëŸ¼ëª…ì„ "ì¸ë±ìŠ¤"ë¡œ ë³€ê²½

In [61]:
df.columns

Index(['ì¸ë±ìŠ¤', 'ì ‘ìˆ˜ì—°ë„', 'ìì¹˜êµ¬ì½”ë“œ', 'ìì¹˜êµ¬ëª…', 'ë²•ì •ë™ì½”ë“œ', 'ë²•ì •ë™ëª…', 'ì§€ë²ˆêµ¬ë¶„', 'ì§€ë²ˆêµ¬ë¶„ëª…', 'ë³¸ë²ˆ',
       'ë¶€ë²ˆ', 'ê±´ë¬¼ëª…', 'ê³„ì•½ì¼', 'ë¬¼ê±´ê¸ˆì•¡', 'ê±´ë¬¼ë©´ì ', 'í† ì§€ë©´ì ', 'ì¸µ', 'ê¶Œë¦¬êµ¬ë¶„', 'ì·¨ì†Œì¼', 'ê±´ì¶•ë…„ë„',
       'ê±´ë¬¼ìš©ë„', 'ì‹ ê³ êµ¬ë¶„', 'ì‹ ê³ í•œê°œì—…ê³µì¸ì¤‘ê°œì‚¬ì‹œêµ°êµ¬ëª…'],
      dtype='object')

In [79]:

# âœ… `ê³„ì•½ì¼`ì„ `DATE` íƒ€ì…ìœ¼ë¡œ ë³€í™˜
df["ê³„ì•½ì¼"] = pd.to_datetime(df["ê³„ì•½ì¼"], format="%Y-%m-%d").dt.date  # `DATE` í˜•ì‹ ë³€í™˜

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 694270 entries, 0 to 694269
Data columns (total 22 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ì¸ë±ìŠ¤             694270 non-null  int64
 1   ì ‘ìˆ˜ì—°ë„            694270 non-null  int64
 2   ìì¹˜êµ¬ì½”ë“œ           694270 non-null  int64
 3   ìì¹˜êµ¬ëª…            694269 non-null  object
 4   ë²•ì •ë™ì½”ë“œ           694270 non-null  int64
 5   ë²•ì •ë™ëª…            694270 non-null  object
 6   ì§€ë²ˆêµ¬ë¶„            650014 non-null  float64
 7   ì§€ë²ˆêµ¬ë¶„ëª…           650014 non-null  object
 8   ë³¸ë²ˆ              650026 non-null  object
 9   ë¶€ë²ˆ              650026 non-null  object
 10  ê±´ë¬¼ëª…             650019 non-null  object
 11  ê³„ì•½ì¼             694270 non-null  object
 12  ë¬¼ê±´ê¸ˆì•¡            694270 non-null  int64
 13  ê±´ë¬¼ë©´ì             694270 non-null  float64
 14  í† ì§€ë©´ì             553310 non-null  float64
 15  ì¸µ               650073 non-null  float64
 16  ê¶Œë¦¬êµ¬ë¶„            5288 non-null    object
 17  ì·¨ì†Œì¼             27357 non-null   float64
 18  ê±´ì¶•ë…„ë„            690933 non-null  float64
 19  ê±´ë¬¼ìš©ë„            694270 non-null  object
 20  ì‹ ê³ êµ¬ë¶„            252716 non-null  object
 21  ì‹ ê³ í•œê°œì—…ê³µì¸ì¤‘ê°œì‚¬ì‹œêµ°êµ¬ëª…  206972 non-null  object
dtypes: float64(6), int64(5), object(11)
memory usage: 116.5+ MB

In [83]:
df["ê³„ì•½ì¼"]

0         2025-02-13
1         2025-02-13
2         2025-02-13
3         2025-02-13
4         2025-02-13
             ...
694265    2015-11-16
694266    2015-10-27
694267    2015-09-18
694268    2014-11-28
694269    2011-10-05
Name: ê³„ì•½ì¼, Length: 694270, dtype: object

In [85]:

# âœ… MySQL í…Œì´ë¸”ì— `DATE` í˜•ì‹ìœ¼ë¡œ ì €ì¥
df.to_sql(name="original_data", con=engine, if_exists="replace", index=False, dtype={"ê³„ì•½ì¼": "DATE"})

ValueError: The type of ê³„ì•½ì¼ is not a SQLAlchemy type

In [63]:
# âœ… MySQLì— ë°ì´í„° ì—…ë¡œë“œ
df.to_sql(name="original_data", con=engine, if_exists="append", index=False)

694270

In [95]:
conn.commit()

In [97]:
cursor.close()
conn.close()
engine.dispose()

In [109]:
import pandas as pd
import mysql.connector

# âœ… MySQL ì—°ê²° ì„¤ì •
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="toor",
    database="zipcoding"
)

query = """
WITH ê±°ë˜ëŸ‰_í‰ê·  AS (
    SELECT
        ì¸ë±ìŠ¤,
        ì ‘ìˆ˜ì—°ë„,
        ìì¹˜êµ¬ì½”ë“œ,
        ìì¹˜êµ¬ëª…,
        ë²•ì •ë™ì½”ë“œ,
        ë²•ì •ë™ëª…,
        ê³„ì•½ì¼,
        ë¬¼ê±´ê¸ˆì•¡,

        -- ìµœê·¼ 6ê°œì›” ê±°ë˜ëŸ‰
        COUNT(*) OVER (
            PARTITION BY ìì¹˜êµ¬ì½”ë“œ, ë²•ì •ë™ì½”ë“œ
            ORDER BY ê³„ì•½ì¼ 
            RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
        ) AS ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰,

        -- ìµœê·¼ 6ê°œì›” í‰ê·  ë¬¼ê±´ê¸ˆì•¡
        AVG(ë¬¼ê±´ê¸ˆì•¡) OVER (
            PARTITION BY ìì¹˜êµ¬ì½”ë“œ, ë²•ì •ë™ì½”ë“œ
            ORDER BY ê³„ì•½ì¼ 
            RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
        ) AS ìµœê·¼6ê°œì›”í‰ê· ë¬¼ê±´ê¸ˆì•¡

    FROM original_data
    WHERE YEAR(ê³„ì•½ì¼) = 2025
)
SELECT * FROM ê±°ë˜ëŸ‰_í‰ê· 
ORDER BY ê³„ì•½ì¼ DESC;
"""

# âœ… MySQL ë°ì´í„° ì¡°íšŒ í›„ DataFrameìœ¼ë¡œ ë³€í™˜
df = pd.read_sql(query, conn)

# âœ… CSVë¡œ ì €ì¥
df.to_csv("C:/ZIPcoding/output_2025.csv", index=False, encoding="utf-8-sig")

# âœ… Excel íŒŒì¼ë¡œ ì €ì¥
# df.to_excel("output_2020.xlsx", index=False, encoding="utf-8-sig")

# âœ… MySQL ì—°ê²° ì¢…ë£Œ
conn.close()

C:\Users\user\AppData\Local\Temp\ipykernel_2600\4101861787.py:46: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [93]:
import pandas as pd
from sqlalchemy import create_engine, Date
import pymysql

# âœ… MySQL ì—°ê²° ì„¤ì •
engine = create_engine("mysql+pymysql://root:toor@localhost/zipcoding")

# âœ… `ê³„ì•½ì¼`ì„ `datetime.date` í˜•ì‹ìœ¼ë¡œ ë³€í™˜
df["ê³„ì•½ì¼"] = pd.to_datetime(df["ê³„ì•½ì¼"]).dt.date

# âœ… MySQLì— `DATE` í˜•ì‹ìœ¼ë¡œ ì €ì¥
df.to_sql(name="original_data", con=engine, if_exists="replace", index=False, dtype={"ê³„ì•½ì¼": Date()})

694270

In [441]:
original_data = pd.read_csv("C:/ZIPcoding/2019~2025 data.csv", low_memory=False)

In [422]:
gu_output2020 = pd.read_csv("C:/ZIPcoding/gu_output_2020.csv", low_memory=False)
gu_output2021 = pd.read_csv("C:/ZIPcoding/gu_output_2021.csv", low_memory=False)
gu_output2022 = pd.read_csv("C:/ZIPcoding/gu_output_2022.csv", low_memory=False)
gu_output2023 = pd.read_csv("C:/ZIPcoding/gu_output_2023.csv", low_memory=False)
gu_output2024 = pd.read_csv("C:/ZIPcoding/gu_output_2024.csv", low_memory=False)
gu_output2025 = pd.read_csv("C:/ZIPcoding/gu_output_2025.csv", low_memory=False)

In [423]:
dong_output2020 = pd.read_csv("C:/ZIPcoding/dong_output_2020.csv", low_memory=False)
dong_output2021 = pd.read_csv("C:/ZIPcoding/dong_output_2021.csv", low_memory=False)
dong_output2022 = pd.read_csv("C:/ZIPcoding/dong_output_2022.csv", low_memory=False)
dong_output2023 = pd.read_csv("C:/ZIPcoding/dong_output_2023.csv", low_memory=False)
dong_output2024 = pd.read_csv("C:/ZIPcoding/dong_output_2024.csv", low_memory=False)
dong_output2025 = pd.read_csv("C:/ZIPcoding/dong_output_2025.csv", low_memory=False)

In [413]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689611 entries, 0 to 689610
Data columns (total 23 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ì ‘ìˆ˜ì—°ë„              689611 non-null  int64
 1   ìì¹˜êµ¬ì½”ë“œ             689611 non-null  int64
 2   ìì¹˜êµ¬ëª…              689610 non-null  object
 3   ë²•ì •ë™ì½”ë“œ             689611 non-null  int64
 4   ë²•ì •ë™ëª…              689611 non-null  object
 5   ì§€ë²ˆêµ¬ë¶„              646137 non-null  float64
 6   ì§€ë²ˆêµ¬ë¶„ëª…             646137 non-null  object
 7   ë³¸ë²ˆ                646149 non-null  object
 8   ë¶€ë²ˆ                646149 non-null  object
 9   ê±´ë¬¼ëª…               646142 non-null  object
 10  ê³„ì•½ì¼               689611 non-null  int64
 11  ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)          689611 non-null  int64
 12  ê±´ë¬¼ë©´ì (ã¡)           689611 non-null  float64
 13  í† ì§€ë©´ì (ã¡)           550039 non-null  float64
 14  ì¸µ                 646196 non-null  float64
 15  ê¶Œë¦¬êµ¬ë¶„              5189 non-null    object
 16  ì·¨ì†Œì¼               27357 non-null   float64
 17  ê±´ì¶•ë…„ë„              686281 non-null  float64
 18  ê±´ë¬¼ìš©ë„              689611 non-null  object
 19  ì‹ ê³ êµ¬ë¶„              252716 non-null  object
 20  ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…  206972 non-null  object
 21  ê±´ë¬¼ë©´ì ì •ìˆ˜            689611 non-null  int64
 22  ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)       528541 non-null  float64
dtypes: float64(7), int64(6), object(10)
memory usage: 121.0+ MB

In [289]:
output2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175320 entries, 0 to 175319
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ì¸ë±ìŠ¤          175320 non-null  int64
 1   ì ‘ìˆ˜ì—°ë„         175320 non-null  int64
 2   ìì¹˜êµ¬ì½”ë“œ        175320 non-null  int64
 3   ìì¹˜êµ¬ëª…         175320 non-null  object
 4   ë²•ì •ë™ì½”ë“œ        175320 non-null  int64
 5   ë²•ì •ë™ëª…         175320 non-null  object
 6   ê³„ì•½ì¼          175320 non-null  object
 7   ë¬¼ê±´ê¸ˆì•¡         175320 non-null  int64
 8   ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰     175320 non-null  int64
 9   ìµœê·¼6ê°œì›”í‰ê· ë¬¼ê±´ê¸ˆì•¡  175320 non-null  float64
dtypes: float64(1), int64(6), object(3)
memory usage: 13.4+ MB

In [427]:
gu_output2020 = gu_output2020[['ì¸ë±ìŠ¤', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡']]
gu_output2021 = gu_output2021[['ì¸ë±ìŠ¤', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡']]
gu_output2022 = gu_output2022[['ì¸ë±ìŠ¤', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡']]
gu_output2023 = gu_output2023[['ì¸ë±ìŠ¤', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡']]
gu_output2024 = gu_output2024[['ì¸ë±ìŠ¤', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡']]
gu_output2025 = gu_output2025[['ì¸ë±ìŠ¤', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡']]

In [429]:

# âœ… ëª¨ë“  ì—°ë„ ë°ì´í„°ë¥¼ ë³‘í•© (ì´ˆê¸° ë³‘í•©)
original_data = original_data.merge(gu_output2020, left_index=True, right_on="ì¸ë±ìŠ¤", how="left")

# âœ… ì—°ë„ë³„ ë°ì´í„° ë°˜ë³µ ë³‘í•© (ê°™ì€ ì»¬ëŸ¼ ìœ ì§€)
for output_df in [gu_output2020,gu_output2021, gu_output2022, gu_output2023, gu_output2024, gu_output2025]:
    output_df = output_df.drop(columns=["ì¸ë±ìŠ¤"], errors="ignore")  # âœ… 'ì¸ë±ìŠ¤' ì»¬ëŸ¼ ì‚­ì œí•˜ì—¬ ì¶©ëŒ ë°©ì§€

    original_data = original_data.merge(output_df, left_index=True, right_index=True, how="left")

    # âœ… `fillna()` ì‚¬ìš©í•˜ì—¬ ê¸°ì¡´ ì»¬ëŸ¼ì— ê°’ ì±„ìš°ê¸°
    original_data["ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰"] = original_data["ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰_x"].fillna(original_data["ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰_y"])
    original_data["ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡"] = original_data["ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡_x"].fillna(original_data["ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡_y"])

    # âœ… ë¶ˆí•„ìš”í•œ ì»¬ëŸ¼ ì‚­ì œ
    original_data.drop(columns=["ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰_x", "ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰_y", "ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡_x", "ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡_y"], inplace=True)

# âœ… 'ì¸ë±ìŠ¤' ì»¬ëŸ¼ ìµœì¢… ì‚­ì œ (í•„ìš” ì—†ëŠ” ê²½ìš°)
original_data.drop(columns=["ì¸ë±ìŠ¤"], inplace=True, errors="ignore")

# âœ… ìµœì¢… ê²°ê³¼ í™•ì¸
print(original_data)

     ì ‘ìˆ˜ì—°ë„  ìì¹˜êµ¬ì½”ë“œ  ìì¹˜êµ¬ëª…  ë²•ì •ë™ì½”ë“œ ë²•ì •ë™ëª…  ì§€ë²ˆêµ¬ë¶„ ì§€ë²ˆêµ¬ë¶„ëª…      ë³¸ë²ˆ    ë¶€ë²ˆ            ê±´ë¬¼ëª…  \
NaN  2025  11230  ë™ëŒ€ë¬¸êµ¬  10400  ì „ë†ë™   1.0    ëŒ€ì§€     3.0  92.0          ì´ë„ì¸ë¹Œë”©
NaN  2025  11440   ë§ˆí¬êµ¬  10400  ë„í™”ë™   1.0    ëŒ€ì§€   550.0   0.0             ì‚¼ì„±
NaN  2025  11230  ë™ëŒ€ë¬¸êµ¬  10400  ì „ë†ë™   1.0    ëŒ€ì§€     3.0  92.0          ì´ë„ì¸ë¹Œë”©
NaN  2025  11230  ë™ëŒ€ë¬¸êµ¬  10400  ì „ë†ë™   1.0    ëŒ€ì§€     3.0  92.0          ì´ë„ì¸ë¹Œë”©
NaN  2025  11230  ë™ëŒ€ë¬¸êµ¬  10400  ì „ë†ë™   1.0    ëŒ€ì§€     3.0  92.0          ì´ë„ì¸ë¹Œë”©
..    ...    ...   ...    ...  ...   ...   ...     ...   ...            ...
NaN  2018  11500   ê°•ì„œêµ¬  10300  í™”ê³¡ë™   1.0    ëŒ€ì§€  1159.0   0.0  ìš°ì¥ì‚°ì•„ì´íŒŒí¬,ì´í¸í•œì„¸ìƒ
NaN  2018  11410  ì„œëŒ€ë¬¸êµ¬  11200  ëŒ€í˜„ë™   1.0    ëŒ€ì§€   144.0   0.0           ëŸ­í‚¤ëŒ€í˜„
NaN  2018  11590   ë™ì‘êµ¬  10700  ì‚¬ë‹¹ë™   1.0    ëŒ€ì§€   169.0  32.0             í˜„ëŒ€
NaN  2018  11350   ë…¸ì›êµ¬  10500  ìƒê³„ë™   1.0    ëŒ€ì§€  1380.0   4.0           ì´ˆì‚°ë¹Œë¼
NaN  2018  11380   ì€í‰êµ¬  11000  ì¦ì‚°ë™   1.0    ëŒ€ì§€   189.0  63.0   ê¶ì „ë§¨ì…˜(189-63)

     ...  ê¶Œë¦¬êµ¬ë¶„  ì·¨ì†Œì¼    ê±´ì¶•ë…„ë„   ê±´ë¬¼ìš©ë„  ì‹ ê³ êµ¬ë¶„ ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…  ê±´ë¬¼ë©´ì ì •ìˆ˜  \
NaN  ...   NaN  NaN  2018.0   ì˜¤í”¼ìŠ¤í…”   ì§ê±°ë˜              NaN      26
NaN  ...   NaN  NaN  1997.0    ì•„íŒŒíŠ¸   ì§ê±°ë˜              NaN      72
NaN  ...   NaN  NaN  2018.0  ì—°ë¦½ë‹¤ì„¸ëŒ€   ì§ê±°ë˜              NaN      34
NaN  ...   NaN  NaN  2018.0  ì—°ë¦½ë‹¤ì„¸ëŒ€   ì§ê±°ë˜              NaN      34
NaN  ...   NaN  NaN  2018.0  ì—°ë¦½ë‹¤ì„¸ëŒ€   ì§ê±°ë˜              NaN      34
..   ...   ...  ...     ...    ...   ...              ...     ...
NaN  ...   NaN  NaN  2008.0    ì•„íŒŒíŠ¸   NaN              NaN     101
NaN  ...   NaN  NaN  1999.0    ì•„íŒŒíŠ¸   NaN              NaN      83
NaN  ...   NaN  NaN  1991.0    ì•„íŒŒíŠ¸   NaN              NaN      51
NaN  ...   NaN  NaN  1996.0  ì—°ë¦½ë‹¤ì„¸ëŒ€   NaN              NaN      41
NaN  ...   NaN  NaN  1992.0  ì—°ë¦½ë‹¤ì„¸ëŒ€   NaN              NaN      54

     ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›) ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰ ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡
NaN       6991.0         NaN          NaN
NaN     129500.0         NaN          NaN
NaN      10463.0         NaN          NaN
NaN      10463.0         NaN          NaN
NaN      10463.0         NaN          NaN
..           ...         ...          ...
NaN      90000.0         NaN          NaN
NaN      76000.0         NaN          NaN
NaN      41800.0         NaN          NaN
NaN          NaN         NaN          NaN
NaN      19500.0         NaN          NaN

[689611 rows x 25 columns]

In [431]:
dong_output2020 = dong_output2020[['ì¸ë±ìŠ¤', 'ë²•ì •ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë²•ì •ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡']]
dong_output2021 = dong_output2021[['ì¸ë±ìŠ¤', 'ë²•ì •ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë²•ì •ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡']]
dong_output2022 = dong_output2022[['ì¸ë±ìŠ¤', 'ë²•ì •ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë²•ì •ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡']]
dong_output2023 = dong_output2023[['ì¸ë±ìŠ¤', 'ë²•ì •ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë²•ì •ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡']]
dong_output2024 = dong_output2024[['ì¸ë±ìŠ¤', 'ë²•ì •ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë²•ì •ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡']]
dong_output2025 = dong_output2025[['ì¸ë±ìŠ¤', 'ë²•ì •ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë²•ì •ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡']]

In [433]:

# âœ… ëª¨ë“  ì—°ë„ ë°ì´í„°ë¥¼ ë³‘í•© (ì´ˆê¸° ë³‘í•©)
original_data = original_data.merge(dong_output2020, left_index=True, right_on="ì¸ë±ìŠ¤", how="left")

# âœ… ì—°ë„ë³„ ë°ì´í„° ë°˜ë³µ ë³‘í•© (ê°™ì€ ì»¬ëŸ¼ ìœ ì§€)
for output_df in [dong_output2020,dong_output2021, dong_output2022, dong_output2023, dong_output2024, dong_output2025]:
    output_df = output_df.drop(columns=["ì¸ë±ìŠ¤"], errors="ignore")  # âœ… 'ì¸ë±ìŠ¤' ì»¬ëŸ¼ ì‚­ì œí•˜ì—¬ ì¶©ëŒ ë°©ì§€

    original_data = original_data.merge(output_df, left_index=True, right_index=True, how="left")

    # âœ… `fillna()` ì‚¬ìš©í•˜ì—¬ ê¸°ì¡´ ì»¬ëŸ¼ì— ê°’ ì±„ìš°ê¸°
    original_data["ë²•ì •ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰"] = original_data["ë²•ì •ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰_x"].fillna(original_data["ë²•ì •ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰_y"])
    original_data["ë²•ì •ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡"] = original_data["ë²•ì •ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡_x"].fillna(original_data["ë²•ì •ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡_y"])

    # âœ… ë¶ˆí•„ìš”í•œ ì»¬ëŸ¼ ì‚­ì œ
    original_data.drop(columns=["ë²•ì •ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰_x", "ë²•ì •ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰_y", "ë²•ì •ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡_x", "ë²•ì •ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡_y"], inplace=True)

# âœ… 'ì¸ë±ìŠ¤' ì»¬ëŸ¼ ìµœì¢… ì‚­ì œ (í•„ìš” ì—†ëŠ” ê²½ìš°)
original_data.drop(columns=["ì¸ë±ìŠ¤"], inplace=True, errors="ignore")

# âœ… ìµœì¢… ê²°ê³¼ í™•ì¸
print(original_data)

     ì ‘ìˆ˜ì—°ë„  ìì¹˜êµ¬ì½”ë“œ  ìì¹˜êµ¬ëª…  ë²•ì •ë™ì½”ë“œ ë²•ì •ë™ëª…  ì§€ë²ˆêµ¬ë¶„ ì§€ë²ˆêµ¬ë¶„ëª…      ë³¸ë²ˆ    ë¶€ë²ˆ            ê±´ë¬¼ëª…  \
NaN  2025  11230  ë™ëŒ€ë¬¸êµ¬  10400  ì „ë†ë™   1.0    ëŒ€ì§€     3.0  92.0          ì´ë„ì¸ë¹Œë”©
NaN  2025  11440   ë§ˆí¬êµ¬  10400  ë„í™”ë™   1.0    ëŒ€ì§€   550.0   0.0             ì‚¼ì„±
NaN  2025  11230  ë™ëŒ€ë¬¸êµ¬  10400  ì „ë†ë™   1.0    ëŒ€ì§€     3.0  92.0          ì´ë„ì¸ë¹Œë”©
NaN  2025  11230  ë™ëŒ€ë¬¸êµ¬  10400  ì „ë†ë™   1.0    ëŒ€ì§€     3.0  92.0          ì´ë„ì¸ë¹Œë”©
NaN  2025  11230  ë™ëŒ€ë¬¸êµ¬  10400  ì „ë†ë™   1.0    ëŒ€ì§€     3.0  92.0          ì´ë„ì¸ë¹Œë”©
..    ...    ...   ...    ...  ...   ...   ...     ...   ...            ...
NaN  2018  11500   ê°•ì„œêµ¬  10300  í™”ê³¡ë™   1.0    ëŒ€ì§€  1159.0   0.0  ìš°ì¥ì‚°ì•„ì´íŒŒí¬,ì´í¸í•œì„¸ìƒ
NaN  2018  11410  ì„œëŒ€ë¬¸êµ¬  11200  ëŒ€í˜„ë™   1.0    ëŒ€ì§€   144.0   0.0           ëŸ­í‚¤ëŒ€í˜„
NaN  2018  11590   ë™ì‘êµ¬  10700  ì‚¬ë‹¹ë™   1.0    ëŒ€ì§€   169.0  32.0             í˜„ëŒ€
NaN  2018  11350   ë…¸ì›êµ¬  10500  ìƒê³„ë™   1.0    ëŒ€ì§€  1380.0   4.0           ì´ˆì‚°ë¹Œë¼
NaN  2018  11380   ì€í‰êµ¬  11000  ì¦ì‚°ë™   1.0    ëŒ€ì§€   189.0  63.0   ê¶ì „ë§¨ì…˜(189-63)

     ...    ê±´ì¶•ë…„ë„   ê±´ë¬¼ìš©ë„  ì‹ ê³ êµ¬ë¶„  ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…  ê±´ë¬¼ë©´ì ì •ìˆ˜ ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)  \
NaN  ...  2018.0   ì˜¤í”¼ìŠ¤í…”   ì§ê±°ë˜               NaN      26      6991.0
NaN  ...  1997.0    ì•„íŒŒíŠ¸   ì§ê±°ë˜               NaN      72    129500.0
NaN  ...  2018.0  ì—°ë¦½ë‹¤ì„¸ëŒ€   ì§ê±°ë˜               NaN      34     10463.0
NaN  ...  2018.0  ì—°ë¦½ë‹¤ì„¸ëŒ€   ì§ê±°ë˜               NaN      34     10463.0
NaN  ...  2018.0  ì—°ë¦½ë‹¤ì„¸ëŒ€   ì§ê±°ë˜               NaN      34     10463.0
..   ...     ...    ...   ...               ...     ...         ...
NaN  ...  2008.0    ì•„íŒŒíŠ¸   NaN               NaN     101     90000.0
NaN  ...  1999.0    ì•„íŒŒíŠ¸   NaN               NaN      83     76000.0
NaN  ...  1991.0    ì•„íŒŒíŠ¸   NaN               NaN      51     41800.0
NaN  ...  1996.0  ì—°ë¦½ë‹¤ì„¸ëŒ€   NaN               NaN      41         NaN
NaN  ...  1992.0  ì—°ë¦½ë‹¤ì„¸ëŒ€   NaN               NaN      54     19500.0

     ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰  ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡ ë²•ì •ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰ ë²•ì •ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡
NaN          NaN           NaN         NaN          NaN
NaN          NaN           NaN         NaN          NaN
NaN          NaN           NaN         NaN          NaN
NaN          NaN           NaN         NaN          NaN
NaN          NaN           NaN         NaN          NaN
..           ...           ...         ...          ...
NaN          NaN           NaN         NaN          NaN
NaN          NaN           NaN         NaN          NaN
NaN          NaN           NaN         NaN          NaN
NaN          NaN           NaN         NaN          NaN
NaN          NaN           NaN         NaN          NaN

[689611 rows x 27 columns]

In [435]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 689611 entries, nan to nan
Data columns (total 27 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ì ‘ìˆ˜ì—°ë„              689611 non-null  int64
 1   ìì¹˜êµ¬ì½”ë“œ             689611 non-null  int64
 2   ìì¹˜êµ¬ëª…              689610 non-null  object
 3   ë²•ì •ë™ì½”ë“œ             689611 non-null  int64
 4   ë²•ì •ë™ëª…              689611 non-null  object
 5   ì§€ë²ˆêµ¬ë¶„              646137 non-null  float64
 6   ì§€ë²ˆêµ¬ë¶„ëª…             646137 non-null  object
 7   ë³¸ë²ˆ                646149 non-null  object
 8   ë¶€ë²ˆ                646149 non-null  object
 9   ê±´ë¬¼ëª…               646142 non-null  object
 10  ê³„ì•½ì¼               689611 non-null  int64
 11  ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)          689611 non-null  int64
 12  ê±´ë¬¼ë©´ì (ã¡)           689611 non-null  float64
 13  í† ì§€ë©´ì (ã¡)           550039 non-null  float64
 14  ì¸µ                 646196 non-null  float64
 15  ê¶Œë¦¬êµ¬ë¶„              5189 non-null    object
 16  ì·¨ì†Œì¼               27357 non-null   float64
 17  ê±´ì¶•ë…„ë„              686281 non-null  float64
 18  ê±´ë¬¼ìš©ë„              689611 non-null  object
 19  ì‹ ê³ êµ¬ë¶„              252716 non-null  object
 20  ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…  206972 non-null  object
 21  ê±´ë¬¼ë©´ì ì •ìˆ˜            689611 non-null  int64
 22  ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)       528541 non-null  float64
 23  ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰       175320 non-null  float64
 24  ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡      175320 non-null  float64
 25  ë²•ì •ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰       1 non-null       float64
 26  ë²•ì •ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡      1 non-null       float64
dtypes: float64(11), int64(6), object(10)
memory usage: 147.3+ MB

In [151]:
original_data.head(10)

,ì ‘ìˆ˜ì—°ë„,ìì¹˜êµ¬ì½”ë“œ,ìì¹˜êµ¬ëª…,ë²•ì •ë™ì½”ë“œ,ë²•ì •ë™ëª…,ì§€ë²ˆêµ¬ë¶„,ì§€ë²ˆêµ¬ë¶„ëª…,ë³¸ë²ˆ,ë¶€ë²ˆ,ê±´ë¬¼ëª…,...,ê¶Œë¦¬êµ¬ë¶„,ì·¨ì†Œì¼,ê±´ì¶•ë…„ë„,ê±´ë¬¼ìš©ë„,ì‹ ê³ êµ¬ë¶„,ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…,ê±´ë¬¼ë©´ì ì •ìˆ˜,ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›),ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰,ìµœê·¼6ê°œì›”í‰ê· ë¬¼ê±´ê¸ˆì•¡
NaN,2025,11230,ë™ëŒ€ë¬¸êµ¬,10400,ì „ë†ë™,1.0,ëŒ€ì§€,3.0,92.0,ì´ë„ì¸ë¹Œë”©,...,NaN,NaN,2018.0,ì˜¤í”¼ìŠ¤í…”,ì§ê±°ë˜,NaN,26,6991.0,NaN,NaN
NaN,2025,11440,ë§ˆí¬êµ¬,10400,ë„í™”ë™,1.0,ëŒ€ì§€,550.0,0.0,ì‚¼ì„±,...,NaN,NaN,1997.0,ì•„íŒŒíŠ¸,ì§ê±°ë˜,NaN,72,129500.0,NaN,NaN
NaN,2025,11230,ë™ëŒ€ë¬¸êµ¬,10400,ì „ë†ë™,1.0,ëŒ€ì§€,3.0,92.0,ì´ë„ì¸ë¹Œë”©,...,NaN,NaN,2018.0,ì—°ë¦½ë‹¤ì„¸ëŒ€,ì§ê±°ë˜,NaN,34,10463.0,NaN,NaN
NaN,2025,11230,ë™ëŒ€ë¬¸êµ¬,10400,ì „ë†ë™,1.0,ëŒ€ì§€,3.0,92.0,ì´ë„ì¸ë¹Œë”©,...,NaN,NaN,2018.0,ì—°ë¦½ë‹¤ì„¸ëŒ€,ì§ê±°ë˜,NaN,34,10463.0,NaN,NaN
NaN,2025,11230,ë™ëŒ€ë¬¸êµ¬,10400,ì „ë†ë™,1.0,ëŒ€ì§€,3.0,92.0,ì´ë„ì¸ë¹Œë”©,...,NaN,NaN,2018.0,ì—°ë¦½ë‹¤ì„¸ëŒ€,ì§ê±°ë˜,NaN,34,10463.0,NaN,NaN
NaN,2025,11230,ë™ëŒ€ë¬¸êµ¬,10400,ì „ë†ë™,1.0,ëŒ€ì§€,3.0,92.0,ì´ë„ì¸ë¹Œë”©,...,NaN,NaN,2018.0,ì˜¤í”¼ìŠ¤í…”,ì§ê±°ë˜,NaN,26,6991.0,NaN,NaN
NaN,2025,11680,ê°•ë‚¨êµ¬,10600,ëŒ€ì¹˜ë™,1.0,ëŒ€ì§€,889.0,5.0,ìƒ¹ì œë¦¬ì œì„¼í„°,...,NaN,NaN,1990.0,ì˜¤í”¼ìŠ¤í…”,ì§ê±°ë˜,NaN,26,15400.0,NaN,NaN
NaN,2025,11470,ì–‘ì²œêµ¬,10300,ì‹ ì›”ë™,1.0,ëŒ€ì§€,205.0,4.0,ì˜ˆì„±í´ë ˆì‹,...,NaN,NaN,2015.0,ì—°ë¦½ë‹¤ì„¸ëŒ€,ì¤‘ê°œê±°ë˜,ì„œìš¸ ì–‘ì²œêµ¬,46,NaN,NaN,NaN
NaN,2025,11230,ë™ëŒ€ë¬¸êµ¬,10400,ì „ë†ë™,1.0,ëŒ€ì§€,3.0,92.0,ì´ë„ì¸ë¹Œë”©,...,NaN,NaN,2018.0,ì˜¤í”¼ìŠ¤í…”,ì§ê±°ë˜,NaN,26,6991.0,NaN,NaN
NaN,2025,11230,ë™ëŒ€ë¬¸êµ¬,10400,ì „ë†ë™,1.0,ëŒ€ì§€,3.0,92.0,ì´ë„ì¸ë¹Œë”©,...,NaN,NaN,2018.0,ì—°ë¦½ë‹¤ì„¸ëŒ€,ì§ê±°ë˜,NaN,32,10155.0,NaN,NaN

In [249]:
df = pd.read_csv("C:/ZIPcoding/2019~2025 data.csv", low_memory=False)

In [418]:
import pandas as pd
import mysql.connector

for i in range(2020, 2026):
    # âœ… MySQL ì—°ê²° ì„¤ì •
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="toor",
        database="zipcoding"
    )
    
    query = f"""
    WITH ê±°ë˜ëŸ‰_í‰ê·  AS (
        SELECT
            ì¸ë±ìŠ¤,
            ê³„ì•½ì¼,
            ë¬¼ê±´ê¸ˆì•¡,
    
            -- ìµœê·¼ 6ê°œì›” ê±°ë˜ëŸ‰ (NULL ê°’ì´ ìˆì„ ê²½ìš° 0ìœ¼ë¡œ ë³€í™˜)
            IFNULL(  -- âœ… NULLì´ë©´ 0ìœ¼ë¡œ ë³€í™˜
                COUNT(ë¬¼ê±´ê¸ˆì•¡) OVER (
                    PARTITION BY ìì¹˜êµ¬ì½”ë“œ
                    ORDER BY ê³„ì•½ì¼ 
                    RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
                ), 0) ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰,
    
            -- ìµœê·¼ 6ê°œì›” í‰ê·  ë¬¼ê±´ê¸ˆì•¡ (NULL ê°’ì´ ìˆì„ ê²½ìš° 0ìœ¼ë¡œ ë³€í™˜)
            IFNULL(  -- âœ… NULLì´ë©´ 0ìœ¼ë¡œ ë³€í™˜
                AVG(ë¬¼ê±´ê¸ˆì•¡) OVER (
                    PARTITION BY ìì¹˜êµ¬ì½”ë“œ
                    ORDER BY ê³„ì•½ì¼ 
                    RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
                ), 0) AS ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡
    
        FROM original_data
        WHERE YEAR(ê³„ì•½ì¼) = {i}
    )
    SELECT * FROM ê±°ë˜ëŸ‰_í‰ê· 
    ORDER BY ê³„ì•½ì¼ DESC;
    
    """
    
    try:
        # âœ… MySQL ë°ì´í„° ì¡°íšŒ í›„ DataFrameìœ¼ë¡œ ë³€í™˜
        df = pd.read_sql(query, conn)
    
        # âœ… Pythonì—ì„œë„ NULL ê°’ í™•ì¸ í›„ 0ìœ¼ë¡œ ë³€í™˜ (ì¶”ê°€ì ì¸ NULL ë°©ì§€)
        df.fillna({"ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰": 0, "ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡": 0}, inplace=True)
    
        # âœ… CSVë¡œ ì €ì¥
        df.to_csv(f"C:/ZIPcoding/gu_output_{i}.csv", index=False, encoding="utf-8-sig")
    
        # âœ… Excel íŒŒì¼ë¡œ ì €ì¥ (ì„ íƒ)
        # df.to_excel("C:/ZIPcoding/output_2020.xlsx", index=False, encoding="utf-8-sig")
    
        print("âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!")
    
    except Exception as e:
        print(f"ğŸš¨ ì˜¤ë¥˜ ë°œìƒ: {e}")
    
    finally:
        # âœ… MySQL ì—°ê²° ì¢…ë£Œ
        conn.close()
        print("âœ… MySQL ì—°ê²° ì¢…ë£Œë¨")

C:\Users\user\AppData\Local\Temp\ipykernel_2600\391014725.py:46: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… MySQL ì—°ê²° ì¢…ë£Œë¨

In [439]:
import pandas as pd

# âœ… ì—°ë„ë³„ ë°ì´í„° ë¡œë“œ
years = range(2020, 2026)
file_paths = {year: f"C:/ZIPcoding/region_output_{year}.csv" for year in years}

# âœ… ì—°ë„ë³„ ë°ì´í„° ë¡œë“œ (ìì¹˜êµ¬ + ë²•ì •ë™ ê¸°ì¤€)
region_outputs = {year: pd.read_csv(file_paths[year], low_memory=False) for year in years}

# âœ… í•„ìš”í•œ ì»¬ëŸ¼ë§Œ ì„ íƒ (ìì¹˜êµ¬ + ë²•ì •ë™)
for year, df in region_outputs.items():
    region_outputs[year] = df[['ì¸ë±ìŠ¤', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡', 'ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡']]

In [ ]:
# âœ… ì´ˆê¸° ë°ì´í„° ë³‘í•© (2020ë…„ ê¸°ì¤€ìœ¼ë¡œ ë³‘í•© ì‹œì‘)
original_data = original_data.merge(region_outputs[2020], left_index=True, right_on="ì¸ë±ìŠ¤", how="left")

# âœ… ì—°ë„ë³„ ë°ì´í„° ë°˜ë³µ ë³‘í•© (ê°™ì€ ì»¬ëŸ¼ ìœ ì§€)
for year in range(2021, 2026):  # 2021~2025ë…„ ë°ì´í„° ë³‘í•©
    output_df = region_outputs[year].drop(columns=["ì¸ë±ìŠ¤"], errors="ignore")  # âœ… 'ì¸ë±ìŠ¤' ì»¬ëŸ¼ ì‚­ì œí•˜ì—¬ ì¶©ëŒ ë°©ì§€

    # âœ… ê¸°ì¡´ ë°ì´í„°ì™€ ë³‘í•© (left_index=Trueë¡œ ì¸ë±ìŠ¤ ê¸°ì¤€ ë³‘í•©)
    original_data = original_data.merge(output_df, left_index=True, right_index=True, how="left")

    # âœ… `fillna()` ì‚¬ìš©í•˜ì—¬ ê¸°ì¡´ ì»¬ëŸ¼ì— ê°’ ì±„ìš°ê¸° (ìì¹˜êµ¬ë³„)
    original_data["ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰"] = original_data["ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰_x"].fillna(original_data["ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰_y"])
    original_data["ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡"] = original_data["ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡_x"].fillna(original_data["ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡_y"])

    # âœ… `fillna()` ì‚¬ìš©í•˜ì—¬ ê¸°ì¡´ ì»¬ëŸ¼ì— ê°’ ì±„ìš°ê¸° (ë²•ì •ë™ë³„)
    original_data["ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰"] = original_data["ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰_x"].fillna(original_data["ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰_y"])
    original_data["ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡"] = original_data["ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡_x"].fillna(original_data["ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡_y"])

    # âœ… ë¶ˆí•„ìš”í•œ ì¤‘ë³µ ì»¬ëŸ¼ ì œê±°
    original_data.drop(columns=["ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰_x", "ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰_y", 
                                "ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡_x", "ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡_y",
                                "ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰_x", "ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰_y",
                                "ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡_x", "ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡_y"], inplace=True)

# âœ… 'ì¸ë±ìŠ¤' ì»¬ëŸ¼ ìµœì¢… ì‚­ì œ (í•„ìš” ì—†ëŠ” ê²½ìš°)
original_data.drop(columns=["ì¸ë±ìŠ¤"], inplace=True, errors="ignore")

# âœ… ìµœì¢… ê²°ê³¼ í™•ì¸
print(original_data)

In [417]:
import pandas as pd
import mysql.connector

for i in range(2020, 2026):
    # âœ… MySQL ì—°ê²° ì„¤ì •
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="toor",
        database="zipcoding"
    )
    
    query = f"""
    WITH ê±°ë˜ëŸ‰_í‰ê·  AS (
        SELECT
            ì¸ë±ìŠ¤,
            ê³„ì•½ì¼,
            ë¬¼ê±´ê¸ˆì•¡,
    
            -- ìµœê·¼ 6ê°œì›” ê±°ë˜ëŸ‰ (NULL ê°’ì´ ìˆì„ ê²½ìš° 0ìœ¼ë¡œ ë³€í™˜)
            IFNULL(  -- âœ… NULLì´ë©´ 0ìœ¼ë¡œ ë³€í™˜
                COUNT(ë¬¼ê±´ê¸ˆì•¡) OVER (
                    PARTITION BY ìì¹˜êµ¬ì½”ë“œ, ë²•ì •ë™ì½”ë“œ
                    ORDER BY ê³„ì•½ì¼ 
                    RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
                ), 0) ë²•ì •ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰,
    
            -- ìµœê·¼ 6ê°œì›” í‰ê·  ë¬¼ê±´ê¸ˆì•¡ (NULL ê°’ì´ ìˆì„ ê²½ìš° 0ìœ¼ë¡œ ë³€í™˜)
            IFNULL(  -- âœ… NULLì´ë©´ 0ìœ¼ë¡œ ë³€í™˜
                AVG(ë¬¼ê±´ê¸ˆì•¡) OVER (
                    PARTITION BY ìì¹˜êµ¬ì½”ë“œ, ë²•ì •ë™ì½”ë“œ
                    ORDER BY ê³„ì•½ì¼ 
                    RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
                ), 0) AS ë²•ì •ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡
    
        FROM original_data
        WHERE YEAR(ê³„ì•½ì¼) = {i}
    )
    SELECT * FROM ê±°ë˜ëŸ‰_í‰ê· 
    ORDER BY ê³„ì•½ì¼ DESC;
    
    """
    
    try:
        # âœ… MySQL ë°ì´í„° ì¡°íšŒ í›„ DataFrameìœ¼ë¡œ ë³€í™˜
        df = pd.read_sql(query, conn)
    
        # âœ… Pythonì—ì„œë„ NULL ê°’ í™•ì¸ í›„ 0ìœ¼ë¡œ ë³€í™˜ (ì¶”ê°€ì ì¸ NULL ë°©ì§€)
        df.fillna({"ë²•ì •ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰": 0, "ë²•ì •ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡": 0}, inplace=True)
    
        # âœ… CSVë¡œ ì €ì¥
        df.to_csv(f"C:/ZIPcoding/dong_output_{i}.csv", index=False, encoding="utf-8-sig")
    
        # âœ… Excel íŒŒì¼ë¡œ ì €ì¥ (ì„ íƒ)
        # df.to_excel("C:/ZIPcoding/output_2020.xlsx", index=False, encoding="utf-8-sig")
    
        print("âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!")
    
    except Exception as e:
        print(f"ğŸš¨ ì˜¤ë¥˜ ë°œìƒ: {e}")
    
    finally:
        # âœ… MySQL ì—°ê²° ì¢…ë£Œ
        conn.close()
        print("âœ… MySQL ì—°ê²° ì¢…ë£Œë¨")

C:\Users\user\AppData\Local\Temp\ipykernel_2600\2216313836.py:46: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… MySQL ì—°ê²° ì¢…ë£Œë¨

In [493]:
import pandas as pd
import mysql.connector

for i in range(2020, 2026):  # 2020~2025 ì—°ë„ë³„ ì‹¤í–‰
    # âœ… MySQL ì—°ê²° ì„¤ì •
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="toor",
        database="zipcoding"
    )

    query = f"""
                    WITH ê±°ë˜ëŸ‰_í‰ê·  AS (
            SELECT
                ì¸ë±ìŠ¤,
                ê³„ì•½ì¼,
                ë¬¼ê±´ê¸ˆì•¡,
                ìì¹˜êµ¬ì½”ë“œ,
                ë²•ì •ë™ì½”ë“œ,
        
                -- âœ… ìì¹˜êµ¬ ê¸°ì¤€ ìµœê·¼ 6ê°œì›” ê±°ë˜ëŸ‰
                COUNT(ë¬¼ê±´ê¸ˆì•¡) OVER (
                    PARTITION BY ìì¹˜êµ¬ì½”ë“œ
                    ORDER BY ê³„ì•½ì¼ 
                    RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
                ) AS ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰,
        
                -- âœ… ìì¹˜êµ¬ ê¸°ì¤€ ìµœê·¼ 6ê°œì›” í‰ê·  ë¬¼ê±´ê¸ˆì•¡
                AVG(ë¬¼ê±´ê¸ˆì•¡) OVER (
                    PARTITION BY ìì¹˜êµ¬ì½”ë“œ
                    ORDER BY ê³„ì•½ì¼ 
                    RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
                ) AS ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡,
        
                -- âœ… ìì¹˜êµ¬ + ë²•ì •ë™ ê¸°ì¤€ ìµœê·¼ 6ê°œì›” ê±°ë˜ëŸ‰ (NULL ê°’ ìœ ì§€)
                COUNT(ë¬¼ê±´ê¸ˆì•¡) OVER (
                    PARTITION BY ìì¹˜êµ¬ì½”ë“œ, ë²•ì •ë™ì½”ë“œ
                    ORDER BY ê³„ì•½ì¼ 
                    RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
                ) AS ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰,
        
                -- âœ… ìì¹˜êµ¬ + ë²•ì •ë™ ê¸°ì¤€ ìµœê·¼ 6ê°œì›” í‰ê·  ë¬¼ê±´ê¸ˆì•¡ (NULL ê°’ ìœ ì§€)
                AVG(ë¬¼ê±´ê¸ˆì•¡) OVER (
                    PARTITION BY ìì¹˜êµ¬ì½”ë“œ, ë²•ì •ë™ì½”ë“œ
                    ORDER BY ê³„ì•½ì¼ 
                    RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
                ) AS ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡
        
            FROM original_data
        )
        SELECT * FROM ê±°ë˜ëŸ‰_í‰ê· 
        WHERE YEAR(ê³„ì•½ì¼) = {i} 
        ORDER BY ê³„ì•½ì¼ DESC;


    """

    try:
        # âœ… MySQL ë°ì´í„° ì¡°íšŒ í›„ DataFrameìœ¼ë¡œ ë³€í™˜
        df = pd.read_sql(query, conn)

        # âœ… Pythonì—ì„œë„ NULL ê°’ í™•ì¸ í›„ 0ìœ¼ë¡œ ë³€í™˜ (ì¶”ê°€ì ì¸ NULL ë°©ì§€)
        df.fillna({"ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰": 0, "ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡": 0, "ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰": 0, "ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡": 0}, inplace=True)

        # âœ… CSVë¡œ ì €ì¥ (ìì¹˜êµ¬ë³„ & ë²•ì •ë™ë³„ ì •ë³´ í¬í•¨)
        df.to_csv(f"C:/ZIPcoding/region_output_{i}.csv", index=False, encoding="utf-8-sig")

        print(f"âœ… {i}ë…„ ë°ì´í„° ì €ì¥ ì™„ë£Œ!")

    except Exception as e:
        print(f"ğŸš¨ {i}ë…„ ë°ì´í„° ì²˜ë¦¬ ì¤‘ ì˜¤ë¥˜ ë°œìƒ: {e}")

    finally:
        # âœ… MySQL ì—°ê²° ì¢…ë£Œ
        conn.close()
        print(f"âœ… {i}ë…„ MySQL ì—°ê²° ì¢…ë£Œë¨")

C:\Users\user\AppData\Local\Temp\ipykernel_2600\2717264071.py:61: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

âœ… 2020ë…„ ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… 2020ë…„ MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… 2021ë…„ ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… 2021ë…„ MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… 2022ë…„ ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… 2022ë…„ MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… 2023ë…„ ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… 2023ë…„ MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… 2024ë…„ ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… 2024ë…„ MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… 2025ë…„ ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… 2025ë…„ MySQL ì—°ê²° ì¢…ë£Œë¨

In [471]:
for year, df in region_outputs.items():
    print(f"âœ… {year}ë…„ ë°ì´í„° ì»¬ëŸ¼ ëª©ë¡: {df.columns}")

âœ… 2020ë…„ ë°ì´í„° ì»¬ëŸ¼ ëª©ë¡: Index(['ì¸ë±ìŠ¤', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡', 'ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡'], dtype='object')
âœ… 2021ë…„ ë°ì´í„° ì»¬ëŸ¼ ëª©ë¡: Index(['ì¸ë±ìŠ¤', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡', 'ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡'], dtype='object')
âœ… 2022ë…„ ë°ì´í„° ì»¬ëŸ¼ ëª©ë¡: Index(['ì¸ë±ìŠ¤', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡', 'ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡'], dtype='object')
âœ… 2023ë…„ ë°ì´í„° ì»¬ëŸ¼ ëª©ë¡: Index(['ì¸ë±ìŠ¤', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡', 'ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡'], dtype='object')
âœ… 2024ë…„ ë°ì´í„° ì»¬ëŸ¼ ëª©ë¡: Index(['ì¸ë±ìŠ¤', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡', 'ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡'], dtype='object')
âœ… 2025ë…„ ë°ì´í„° ì»¬ëŸ¼ ëª©ë¡: Index(['ì¸ë±ìŠ¤', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡', 'ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡'], dtype='object')

In [485]:
original_data = pd.read_csv("C:/ZIPcoding/2019~2025 data.csv", low_memory=False)

In [495]:
df = pd.read_csv("C:/ZIPcoding/region_output_2020.csv", low_memory=False)

In [497]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175320 entries, 0 to 175319
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ì¸ë±ìŠ¤           175320 non-null  int64
 1   ê³„ì•½ì¼           175320 non-null  object
 2   ë¬¼ê±´ê¸ˆì•¡          175320 non-null  int64
 3   ìì¹˜êµ¬ì½”ë“œ         175320 non-null  int64
 4   ë²•ì •ë™ì½”ë“œ         175320 non-null  int64
 5   ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰   175320 non-null  int64
 6   ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡  175320 non-null  float64
 7   ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰     175320 non-null  int64
 8   ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡    175320 non-null  float64
dtypes: float64(2), int64(6), object(1)
memory usage: 12.0+ MB

In [487]:
import pandas as pd
import numpy as np

# âœ… ì—°ë„ë³„ ë°ì´í„° ë¡œë“œ
years = range(2020, 2026)
file_paths = {year: f"C:/ZIPcoding/region_output_{year}.csv" for year in years}

# âœ… ì—°ë„ë³„ ë°ì´í„° ë¡œë“œ (ìì¹˜êµ¬ + ë²•ì •ë™ ê¸°ì¤€)
region_outputs = {}
for year in years:
    try:
        df = pd.read_csv(file_paths[year], low_memory=False)
        region_outputs[year] = df.set_index("ì¸ë±ìŠ¤")  # 'ì¸ë±ìŠ¤' ì»¬ëŸ¼ì„ ì¸ë±ìŠ¤ë¡œ ì„¤ì •
        print(f"âœ… {year}ë…„ ë°ì´í„° ë¡œë“œ ì™„ë£Œ, ì»¬ëŸ¼ ëª©ë¡: {df.columns}")
    except FileNotFoundError:
        print(f"ğŸš¨ {year}ë…„ CSV íŒŒì¼ì´ ì¡´ì¬í•˜ì§€ ì•ŠìŒ! ê²½ë¡œ í™•ì¸ í•„ìš”")

# âœ… original_dataì— ì»¬ëŸ¼ì„ ë¯¸ë¦¬ ìƒì„± (ì´ˆê¸°ê°’ NaN)
for col in ["ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰", "ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡", "ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰", "ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡"]:
    original_data[col] = np.nan

# âœ… ì—°ë„ë³„ ë°ì´í„° ë§¤í•‘
for year in years:
    if year in region_outputs:
        df = region_outputs[year]  # 'ì¸ë±ìŠ¤'ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì„¸íŒ…ëœ ë°ì´í„°í”„ë ˆì„
        
        # âœ… ë§¤í•‘ ìˆ˜í–‰ (original_dataì˜ ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ dfì˜ í•´ë‹¹ ì»¬ëŸ¼ ê°’ ê°€ì ¸ì˜¤ê¸°)
        for col in ["ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰", "ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡", "ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰", "ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡"]:
            original_data[col] = original_data.index.map(df[col].to_dict()).fillna(original_data[col])

# âœ… CSV íŒŒì¼ë¡œ ì €ì¥
original_data.to_csv("C:/ZIPcoding/final_output.csv", index=False, encoding="utf-8-sig")

print("\nâœ… ìµœì¢… ë°ì´í„° ì €ì¥ ì™„ë£Œ!")

âœ… 2020ë…„ ë°ì´í„° ë¡œë“œ ì™„ë£Œ, ì»¬ëŸ¼ ëª©ë¡: Index(['ì¸ë±ìŠ¤', 'ê³„ì•½ì¼', 'ë¬¼ê±´ê¸ˆì•¡', 'ìì¹˜êµ¬ì½”ë“œ', 'ë²•ì •ë™ì½”ë“œ', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡',
       'ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡'],
      dtype='object')
âœ… 2021ë…„ ë°ì´í„° ë¡œë“œ ì™„ë£Œ, ì»¬ëŸ¼ ëª©ë¡: Index(['ì¸ë±ìŠ¤', 'ê³„ì•½ì¼', 'ë¬¼ê±´ê¸ˆì•¡', 'ìì¹˜êµ¬ì½”ë“œ', 'ë²•ì •ë™ì½”ë“œ', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡',
       'ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡'],
      dtype='object')
âœ… 2022ë…„ ë°ì´í„° ë¡œë“œ ì™„ë£Œ, ì»¬ëŸ¼ ëª©ë¡: Index(['ì¸ë±ìŠ¤', 'ê³„ì•½ì¼', 'ë¬¼ê±´ê¸ˆì•¡', 'ìì¹˜êµ¬ì½”ë“œ', 'ë²•ì •ë™ì½”ë“œ', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡',
       'ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡'],
      dtype='object')
âœ… 2023ë…„ ë°ì´í„° ë¡œë“œ ì™„ë£Œ, ì»¬ëŸ¼ ëª©ë¡: Index(['ì¸ë±ìŠ¤', 'ê³„ì•½ì¼', 'ë¬¼ê±´ê¸ˆì•¡', 'ìì¹˜êµ¬ì½”ë“œ', 'ë²•ì •ë™ì½”ë“œ', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡',
       'ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡'],
      dtype='object')
âœ… 2024ë…„ ë°ì´í„° ë¡œë“œ ì™„ë£Œ, ì»¬ëŸ¼ ëª©ë¡: Index(['ì¸ë±ìŠ¤', 'ê³„ì•½ì¼', 'ë¬¼ê±´ê¸ˆì•¡', 'ìì¹˜êµ¬ì½”ë“œ', 'ë²•ì •ë™ì½”ë“œ', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡',
       'ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡'],
      dtype='object')
âœ… 2025ë…„ ë°ì´í„° ë¡œë“œ ì™„ë£Œ, ì»¬ëŸ¼ ëª©ë¡: Index(['ì¸ë±ìŠ¤', 'ê³„ì•½ì¼', 'ë¬¼ê±´ê¸ˆì•¡', 'ìì¹˜êµ¬ì½”ë“œ', 'ë²•ì •ë™ì½”ë“œ', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡',
       'ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰', 'ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡'],
      dtype='object')

TypeError: 'value' must be a scalar, passed: Series

In [481]:
region_outputs

{2020:            ì¸ë±ìŠ¤  ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰  ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡  ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰  ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡
 0       373367         4305    66288.2381       1223  47385.3998
 1       373445         4305    66288.2381       1223  47385.3998
 2       373530         4305    66288.2381       1223  47385.3998
 3       373553         4305    66288.2381        118  75381.2712
 4       373557         4305    66288.2381        118  75381.2712
 ...        ...          ...           ...        ...         ...
 175315  548435         4643    40497.3007        529  31769.2268
 175316  548445         4643    40497.3007        529  31769.2268
 175317  548404         4643    40497.3007        408  30197.1593
 175318  548382         4643    40497.3007        444  32272.3851
 175319  548394         4643    40497.3007        421  43373.4679

 [175320 rows x 5 columns],
 2021:            ì¸ë±ìŠ¤  ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰  ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡  ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰  ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡
 0       238405         2543    63767.6217        802  45250.2781
 1       238406         2543    63767.6217        802  45250.2781
 2       238484         2543    63767.6217        802  45250.2781
 3       241016         2543    63767.6217         76  50697.8553
 4       238355         2543    63767.6217        361  68090.3684
 ...        ...          ...           ...        ...         ...
 134776  373032         2391    66861.3266        563  55219.2895
 134777  373043         2910    61317.5722        270  59951.4963
 134778  373037         3202    45307.8907       1076  45014.5335
 134779  373065         1046    76921.1625        583  74924.3431
 134780  373028         2154   107418.9410         73  46239.8630

 [134781 rows x 5 columns],
 2022:           ì¸ë±ìŠ¤  ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰  ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡  ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰  ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡
 0      173530         1003    48515.3370        330  36431.8939
 1      173523         1273    69514.5350        118  49808.2458
 2      173524         1273    69514.5350        118  49808.2458
 3      173525         1273    69514.5350        118  49808.2458
 4      173507         1003    48515.3370        102  81420.0980
 ...       ...          ...           ...        ...         ...
 64815  238285         2133    38498.7431        658  53165.4316
 64816  238309         2133    38498.7431        658  53165.4316
 64817  238280         2133    38498.7431       1059  29646.4882
 64818  238281         2133    38498.7431       1059  29646.4882
 64819  238297         2133    38498.7431       1059  29646.4882

 [64820 rows x 5 columns],
 2023:           ì¸ë±ìŠ¤  ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰  ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡  ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰   ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡
 0      103044         1784   185502.4254        278  181095.0504
 1      103042         1473   163506.7889        149  252369.7987
 2      103046         1784   185502.4254        348   89949.6322
 3      103048         1784   185502.4254        348   89949.6322
 4      103041         1486    74084.6931        491   62097.4481
 ...       ...          ...           ...        ...          ...
 70418  173484          475   125988.1747         31   64109.6774
 70419  173481         1174   120845.0162         20  146250.0000
 70420  173482         1174   120845.0162         20  146250.0000
 70421  173486          757    97841.5509         68  290627.4118
 70422  173480         1249    70277.0641        180   37583.8278

 [70423 rows x 5 columns],
 2024:           ì¸ë±ìŠ¤  ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰  ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡  ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰   ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡
 0        6234         2751    83082.8241        509   51100.5010
 1        6238         2751    83082.8241        509   51100.5010
 2        6121         2751    83082.8241        108   68883.9167
 3        6150         2751    83082.8241        311  128856.2830
 4        6300         2751    83082.8241        311  128856.2830
 ...       ...          ...           ...        ...          ...
 96938  103030         1533    46814.8611        347   45983.9510
 96939  103037         1358    50148.7813        667   55331.2924
 96940  103031         1249    35806.0368        474   49919.1582
 96941  103035         1805    49987.2377        244   53080.4221
 96942  103033         1093    39116.2800        266   30358.4774

 [96943 rows x 5 columns],
 2025:        ì¸ë±ìŠ¤  ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰  ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡  ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰   ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡
 0        1         1881    86733.8729        139   85297.1223
 1       24         1881    86733.8729        114   67664.2982
 2        7         1831    82002.1278        491   41757.7413
 3       35         1831    82002.1278        491   41757.7413
 4       29         2559    47361.0152        285   52148.7544
 ...    ...          ...           ...        ...          ...
 6115  6118         2336    99489.8288         90   82274.2222
 6116  6098         2336    99489.8288         51   89870.5882
 6117  6112         2114    95035.8832        157  105898.1529
 6118  6102         2206   194465.3395        107  128128.0374
 6119  6107         2708   213764.9830        179  187314.2291

 [6120 rows x 5 columns]}

In [453]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 689611 entries, nan to nan
Data columns (total 27 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ì ‘ìˆ˜ì—°ë„              689611 non-null  int64
 1   ìì¹˜êµ¬ì½”ë“œ             689611 non-null  int64
 2   ìì¹˜êµ¬ëª…              689610 non-null  object
 3   ë²•ì •ë™ì½”ë“œ             689611 non-null  int64
 4   ë²•ì •ë™ëª…              689611 non-null  object
 5   ì§€ë²ˆêµ¬ë¶„              646137 non-null  float64
 6   ì§€ë²ˆêµ¬ë¶„ëª…             646137 non-null  object
 7   ë³¸ë²ˆ                646149 non-null  object
 8   ë¶€ë²ˆ                646149 non-null  object
 9   ê±´ë¬¼ëª…               646142 non-null  object
 10  ê³„ì•½ì¼               689611 non-null  int64
 11  ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)          689611 non-null  int64
 12  ê±´ë¬¼ë©´ì (ã¡)           689611 non-null  float64
 13  í† ì§€ë©´ì (ã¡)           550039 non-null  float64
 14  ì¸µ                 646196 non-null  float64
 15  ê¶Œë¦¬êµ¬ë¶„              5189 non-null    object
 16  ì·¨ì†Œì¼               27357 non-null   float64
 17  ê±´ì¶•ë…„ë„              686281 non-null  float64
 18  ê±´ë¬¼ìš©ë„              689611 non-null  object
 19  ì‹ ê³ êµ¬ë¶„              252716 non-null  object
 20  ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…  206972 non-null  object
 21  ê±´ë¬¼ë©´ì ì •ìˆ˜            689611 non-null  int64
 22  ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)       528541 non-null  float64
 23  ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰       175320 non-null  float64
 24  ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡      175320 non-null  float64
 25  ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰         175320 non-null  float64
 26  ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡        175320 non-null  float64
dtypes: float64(11), int64(6), object(10)
memory usage: 147.3+ MB

In [247]:

# âœ… ê±°ë˜ ê±´ìˆ˜ ê³„ì‚°
transaction_counts = original_data.groupby(["ì ‘ìˆ˜ì—°ë„", "ìì¹˜êµ¬ì½”ë“œ", "ë²•ì •ë™ì½”ë“œ"])["ê³„ì•½ì¼"].count().reset_index()
transaction_counts.rename(columns={"ê³„ì•½ì¼": "ê±°ë˜ê±´ìˆ˜"}, inplace=True)

# âœ… ê±°ë˜ê±´ìˆ˜ê°€ 0ì¸ ì¡°í•© ì°¾ê¸°
no_transaction = transaction_counts[transaction_counts["ê±°ë˜ê±´ìˆ˜"] == 0]

# âœ… ê²°ê³¼ ì¶œë ¥
print(no_transaction)

Empty DataFrame
Columns: [ì ‘ìˆ˜ì—°ë„, ìì¹˜êµ¬ì½”ë“œ, ë²•ì •ë™ì½”ë“œ, ê±°ë˜ê±´ìˆ˜]
Index: []

In [275]:
original_data['ê³„ì•½ì¼'] = pd.to_datetime(original_data['ê³„ì•½ì¼'], format='%Y%m%d')