In [3]:
import pandas as pd

In [5]:
dong_df = pd.read_pickle("C:/ZIPcoding/dong_df_final.pkl")

In [6]:
dong_df

,자치구코드,법정동코드,전체코드,자치구명,법정동명,자치구법정동,계약일,평당가격,실거래가,서울5대학군지여부,...,층중앙값_6개월,층표준편차_6개월,수도권아파트입주물량,계약일_6개월후,평당가격_6개월후,실거래가_6개월후,평당가격_6개월후_자치구,실거래가_6개월후_자치구,기준금리,고정형주택담보대출
0,11440,12700,1144012700,마포구,상암동,마포구 상암동,2025-02-13,1722.027100,10400,0,...,7.0,5.438982,2892,2025-08-06,NaN,NaN,NaN,NaN,3.00,4.23
1,11230,10400,1123010400,동대문구,전농동,동대문구 전농동,2025-02-13,922.422733,7653,0,...,6.0,5.902858,2892,2025-08-06,NaN,NaN,NaN,NaN,3.00,4.23
2,11530,10200,1153010200,구로구,구로동,구로구 구로동,2025-02-13,3110.710000,23500,0,...,8.0,5.804617,2892,2025-08-06,NaN,NaN,NaN,NaN,3.00,4.23
3,11680,10100,1168010100,강남구,역삼동,강남구 역삼동,2025-02-13,3271.449200,27500,1,...,8.0,5.177025,2892,2025-08-06,NaN,NaN,NaN,NaN,3.00,4.23
4,11305,10100,1130510100,강북구,미아동,강북구 미아동,2025-02-13,2824.341900,72500,0,...,5.0,6.066109,2892,2025-08-06,NaN,NaN,NaN,NaN,3.00,4.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515078,11740,10900,1174010900,강동구,천호동,강동구 천호동,2020-01-01,3258.722800,60000,0,...,NaN,NaN,12532,2020-06-24,3223.498827,46245.0,3183.989100,56250.0,1.25,2.42
515079,11440,11400,1144011400,마포구,창전동,마포구 창전동,2020-01-01,3301.553700,85000,0,...,NaN,NaN,12532,2020-06-24,1621.315200,13000.0,3123.531825,66600.0,1.25,2.42
515080,11350,10400,1135010400,노원구,하계동,노원구 하계동,2020-01-01,2544.444400,45800,0,...,NaN,NaN,12532,2020-06-24,2739.342040,75260.0,2456.673700,48150.0,1.25,2.42
515081,11530,10200,1153010200,구로구,구로동,구로구 구로동,2020-01-01,2217.640940,48700,0,...,NaN,NaN,12532,2020-06-24,2935.884250,61050.0,2452.114283,42433.0,1.25,2.42
515082,11530,10200,1153010200,구로구,구로동,구로구 구로동,2020-01-01,2217.640940,48700,0,...,NaN,NaN,12532,2020-06-24,2935.884250,61050.0,2452.114283,42433.0,1.25,2.42

In [39]:
df = pd.read_pickle("C:/ZIPcoding/df_after_fill_NaN.pkl")

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515084 entries, 0 to 515083
Data columns (total 37 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   접수연도          515084 non-null  int64
 1   자치구코드         515084 non-null  object
 2   자치구명          515084 non-null  object
 3   법정동코드         515084 non-null  object
 4   법정동명          515084 non-null  object
 5   본번            515084 non-null  int64
 6   부번            515084 non-null  int64
 7   주소            515084 non-null  object
 8   위도            515084 non-null  float64
 9   경도            515084 non-null  float64
 10  geometry      515084 non-null  object
 11  건물명           515084 non-null  object
 12  계약일           515084 non-null  datetime64[ns]
 13  물건금액          515084 non-null  int64
 14  건물면적          515084 non-null  float64
 15  토지면적          515084 non-null  float64
 16  층             515084 non-null  int32
 17  건축년도          515084 non-null  int32
 18  건물용도          515084 non-null  object
 19  건물면적정수        515084 non-null  int64
 20  이전 실거래가       515084 non-null  float64
 21  자치구최근6개월거래량   515084 non-null  int32
 22  자치구최근6개월평균금액  515084 non-null  float64
 23  동최근6개월거래량     515084 non-null  int32
 24  동최근6개월평균금액    515084 non-null  float64
 25  한국은행 기준금리     515084 non-null  float64
 26  계약연월          515084 non-null  int64
 27  고정형 주택담보대출    515084 non-null  float64
 28  서울5대학군지여부     515084 non-null  object
 29  수도권아파트입주물량    515084 non-null  int32
 30  한강변여부         515084 non-null  object
 31  최근접역          515084 non-null  object
 32  최근접역_노선       515084 non-null  object
 33  최근접역_연결역개수    515084 non-null  int64
 34  최근접역_환승역구분    515084 non-null  object
 35  최근접역_직선거리     515084 non-null  float64
 36  면적구분          515084 non-null  object
dtypes: datetime64[ns](1), float64(10), int32(5), int64(7), object(14)
memory usage: 135.6+ MB

In [13]:
df2019 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2019.csv", encoding = 'euc=kr')

C:\Users\user\AppData\Local\Temp\ipykernel_1412\2872296003.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df2019 = pd.read_csv("C:/ZIPcoding/original_data/서울시 부동산 실거래가 정보 2019.csv", encoding = 'euc=kr')

In [15]:
df = df[['자치구코드', '법정동코드', '계약일', '건축년도']]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515084 entries, 0 to 515083
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   자치구코드   515084 non-null  object
 1   법정동코드   515084 non-null  object
 2   계약일     515084 non-null  datetime64[ns]
 3   건축년도    515084 non-null  int32
dtypes: datetime64[ns](1), int32(1), object(2)
memory usage: 13.8+ MB

In [19]:
df2019 = df2019[['자치구코드', '법정동코드', '계약일', '건축년도','건물용도']]

In [21]:
df2019['계약일'] = pd.to_datetime(df2019['계약일'].astype(str), format='%Y%m%d')

In [23]:
df2019["건축년도"] = df2019.groupby(["자치구코드", "법정동코드", "건물용도"])["건축년도"].transform(lambda x: x.fillna(x.median()))

In [25]:
df2019["건축년도"] = df2019.groupby(["자치구코드", "법정동코드"])["건축년도"].transform(lambda x: x.fillna(x.median()))

In [27]:
df2019['건축년도'] = df2019['건축년도'].astype(int)

In [29]:
df2019 = df2019.iloc[:,:4]

In [31]:
df2019.shape

(130673, 4)

In [57]:
for_year = pd.concat([df, df2019])

In [59]:
for_year

,접수연도,자치구코드,자치구명,법정동코드,법정동명,본번,부번,주소,위도,경도,...,고정형 주택담보대출,서울5대학군지여부,수도권아파트입주물량,한강변여부,최근접역,최근접역_노선,최근접역_연결역개수,최근접역_환승역구분,최근접역_직선거리,면적구분
0,2020.0,11290,성북구,13600,하월곡동,222.0,0.0,서울특별시 성북구 하월곡동 222,37.607033,127.038366,...,2.42,0,12532.0,0,월곡(동덕여대),[6호선],1.0,일반역,0.664071,중형
1,2020.0,11380,은평구,10400,갈현동,432.0,7.0,서울특별시 은평구 갈현동 432-7,37.620439,126.916566,...,2.42,0,12532.0,0,연신내,"[3호선, 6호선]",2.0,환승역,0.514208,소형
2,2020.0,11620,관악구,10100,봉천동,635.0,368.0,서울특별시 관악구 봉천동 635-368,37.487369,126.941912,...,2.42,0,12532.0,0,봉천,[2호선],1.0,일반역,0.555815,소형
3,2020.0,11350,노원구,10300,공릉동,747.0,0.0,서울특별시 노원구 공릉동 747,37.620935,127.079878,...,2.42,0,12532.0,0,화랑대(서울여대입구),[6호선],1.0,일반역,0.542655,중형
4,2020.0,11470,양천구,10200,목동,941.0,0.0,서울특별시 양천구 목동 941,37.532181,126.866836,...,2.42,1,12532.0,0,목동,[5호선],1.0,일반역,0.711087,중형
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130668,NaN,11545,NaN,10200,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130669,NaN,11545,NaN,10200,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130670,NaN,11545,NaN,10200,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130671,NaN,11350,NaN,10500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130672,NaN,11740,NaN,10900,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df_grouped = df.groupby(['자치구코드', '법정동코드', '계약일', '건물용도']).size().unstack(fill_value=0).reset_index()

In [45]:
dong_df = pd.merge(dong_df, df_grouped, on = ['자치구코드', '법정동코드', '계약일'], how='left')

In [61]:
for_year = for_year[for_year['계약일'] >= '2020-01-01']

In [66]:
for_year = for_year.groupby(['자치구코드', '법정동코드'])['건축년도'].agg(['mean', 'median', 'std']).reset_index()

In [68]:
for_year.columns = ['자치구코드', '법정동코드', '건축년도평균', '건축년도중앙값', '건축년도표준편차']

In [70]:
dong_df = pd.merge(dong_df, for_year, on = ['자치구코드', '법정동코드'], how='left')

In [72]:
dong_df

,자치구코드,법정동코드,전체코드,자치구명,법정동명,자치구법정동,계약일,평당가격,실거래가,서울5대학군지여부,...,실거래가_6개월후_자치구,기준금리,고정형주택담보대출,단독다가구,아파트,연립다세대,오피스텔,건축년도평균,건축년도중앙값,건축년도표준편차
0,11440,12700,1144012700,마포구,상암동,마포구 상암동,2025-02-13,1722.027100,10400,0,...,NaN,3.00,4.23,0,0,0,1,2009.913396,2010.0,4.816955
1,11230,10400,1123010400,동대문구,전농동,동대문구 전농동,2025-02-13,922.422733,7653,0,...,NaN,3.00,4.23,0,0,8,16,1931.650153,2012.0,383.044427
2,11530,10200,1153010200,구로구,구로동,구로구 구로동,2025-02-13,3110.710000,23500,0,...,NaN,3.00,4.23,0,0,1,0,2002.491183,2003.0,24.046963
3,11680,10100,1168010100,강남구,역삼동,강남구 역삼동,2025-02-13,3271.449200,27500,1,...,NaN,3.00,4.23,0,0,0,1,2005.302992,2006.0,77.103025
4,11305,10100,1130510100,강북구,미아동,강북구 미아동,2025-02-13,2824.341900,72500,0,...,NaN,3.00,4.23,0,1,0,0,1988.171674,2004.0,183.925651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515078,11740,10900,1174010900,강동구,천호동,강동구 천호동,2020-01-01,3258.722800,60000,0,...,56250.0,1.25,2.42,0,1,0,0,2000.409442,2015.0,146.339179
515079,11440,11400,1144011400,마포구,창전동,마포구 창전동,2020-01-01,3301.553700,85000,0,...,66600.0,1.25,2.42,0,1,0,0,2005.379200,2005.0,7.191645
515080,11350,10400,1135010400,노원구,하계동,노원구 하계동,2020-01-01,2544.444400,45800,0,...,48150.0,1.25,2.42,0,1,0,0,1991.980269,1989.0,5.980557
515081,11530,10200,1153010200,구로구,구로동,구로구 구로동,2020-01-01,2217.640940,48700,0,...,42433.0,1.25,2.42,0,4,1,0,2002.491183,2003.0,24.046963
515082,11530,10200,1153010200,구로구,구로동,구로구 구로동,2020-01-01,2217.640940,48700,0,...,42433.0,1.25,2.42,0,4,1,0,2002.491183,2003.0,24.046963

In [ ]:
dong_df.to_pickle("C:/ZIPcoding/dong_dataset_final.pkl")