In [26]:
import pandas as pd

### db ì—°ë™ (mysql)

In [ ]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

# MySQL ì—°ê²° ì •ë³´
HOST = "localhost"  # ë˜ëŠ” "127.0.0.1"
USER = "root"
PASSWORD = "toor"
DATABASE = "zipcoding"

# SQLAlchemy ì—”ì§„ ìƒì„± (Pandas to_sqlì„ ì‚¬ìš©í•˜ê¸° ìœ„í•¨)
engine = create_engine(f"mysql+pymysql://{USER}:{PASSWORD}@{HOST}/{DATABASE}")

# mysql.connectorë¥¼ ì‚¬ìš©í•œ ì—°ê²° (ì»¤ì„œ ì‚¬ìš© ê°€ëŠ¥)
conn = mysql.connector.connect(
    host=HOST,
    user=USER,
    password=PASSWORD,
    database=DATABASE
)
cursor = conn.cursor()

### dbì— 2019~2025 ë°ì´í„° ì˜¬ë¦¬ê¸°

In [16]:
df2019 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2019.csv", encoding = 'euc-kr', low_memory=False)
df2020 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2020.csv", encoding = 'euc-kr', low_memory=False)
df2021 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2021.csv", encoding = 'euc-kr', low_memory=False)
df2022 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2022.csv", encoding = 'euc-kr', low_memory=False)
df2023 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2023.csv", encoding = 'euc-kr', low_memory=False)
df2024 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2024.csv", encoding = 'euc-kr', low_memory=False)
df2025 = pd.read_csv("C:/ZIPcoding/original_data/ì„œìš¸ì‹œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì •ë³´ 2025.csv", encoding = 'euc-kr', low_memory=False)

In [ ]:
# ì—¬ëŸ¬ ê°œì˜ DataFrameì„ ë¦¬ìŠ¤íŠ¸ë¡œ ë¬¶ì–´ í•œ ë²ˆì— ë³‘í•©
df_list = [df2025, df2024, df2023, df2022, df2021, df2020, df2019]
df = pd.concat(df_list, ignore_index=True)

In [ ]:
df.to_sql(name="original_data", con=engine, if_exists="append", index=True)

In [10]:
df.columns

Index(['ì ‘ìˆ˜ì—°ë„', 'ìì¹˜êµ¬ì½”ë“œ', 'ìì¹˜êµ¬ëª…', 'ë²•ì •ë™ì½”ë“œ', 'ë²•ì •ë™ëª…', 'ì§€ë²ˆêµ¬ë¶„', 'ì§€ë²ˆêµ¬ë¶„ëª…', 'ë³¸ë²ˆ', 'ë¶€ë²ˆ',
       'ê±´ë¬¼ëª…', 'ê³„ì•½ì¼', 'ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)', 'ê±´ë¬¼ë©´ì (ã¡)', 'í† ì§€ë©´ì (ã¡)', 'ì¸µ', 'ê¶Œë¦¬êµ¬ë¶„', 'ì·¨ì†Œì¼',
       'ê±´ì¶•ë…„ë„', 'ê±´ë¬¼ìš©ë„', 'ì‹ ê³ êµ¬ë¶„', 'ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…', 'ê±´ë¬¼ë©´ì ì •ìˆ˜', 'ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)'],
      dtype='object')

In [12]:
## ì»¬ëŸ¼ëª… ë•Œë¬¸ì— ì˜¤ë¥˜ ë‚˜ì„œ ê´„í˜¸ë“¤, ë„ì–´ì“°ê¸°ë“¤ ë‹¤ ëºŒ

df.columns =  ['ì ‘ìˆ˜ì—°ë„', 'ìì¹˜êµ¬ì½”ë“œ', 'ìì¹˜êµ¬ëª…', 'ë²•ì •ë™ì½”ë“œ', 'ë²•ì •ë™ëª…', 'ì§€ë²ˆêµ¬ë¶„', 'ì§€ë²ˆêµ¬ë¶„ëª…', 'ë³¸ë²ˆ', 'ë¶€ë²ˆ',
       'ê±´ë¬¼ëª…', 'ê³„ì•½ì¼', 'ë¬¼ê±´ê¸ˆì•¡', 'ê±´ë¬¼ë©´ì ', 'í† ì§€ë©´ì ', 'ì¸µ', 'ê¶Œë¦¬êµ¬ë¶„', 'ì·¨ì†Œì¼',
       'ê±´ì¶•ë…„ë„', 'ê±´ë¬¼ìš©ë„', 'ì‹ ê³ êµ¬ë¶„', 'ì‹ ê³ í•œê°œì—…ê³µì¸ì¤‘ê°œì‚¬ì‹œêµ°êµ¬ëª…']

### ìì¹˜êµ¬, ë²•ì •ë™ë³„ 6ê°œì›” ê±°ë˜ëŸ‰, í‰ê·  ê±°ë˜ê¸ˆì•¡ ê³„ì‚°í•´ì„œ íŒŒì¼ ì €ì¥

In [14]:
import pandas as pd
import mysql.connector

for i in range(2020, 2026):
    # âœ… MySQL ì—°ê²° ì„¤ì •
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="toor",
        database="zipcoding"
    )
    
    query = f"""
       WITH ê±°ë˜ëŸ‰_í‰ê·  AS (
        SELECT
            ì¸ë±ìŠ¤,
            ê³„ì•½ì¼,
            ë¬¼ê±´ê¸ˆì•¡,
            ìì¹˜êµ¬ì½”ë“œ,
            ë²•ì •ë™ì½”ë“œ,
    
            -- âœ… ìì¹˜êµ¬ ê¸°ì¤€ ìµœê·¼ 6ê°œì›” ê±°ë˜ëŸ‰
            COUNT(ë¬¼ê±´ê¸ˆì•¡) OVER (
                PARTITION BY ìì¹˜êµ¬ì½”ë“œ
                ORDER BY ê³„ì•½ì¼ 
                RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
            ) AS ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰,
    
            -- âœ… ìì¹˜êµ¬ ê¸°ì¤€ ìµœê·¼ 6ê°œì›” í‰ê·  ë¬¼ê±´ê¸ˆì•¡
            AVG(ë¬¼ê±´ê¸ˆì•¡) OVER (
                PARTITION BY ìì¹˜êµ¬ì½”ë“œ
                ORDER BY ê³„ì•½ì¼ 
                RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
            ) AS ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡,
    
            -- âœ… ìì¹˜êµ¬ + ë²•ì •ë™ ê¸°ì¤€ ìµœê·¼ 6ê°œì›” ê±°ë˜ëŸ‰
            COUNT(ë¬¼ê±´ê¸ˆì•¡) OVER (
                PARTITION BY ìì¹˜êµ¬ì½”ë“œ, ë²•ì •ë™ì½”ë“œ
                ORDER BY ê³„ì•½ì¼ 
                RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
            ) AS ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰,
    
            -- âœ… ìì¹˜êµ¬ + ë²•ì •ë™ ê¸°ì¤€ ìµœê·¼ 6ê°œì›” í‰ê·  ë¬¼ê±´ê¸ˆì•¡
            AVG(ë¬¼ê±´ê¸ˆì•¡) OVER (
                PARTITION BY ìì¹˜êµ¬ì½”ë“œ, ë²•ì •ë™ì½”ë“œ
                ORDER BY ê³„ì•½ì¼ 
                RANGE BETWEEN INTERVAL 6 MONTH PRECEDING AND CURRENT ROW
            ) AS ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡
    
        FROM original_data
    )
    SELECT * FROM ê±°ë˜ëŸ‰_í‰ê· 
    WHERE YEAR(ê³„ì•½ì¼) = {i}  
    AND ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰ IS NOT NULL  -- âœ… ë²•ì •ë™ ë°ì´í„°ì—ì„œ ê±°ë˜ê°€ ìˆëŠ” í–‰ë§Œ ìœ ì§€
    ORDER BY ê³„ì•½ì¼ DESC;
    
        
    """
    
    try:
        # âœ… MySQL ë°ì´í„° ì¡°íšŒ í›„ DataFrameìœ¼ë¡œ ë³€í™˜
        df = pd.read_sql(query, conn)
    
        # âœ… CSVë¡œ ì €ì¥
        df.to_csv(f"C:/ZIPcoding/region_output_{i}.csv", index=False, encoding="utf-8-sig")
    
        # âœ… Excel íŒŒì¼ë¡œ ì €ì¥ (ì„ íƒ)
        # df.to_excel("C:/ZIPcoding/output_2020.xlsx", index=False, encoding="utf-8-sig")
    
        print("âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!")
    
    except Exception as e:
        print(f"ğŸš¨ ì˜¤ë¥˜ ë°œìƒ: {e}")
    
    finally:
        # âœ… MySQL ì—°ê²° ì¢…ë£Œ
        conn.close()
        print("âœ… MySQL ì—°ê²° ì¢…ë£Œë¨")

C:\Users\user\AppData\Local\Temp\ipykernel_13272\1672793738.py:62: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… MySQL ì—°ê²° ì¢…ë£Œë¨
âœ… ë°ì´í„° ì €ì¥ ì™„ë£Œ!
âœ… MySQL ì—°ê²° ì¢…ë£Œë¨

### original_data ë°ì´í„°ì…‹ ë¶ˆëŸ¬ì˜¤ê¸°

In [83]:
original_data = pd.read_csv("C:/ZIPcoding/2019~2025 data.csv", low_memory=False)

In [8]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689611 entries, 0 to 689610
Data columns (total 23 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ì ‘ìˆ˜ì—°ë„              689611 non-null  int64
 1   ìì¹˜êµ¬ì½”ë“œ             689611 non-null  int64
 2   ìì¹˜êµ¬ëª…              689610 non-null  object
 3   ë²•ì •ë™ì½”ë“œ             689611 non-null  int64
 4   ë²•ì •ë™ëª…              689611 non-null  object
 5   ì§€ë²ˆêµ¬ë¶„              646137 non-null  float64
 6   ì§€ë²ˆêµ¬ë¶„ëª…             646137 non-null  object
 7   ë³¸ë²ˆ                646149 non-null  object
 8   ë¶€ë²ˆ                646149 non-null  object
 9   ê±´ë¬¼ëª…               646142 non-null  object
 10  ê³„ì•½ì¼               689611 non-null  int64
 11  ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)          689611 non-null  int64
 12  ê±´ë¬¼ë©´ì (ã¡)           689611 non-null  float64
 13  í† ì§€ë©´ì (ã¡)           550039 non-null  float64
 14  ì¸µ                 646196 non-null  float64
 15  ê¶Œë¦¬êµ¬ë¶„              5189 non-null    object
 16  ì·¨ì†Œì¼               27357 non-null   float64
 17  ê±´ì¶•ë…„ë„              686281 non-null  float64
 18  ê±´ë¬¼ìš©ë„              689611 non-null  object
 19  ì‹ ê³ êµ¬ë¶„              252716 non-null  object
 20  ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…  206972 non-null  object
 21  ê±´ë¬¼ë©´ì ì •ìˆ˜            689611 non-null  int64
 22  ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)       528541 non-null  float64
dtypes: float64(7), int64(6), object(10)
memory usage: 121.0+ MB

### 6ê°œì›” ì¹˜ ê³„ì‚°í•œ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [84]:
region_output2020 = pd.read_csv("C:/ZIPcoding/region_output_2020.csv", low_memory=False)
region_output2021 = pd.read_csv("C:/ZIPcoding/region_output_2021.csv", low_memory=False)
region_output2022 = pd.read_csv("C:/ZIPcoding/region_output_2022.csv", low_memory=False)
region_output2023 = pd.read_csv("C:/ZIPcoding/region_output_2023.csv", low_memory=False)
region_output2024 = pd.read_csv("C:/ZIPcoding/region_output_2024.csv", low_memory=False)
region_output2025 = pd.read_csv("C:/ZIPcoding/region_output_2025.csv", low_memory=False)

In [75]:
region_output2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64820 entries, 0 to 64819
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ì¸ë±ìŠ¤           64820 non-null  int64
 1   ê³„ì•½ì¼           64820 non-null  object
 2   ë¬¼ê±´ê¸ˆì•¡          64820 non-null  int64
 3   ìì¹˜êµ¬ì½”ë“œ         64820 non-null  int64
 4   ë²•ì •ë™ì½”ë“œ         64820 non-null  int64
 5   ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰   64820 non-null  int64
 6   ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡  64820 non-null  float64
 7   ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰     64820 non-null  int64
 8   ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡    64820 non-null  float64
dtypes: float64(2), int64(6), object(1)
memory usage: 4.5+ MB

### ë°ì´í„° ë³‘í•©

In [97]:
all = pd.concat([region_output2020, region_output2021, region_output2022, region_output2023, region_output2024, region_output2025])

In [103]:
all.iloc[:,[0,5,6,7,8]]

         ì¸ë±ìŠ¤  ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰  ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡  ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰   ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡
0     373367         4305    66288.2381       1223   47385.3998
1     373445         4305    66288.2381       1223   47385.3998
2     373530         4305    66288.2381       1223   47385.3998
3     373553         4305    66288.2381        118   75381.2712
4     373557         4305    66288.2381        118   75381.2712
...      ...          ...           ...        ...          ...
6115    6118         2336    99489.8288         90   82274.2222
6116    6098         2336    99489.8288         51   89870.5882
6117    6112         2114    95035.8832        157  105898.1529
6118    6102         2206   194465.3395        107  128128.0374
6119    6107         2708   213764.9830        179  187314.2291

[548407 rows x 5 columns]

In [117]:
result = pd.merge(original_data, all.iloc[:,[0,5,6,7,8]], left_index = True, right_on = 'ì¸ë±ìŠ¤', how='left')

In [119]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 689611 entries, 10.0 to nan
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ì ‘ìˆ˜ì—°ë„              689611 non-null  int64
 1   ìì¹˜êµ¬ì½”ë“œ             689611 non-null  int64
 2   ìì¹˜êµ¬ëª…              689610 non-null  object
 3   ë²•ì •ë™ì½”ë“œ             689611 non-null  int64
 4   ë²•ì •ë™ëª…              689611 non-null  object
 5   ì§€ë²ˆêµ¬ë¶„              646137 non-null  float64
 6   ì§€ë²ˆêµ¬ë¶„ëª…             646137 non-null  object
 7   ë³¸ë²ˆ                646149 non-null  object
 8   ë¶€ë²ˆ                646149 non-null  object
 9   ê±´ë¬¼ëª…               646142 non-null  object
 10  ê³„ì•½ì¼               689611 non-null  int64
 11  ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)          689611 non-null  int64
 12  ê±´ë¬¼ë©´ì (ã¡)           689611 non-null  float64
 13  í† ì§€ë©´ì (ã¡)           550039 non-null  float64
 14  ì¸µ                 646196 non-null  float64
 15  ê¶Œë¦¬êµ¬ë¶„              5189 non-null    object
 16  ì·¨ì†Œì¼               27357 non-null   float64
 17  ê±´ì¶•ë…„ë„              686281 non-null  float64
 18  ê±´ë¬¼ìš©ë„              689611 non-null  object
 19  ì‹ ê³ êµ¬ë¶„              252716 non-null  object
 20  ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…  206972 non-null  object
 21  ê±´ë¬¼ë©´ì ì •ìˆ˜            689611 non-null  int64
 22  ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)       528541 non-null  float64
 23  ì¸ë±ìŠ¤               689611 non-null  int64
 24  ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰       548407 non-null  float64
 25  ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡      548407 non-null  float64
 26  ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰         548407 non-null  float64
 27  ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡        548407 non-null  float64
dtypes: float64(11), int64(7), object(10)
memory usage: 152.6+ MB

In [121]:
result.sort_index()

,ì ‘ìˆ˜ì—°ë„,ìì¹˜êµ¬ì½”ë“œ,ìì¹˜êµ¬ëª…,ë²•ì •ë™ì½”ë“œ,ë²•ì •ë™ëª…,ì§€ë²ˆêµ¬ë¶„,ì§€ë²ˆêµ¬ë¶„ëª…,ë³¸ë²ˆ,ë¶€ë²ˆ,ê±´ë¬¼ëª…,...,ê±´ë¬¼ìš©ë„,ì‹ ê³ êµ¬ë¶„,ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…,ê±´ë¬¼ë©´ì ì •ìˆ˜,ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›),ì¸ë±ìŠ¤,ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰,ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡,ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰,ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡
0.0,2025,11440,ë§ˆí¬êµ¬,10400,ë„í™”ë™,1.0,ëŒ€ì§€,550.0,0.0,ì‚¼ì„±,...,ì•„íŒŒíŠ¸,ì§ê±°ë˜,NaN,72,129500.0,1,1881.0,86733.8729,139.0,85297.1223
0.0,2025,11740,ê°•ë™êµ¬,10900,ì²œí˜¸ë™,1.0,ëŒ€ì§€,227.0,2.0,ì•„ì„±í”ŒëŸ¬ìŠ¤,...,ì—°ë¦½ë‹¤ì„¸ëŒ€,ì§ê±°ë˜,NaN,24,37000.0,6234,2751.0,83082.8241,509.0,51100.5010
0.0,2023,11740,ê°•ë™êµ¬,10900,ì²œí˜¸ë™,1.0,ëŒ€ì§€,110.0,3.0,ì„¸ë¦¼íí•˜ìš°ìŠ¤,...,ì—°ë¦½ë‹¤ì„¸ëŒ€,ì¤‘ê°œê±°ë˜,ì„œìš¸ ê°•ë™êµ¬,34,NaN,173530,1003.0,48515.3370,330.0,36431.8939
0.0,2024,11680,ê°•ë‚¨êµ¬,10300,ê°œí¬ë™,1.0,ëŒ€ì§€,0012,0000,ì‚¼ìµëŒ€ì²­ì•„íŒŒíŠ¸,...,ì•„íŒŒíŠ¸,ì¤‘ê°œê±°ë˜,ì„œìš¸ ê°•ë‚¨êµ¬,60,NaN,103044,1784.0,185502.4254,278.0,181095.0504
0.0,2022,11440,ë§ˆí¬êµ¬,12500,ì„±ì‚°ë™,1.0,ëŒ€ì§€,271.0,13.0,ìœ ì„±ë¹Œë¼,...,ì—°ë¦½ë‹¤ì„¸ëŒ€,ì¤‘ê°œê±°ë˜,ì„œìš¸ ë§ˆí¬êµ¬,53,5300.0,238405,2543.0,63767.6217,802.0,45250.2781
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,2018,11500,ê°•ì„œêµ¬,10300,í™”ê³¡ë™,1.0,ëŒ€ì§€,1159.0,0.0,"ìš°ì¥ì‚°ì•„ì´íŒŒí¬,ì´í¸í•œì„¸ìƒ",...,ì•„íŒŒíŠ¸,NaN,NaN,101,90000.0,689606,NaN,NaN,NaN,NaN
NaN,2018,11410,ì„œëŒ€ë¬¸êµ¬,11200,ëŒ€í˜„ë™,1.0,ëŒ€ì§€,144.0,0.0,ëŸ­í‚¤ëŒ€í˜„,...,ì•„íŒŒíŠ¸,NaN,NaN,83,76000.0,689607,NaN,NaN,NaN,NaN
NaN,2018,11590,ë™ì‘êµ¬,10700,ì‚¬ë‹¹ë™,1.0,ëŒ€ì§€,169.0,32.0,í˜„ëŒ€,...,ì•„íŒŒíŠ¸,NaN,NaN,51,41800.0,689608,NaN,NaN,NaN,NaN
NaN,2018,11350,ë…¸ì›êµ¬,10500,ìƒê³„ë™,1.0,ëŒ€ì§€,1380.0,4.0,ì´ˆì‚°ë¹Œë¼,...,ì—°ë¦½ë‹¤ì„¸ëŒ€,NaN,NaN,41,NaN,689609,NaN,NaN,NaN,NaN
NaN,2018,11380,ì€í‰êµ¬,11000,ì¦ì‚°ë™,1.0,ëŒ€ì§€,189.0,63.0,ê¶ì „ë§¨ì…˜(189-63),...,ì—°ë¦½ë‹¤ì„¸ëŒ€,NaN,NaN,54,19500.0,689610,NaN,NaN,NaN,NaN

### ì›ë˜ì˜ ì¸ë±ìŠ¤ ê°’ì„ ë‹´ê³  ìˆëŠ” 'ì¸ë±ìŠ¤' ì»¬ëŸ¼ì„ index ì„¤ì •í•˜ê³  ì •ë ¬

In [125]:
result = result.set_index('ì¸ë±ìŠ¤').sort_index()

In [127]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 689611 entries, 0 to 689610
Data columns (total 27 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ì ‘ìˆ˜ì—°ë„              689611 non-null  int64
 1   ìì¹˜êµ¬ì½”ë“œ             689611 non-null  int64
 2   ìì¹˜êµ¬ëª…              689610 non-null  object
 3   ë²•ì •ë™ì½”ë“œ             689611 non-null  int64
 4   ë²•ì •ë™ëª…              689611 non-null  object
 5   ì§€ë²ˆêµ¬ë¶„              646137 non-null  float64
 6   ì§€ë²ˆêµ¬ë¶„ëª…             646137 non-null  object
 7   ë³¸ë²ˆ                646149 non-null  object
 8   ë¶€ë²ˆ                646149 non-null  object
 9   ê±´ë¬¼ëª…               646142 non-null  object
 10  ê³„ì•½ì¼               689611 non-null  int64
 11  ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)          689611 non-null  int64
 12  ê±´ë¬¼ë©´ì (ã¡)           689611 non-null  float64
 13  í† ì§€ë©´ì (ã¡)           550039 non-null  float64
 14  ì¸µ                 646196 non-null  float64
 15  ê¶Œë¦¬êµ¬ë¶„              5189 non-null    object
 16  ì·¨ì†Œì¼               27357 non-null   float64
 17  ê±´ì¶•ë…„ë„              686281 non-null  float64
 18  ê±´ë¬¼ìš©ë„              689611 non-null  object
 19  ì‹ ê³ êµ¬ë¶„              252716 non-null  object
 20  ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…  206972 non-null  object
 21  ê±´ë¬¼ë©´ì ì •ìˆ˜            689611 non-null  int64
 22  ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)       528541 non-null  float64
 23  ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰       548407 non-null  float64
 24  ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡      548407 non-null  float64
 25  ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰         548407 non-null  float64
 26  ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡        548407 non-null  float64
dtypes: float64(11), int64(6), object(10)
memory usage: 147.3+ MB

In [141]:
result[result['ë²•ì •ë™ëª…']=='ì‹ ì‚¬ë™'][['ê³„ì•½ì¼', 'ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰']]

             ê³„ì•½ì¼  ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰
ì¸ë±ìŠ¤
206     20250210       2115.0
364     20250207       2144.0
688     20250205       2167.0
770     20250204       2167.0
856     20250203       2194.0
...          ...          ...
689290  20190103          NaN
689335  20190103          NaN
689349  20190103          NaN
689455  20190102          NaN
689510  20190102          NaN

[4875 rows x 2 columns]

In [143]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 689611 entries, 0 to 689610
Data columns (total 27 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ì ‘ìˆ˜ì—°ë„              689611 non-null  int64
 1   ìì¹˜êµ¬ì½”ë“œ             689611 non-null  int64
 2   ìì¹˜êµ¬ëª…              689610 non-null  object
 3   ë²•ì •ë™ì½”ë“œ             689611 non-null  int64
 4   ë²•ì •ë™ëª…              689611 non-null  object
 5   ì§€ë²ˆêµ¬ë¶„              646137 non-null  float64
 6   ì§€ë²ˆêµ¬ë¶„ëª…             646137 non-null  object
 7   ë³¸ë²ˆ                646149 non-null  object
 8   ë¶€ë²ˆ                646149 non-null  object
 9   ê±´ë¬¼ëª…               646142 non-null  object
 10  ê³„ì•½ì¼               689611 non-null  int64
 11  ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)          689611 non-null  int64
 12  ê±´ë¬¼ë©´ì (ã¡)           689611 non-null  float64
 13  í† ì§€ë©´ì (ã¡)           550039 non-null  float64
 14  ì¸µ                 646196 non-null  float64
 15  ê¶Œë¦¬êµ¬ë¶„              5189 non-null    object
 16  ì·¨ì†Œì¼               27357 non-null   float64
 17  ê±´ì¶•ë…„ë„              686281 non-null  float64
 18  ê±´ë¬¼ìš©ë„              689611 non-null  object
 19  ì‹ ê³ êµ¬ë¶„              252716 non-null  object
 20  ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…  206972 non-null  object
 21  ê±´ë¬¼ë©´ì ì •ìˆ˜            689611 non-null  int64
 22  ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)       528541 non-null  float64
 23  ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰       548407 non-null  float64
 24  ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡      548407 non-null  float64
 25  ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰         548407 non-null  float64
 26  ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡        548407 non-null  float64
dtypes: float64(11), int64(6), object(10)
memory usage: 147.3+ MB

### ë°ì´í„° ì €ì¥

In [145]:
result.to_csv("C:/ZIPcoding/dataset0217.csv")

### 2019ë…„ ë°ì´í„° ì‚­ì œí•˜ê³  ì €ì¥

In [147]:
# âœ… ê³„ì•½ì¼ ì»¬ëŸ¼ì—ì„œ 2020ë…„ ì´í›„ ë°ì´í„°ë§Œ ë‚¨ê¸°ê¸°
result = result[result["ê³„ì•½ì¼"].astype(str).str[:4].astype(int) >= 2020]

# âœ… ìµœì¢… ê²°ê³¼ í™•ì¸
print(f"âœ… 2020ë…„ ì´í›„ ë°ì´í„° í•„í„°ë§ ì™„ë£Œ! ì´ {result.shape[0]} í–‰")
print(result.head())

âœ… 2020ë…„ ì´í›„ ë°ì´í„° í•„í„°ë§ ì™„ë£Œ! ì´ 548407 í–‰
     ì ‘ìˆ˜ì—°ë„  ìì¹˜êµ¬ì½”ë“œ  ìì¹˜êµ¬ëª…  ë²•ì •ë™ì½”ë“œ ë²•ì •ë™ëª…  ì§€ë²ˆêµ¬ë¶„ ì§€ë²ˆêµ¬ë¶„ëª…     ë³¸ë²ˆ    ë¶€ë²ˆ    ê±´ë¬¼ëª…  ...  \
ì¸ë±ìŠ¤                                                                 ...
0    2025  11230  ë™ëŒ€ë¬¸êµ¬  10400  ì „ë†ë™   1.0    ëŒ€ì§€    3.0  92.0  ì´ë„ì¸ë¹Œë”©  ...
1    2025  11440   ë§ˆí¬êµ¬  10400  ë„í™”ë™   1.0    ëŒ€ì§€  550.0   0.0     ì‚¼ì„±  ...
2    2025  11230  ë™ëŒ€ë¬¸êµ¬  10400  ì „ë†ë™   1.0    ëŒ€ì§€    3.0  92.0  ì´ë„ì¸ë¹Œë”©  ...
3    2025  11230  ë™ëŒ€ë¬¸êµ¬  10400  ì „ë†ë™   1.0    ëŒ€ì§€    3.0  92.0  ì´ë„ì¸ë¹Œë”©  ...
4    2025  11230  ë™ëŒ€ë¬¸êµ¬  10400  ì „ë†ë™   1.0    ëŒ€ì§€    3.0  92.0  ì´ë„ì¸ë¹Œë”©  ...

       ê±´ì¶•ë…„ë„   ê±´ë¬¼ìš©ë„  ì‹ ê³ êµ¬ë¶„  ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…  ê±´ë¬¼ë©´ì ì •ìˆ˜ ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)  ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰  \
ì¸ë±ìŠ¤
0    2018.0   ì˜¤í”¼ìŠ¤í…”   ì§ê±°ë˜               NaN      26      6991.0       1827.0
1    1997.0    ì•„íŒŒíŠ¸   ì§ê±°ë˜               NaN      72    129500.0       1881.0
2    2018.0  ì—°ë¦½ë‹¤ì„¸ëŒ€   ì§ê±°ë˜               NaN      34     10463.0       1827.0
3    2018.0  ì—°ë¦½ë‹¤ì„¸ëŒ€   ì§ê±°ë˜               NaN      34     10463.0       1827.0
4    2018.0  ì—°ë¦½ë‹¤ì„¸ëŒ€   ì§ê±°ë˜               NaN      34     10463.0       1827.0

     ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡ ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰  ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡
ì¸ë±ìŠ¤
0      67301.1970     243.0  68213.0288
1      86733.8729     139.0  85297.1223
2      67301.1970     243.0  68213.0288
3      67301.1970     243.0  68213.0288
4      67301.1970     243.0  68213.0288

[5 rows x 27 columns]

In [149]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 548407 entries, 0 to 563537
Data columns (total 27 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ì ‘ìˆ˜ì—°ë„              548407 non-null  int64
 1   ìì¹˜êµ¬ì½”ë“œ             548407 non-null  int64
 2   ìì¹˜êµ¬ëª…              548406 non-null  object
 3   ë²•ì •ë™ì½”ë“œ             548407 non-null  int64
 4   ë²•ì •ë™ëª…              548407 non-null  object
 5   ì§€ë²ˆêµ¬ë¶„              515135 non-null  float64
 6   ì§€ë²ˆêµ¬ë¶„ëª…             515135 non-null  object
 7   ë³¸ë²ˆ                515147 non-null  object
 8   ë¶€ë²ˆ                515147 non-null  object
 9   ê±´ë¬¼ëª…               515132 non-null  object
 10  ê³„ì•½ì¼               548407 non-null  int64
 11  ë¬¼ê±´ê¸ˆì•¡(ë§Œì›)          548407 non-null  int64
 12  ê±´ë¬¼ë©´ì (ã¡)           548407 non-null  float64
 13  í† ì§€ë©´ì (ã¡)           476004 non-null  float64
 14  ì¸µ                 515186 non-null  float64
 15  ê¶Œë¦¬êµ¬ë¶„              3076 non-null    object
 16  ì·¨ì†Œì¼               27357 non-null   float64
 17  ê±´ì¶•ë…„ë„              545284 non-null  float64
 18  ê±´ë¬¼ìš©ë„              548407 non-null  object
 19  ì‹ ê³ êµ¬ë¶„              252716 non-null  object
 20  ì‹ ê³ í•œ ê°œì—…ê³µì¸ì¤‘ê°œì‚¬ ì‹œêµ°êµ¬ëª…  206972 non-null  object
 21  ê±´ë¬¼ë©´ì ì •ìˆ˜            548407 non-null  int64
 22  ì´ì „ ì‹¤ê±°ë˜ê°€(ë§Œì›)       416966 non-null  float64
 23  ìì¹˜êµ¬ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰       548360 non-null  float64
 24  ìì¹˜êµ¬ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡      548360 non-null  float64
 25  ë™ìµœê·¼6ê°œì›”ê±°ë˜ëŸ‰         548360 non-null  float64
 26  ë™ìµœê·¼6ê°œì›”í‰ê· ê¸ˆì•¡        548360 non-null  float64
dtypes: float64(11), int64(6), object(10)
memory usage: 117.2+ MB

In [151]:
result.to_csv("C:/ZIPcoding/dataset0217ver.csv")